.vitae {
  .inline {
    display: inline;
    margin: 0;
  }
  .hidden {
    display: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .link.icon {
      display: none;
    }
  }
  .header_about {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    .about {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1em;
    }
    .name {
      font-weight: 600;
      font-size: 180%;
    }
    .tagline {
      font-weight: 400;
      font-size: 125%;
    }
    .profile {
      @include list-style(0rem, var(--list-style_indent));
    }
  }
  .layout-letter {
    .name {
      font-size: 125%;
      margin-bottom: 0.5em;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact,
  .fragment,
  .link,
  .selflink {
    &_item {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 1ch;
      // align-items: center;
      align-items: flex-start;
      // &_icon {
      //   display: flex;
      //   flex-direction: row;
      //   align-items: center;
      //   flex-wrap: nowrap;
      //   column-gap: 1em;
      //   justify-content: flex-start;
      //   align-content: flex-start;
      // }
      .icon {
        width: 1em;
        height: calc(var(--line-height) * 1em);
        &.solid {
          width: 0.7em;
          height: calc(var(--line-height) * 0.7em);
          margin: 0.15em;
        }
      }
      // &-qrcode
      //   .qrcode-svg
      //     min-width: 48px
      //     width: 80%
      //     max-width: 100%
      //     height: auto
      &_with-qrcode {
        max-width: 16em;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  .contact_link ~ .contact_link {
    margin-top: var(--inner_margin_4-4);
    padding-top: var(--inner_padding_4-4);
    &::before {
      position: absolute;
      content: "";
      top: 0;
      height: 0;
      left: 0;
      right: 0;
      border-top: 0.1rem solid var(--border-color-faint);
    }
  }
  .selflink-item {
    margin-left: auto;
    // Do not show link to self on mobile device
    @media (pointer: coarse) and (hover: none) {
      display: none;
    }
  }
  #printPreviewNav {
    display: none;
    @media only screen {
      display: block;
      position: fixed;
      right: 3rem;
      top: 5rem;
      background: var(--bg);
      border: 0.125em solid var(--xxhaze);
      border-radius: 0.25rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      column-gap: 1em;
      padding: 0.5em 1em;
      z-index: ($main-z-index + 3);
      svg {
        position: relative;
        width: 1em;
        height: 1em;
        z-index: 999;
        &:hover {
          cursor: pointer;
        }
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          left: calc(max(2em, 2%));
          top: calc(max(2em, 2%));
          width: 1.25em;
          height: 1.25em;
          background: var(--bg);
          border: 0.125em solid var(--xxhaze);
          border-radius: 50%;
        }
      }
    }
    // Various range sliders: https://freefrontend.com/css-range-sliders/
    // Source: https://codepen.io/bgebelein/pen/wvYeapy
    .print-preview_scale {
      &_wrapper {
        position: relative;
        // height: 20rem;
        // width: 3rem;
        width: 25em;
        height: 1.25em;
        display: flex;
        justify-content: center;

        &::before,
        &::after {
          display: block;
          position: absolute;
          z-index: 99;
          // color: #fff;
          color: var(--text-color-faint);
          background-color: var(--bg);
          border: 0.05em solid var(--xxhaze);
          // width: 100%;
          width: auto;
          height: auto;
          text-align: center;
          font-size: 0.7em;
          line-height: 1;
          padding: 0.3em;
          pointer-events: none;
        }

        &::before {
          content: "50%";
          left: 0;
        }

        &::after {
          content: "200%";
          right: 0;
        }
      }
      &_value {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 99;
        padding: 0.3em;
        background-color: var(--bg);
        border: 0.05em solid var(--xxhaze);
        text-align: center;
        font-size: 0.7em;
        line-height: 1;
        width: 4em;
      }
    }

    input[type="range"] {
      --RGB_slider_bg: var(--RGB_theme);
      --slider_text: var(--text);
      -webkit-appearance: none;
      appearance: none;
      // background-color: rgba(#fff, .2);
      background-color: var(--RGB_slider_bg);
      position: absolute;
      // top: 50%;
      // left: 50%;
      top: 0;
      left: 5em;
      margin: 0;
      padding: 0;
      width: 20em;
      // height: 3.5rem;
      height: 1.5rem;
      // transform: translate(-50%, -50%) rotate(-90deg);
      // border-radius: 1rem;
      overflow: hidden;
      // cursor: row-resize;
      cursor: col-resize;

      &[step]{
        background-color: transparent;
        // background-image: repeating-linear-gradient(to right, rgba(#fff, .2), rgba(#fff, .2) calc(12.5% - 1px), #05051a 12.5%);
        background-image: repeating-linear-gradient(to right, rgba(var(--RGB_slider_bg), .2), rgba(var(--RGB_slider_bg), .2) calc(12.5% - 2px), var(--slider_text) 12.5%);
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0;
        // box-shadow: -20rem 0 0 20rem rgba(#fff, 0.2);
        box-shadow: -20rem 0 0 20rem rgba(var(--RGB_slider_bg), 0.2);
      }

      &::-moz-range-thumb {
        border: none;
        width: 0;
        // box-shadow: -20rem 0 0 20rem rgba(#fff, 0.2);
        box-shadow: -20rem 0 0 20rem rgba(var(--RGB_slider_bg), 0.2);
      }
    }
  }
}
svg.qrcode-svg {
  fill: var(--text);
  stroke: var(--text);
}
.qrcode-svg {
  svg {
    fill: transparent;
  }
}
html[data-mode="dim"] {
  svg.qrcode-svg {
    fill: var(--text);
    stroke: var(--text);
  }
  .qrcode-svg {
    svg {
      background: transparent !important;
      fill: transparent !important;
      path {
        stroke: var(--text) !important;
        fill: var(--text) !important;
      }
      text {
        stroke: var(--text) !important;
        fill: var(--text) !important;
      }
    }
  }
}
@media only screen and (prefers-color-scheme: dark) {
  html:not([data-mode="lit"]) {
    svg.qrcode-svg {
      fill: var(--text);
      stroke: var(--text);
    }
    .qrcode-svg {
      svg {
        background: transparent !important;
        fill: transparent !important;
        path {
          stroke: var(--text) !important;
          fill: var(--text) !important;
        }
        text {
          stroke: var(--text) !important;
          fill: var(--text) !important;
        }
      }
    }
  }
};

.vitae {
  .view-print {
    --section-title_margin_bottom: var(--inner_margin_4-1);
    --section-title_margin_top_between: var(--inner_margin_4-2);
    .style_layout_inline {
      --section-title_margin_bottom: var(--inner_margin_4-1);
      --section-title_margin_top_between: var(--inner_margin_4-3);
    }
  }

  .section-title {
    position: relative;
    font-family: var(--font-section-title);
    @include upper-caps-strong;
    margin: var(--section-title_margin_top_between) 0 var(--section-title_margin_bottom) 0;
    padding: 0;
    &:fist-child {
      margin-top: 0;
    }
  }
}

.vitae .component {

  /* ----- Component HEADER ------ */
  &_header {
    font-size: var(--font-size-normal);
    &.style_font-size_larger-1 {
      font-size: var(--font-size-larger-1);
    }
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    &.portrait {
      &_overlay {
        &_color-white {
          color: white;
          --header-text: white;
        }

        &_position-left {
          .overlay {
            grid-column: 1 / span 2;
          }
        }
      }
    }

    .portrait {
      &_figure {
        z-index: 1;
        grid-row: 1 / span 3;
        grid-column: 1 / span all;
      }

      &_img {
        margin: 0;
        padding: 0;
        max-width: 100%;
        width: 100%;
        height: 100%;
        height: calc( var(--page_height) * var(--front-page_header_height_fraction) + var(--page_margin_top) );
        object-fit: cover;
        object-position: center center;
        border-radius: 0;
      }
    }
    @at-root {
      .vitae .view-print .component_header .portrait_figure {
        @include full-bleed_page(top, both);
      }
    }

    .overlay {
      z-index: 2;
      // grid-row: 1 / span 2;
      grid-row: 1;
      grid-column: 2 / span 2;
      display: flex;
      flex-direction: column;
      // row-gap: 0.5em;

      .headline {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        line-height: 1.6;
        font-size: var(--font-size-larger-6);

        &>*:first-child {
          line-height: 1;
        }
      }

      .role {
        text-align: left;
        font-size: var(--font-size-larger-4);
        font-weight: 400;
      }

      .degree {
        font-size: var(--font-size-larger-1);
        @include upper-caps;
      }
    }
    &.style_ats_true {
      .portrait {
        &_figure {
          grid-column: 3;
          margin: 0;
        }

        &_img {
          height: calc( var(--page_height) * var(--front-page_header_height_fraction) );
        }
      }
    }
  }

  /* ----- Component PANELS ------ */
  &_panels {
    font-size: var(--font-size-normal);
    h3, h4, h5, dt {
      font-size: var(--font-size-larger-1);
      font-weight: var(--font-weight);
    }
    &.panels {
      &_cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 var(--column_gap);
      }
    }
    .panel {
      &_title {
        padding: 0 0 var(--inner_padding_4-1) 0;
        margin: 0;
      }
    }
    dl {
      /*
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: calc( var(--num_columns) * var(--column_content_width) + (var(--num_columns) - 1) * var(--column_gap));
        height: 10px;
        background: red;
        content: "";
      }
      */
      display: grid;
      gap: var(--inner_padding_4-1) var(--column_gap);
      grid-template-columns: repeat(var(--num_columns), 1fr);
      align-items: start;
      grid-auto-flow: dense row;
      hyphens: manual;
      --dt_columns: 4;
      --dd_column_skip: 1;
      --content_width: calc(var(--page_width) - var(--page_margin_left) - var(--page_margin_right));
      --column_content_width: calc( (var(--content_width) - 11 * var(--column_gap)) / var(--num_columns));
      dt {
        grid-column: 1 / span var(--dt_columns);
        width: auto;
        padding-right: calc(var(--column_gap));
      }
      dd {
        grid-column: calc(var(--dt_columns) + var(--dd_column_skip)) / span calc(var(--num_columns) - var(--dt_columns));
        width: auto;
        margin-left: calc(0px - var(--column_gap));
        padding-left: calc(var(--column_gap));
        border-left: var(--line-width_separator_heading) solid var(--border-color-faint);
      }
    }
    &.style_layout_inline {
      display: flex;
      flex-direction: column;
      .panel {
        &_title {
          padding: var(--inner_padding_4-1) 0 0 0;
          margin: 0;
          &:first-of-type {
            padding-top: 0;
          }
        }
      }
    }
    &.style_font-size_larger-1 {
      font-size: var(--font-size-larger-1);
    }
    &.style_font-size_normal {
      font-size: var(--font-size-normal);
      h3, h4, h5 {
        font-size: var(--font-size-normal);
      }
    }
  }

  /* ----- Component PROFILE ------ */
  &_profile {
    font-size: var(--font-size-normal);
    &.font-size_larger-1 {
      font-size: var(--font-size-larger-1);
    }
    &.profile {
      &_content {
        margin-top: var(--inner_margin_4-2);
      }
      &_competencies {
        display: grid;
        gap: var(--inner_margin_4-1) var(--inner_margin_4-4)
      }
    }
    .panel {
      &_title {
        // @include upper-caps;
        padding-bottom: 0;
        margin: 0;
      }
    }
    .card {
      &_title {
        font-size: var(--font-size-larger-1);
      }
    }
    dl {
      display: grid;
      gap: var(--inner_margin_4-2) var(--inner_margin_4-4);
      hyphens: manual;
      dt {
        grid-column: 1;
        width: auto;
      }
      dd {
        grid-column: 2;
        width: auto;
        padding-left: var(--inner_padding_4-4);
        border-left: var(--line-width_separator_heading) solid var(--border-color-faint);
      }
    }
  }

  /* ----- Component STAGES ------ */

  &_stages {

    --font-size-heading-organization: var(--font-size-larger-1);
    --font-weight-heading-organization: var(--font-weight-strong);
    --font-size-heading-role: var(--font-size-larger-1);
    --font-weight-heading-role: var(--font-weight-strong);

    --font-size_stage_header_main: var(--font-size-larger-1);
    --font-size_stage_header_meta: var(--font-size-normal);
    --font-size_date_duration: var(--font-size_stage_header_meta);

    --font-size_date_period: var(--font-size-larger-1);

    --inline-list-item-separation: 2ch;
    --inline-list-sep-width: var(--inline-list-item-separation) / 3.0;

    --organization_logo_width: calc(2 * var(--rem));

    --padding_organization_between: var(--inner_padding_4-4);
    --padding_organization_first: var(--inner_padding_4-0);
    --padding_role_between: var(--inner_padding_4-4);
    --padding_role_first: var(--inner_padding_4-2);

    --padding_stage_meta: var(--inner_padding_4-0);

    --padding_stage_content_between: var(--inner_padding_4-2);
    --padding_stage_content_first: var(--inner_padding_4-1);

    --grid_period-column_width: 11em;
    --grid_separator-column_width: var(--inner_margin_4-2);

    position: relative;

    // Periods of time such as "Mar 2022-Jul 2023"
    .stage_period {
      font-size: var(--font-size-smaller-1);
      display: flex;
      flex-direction: column;
      .date_duration {
        @include upper-caps;
        font-size: var(--font-size-smaller-1);
        color: var(--text-color-faint);
        user-select: none;
      }
      .date_period {
        color: var(--text-color-faint)
      }
    }

    .organization_title, .role_title {
      margin: 0;
      padding: 0;
      color: var(--theme-text);
    }
    .organization_title {
      font-size: var(--font-size-heading-organization);
      font-weight: var(--font-weight-heading-organization);
      .remark {
        font-weight: var(--font-weight);
        font-size: var(--font-size-smaller-1);
      }
    }
    .role_title {
      font-size: var(--font-size-heading-role);
      font-weight: var(--font-weight-heading-role);
    }

    .stage {
      &_function, &_unit {
        // font-weight: var(--font-weight-heading-role);
        font-style: italic;
        &_label {
          font-weight: var(--font-weight);
          font-style: normal;
          // @include upper-caps;
        }
      }
    }

    .stage {
      &_logo {
        user-select: none;
        &_img {
          // Reset max-width and max-height to avoid side-effects from base.scss
          max-width: unset;
          max-height: unset;
          width: calc(var(--organization_logo_width));
        }
      }
      &_period {
        user-select: none;
      }
    }

    // Padding before stage_meta when style.layout != inline
    &.stage_header + .stage_meta .stage_main {
      // outline: 1px solid red;
      padding-top: var(--padding_stage_meta);
    }

    // Padding before stage_content
    &.stage_content .stage_main {
      // outline: 1px solid yellow;
      padding-top: var(--padding_stage_content_between);
    }
    &.stage_header, &.stage_meta {
      & + .stage_content .stage_main {
        padding-top: var(--padding_stage_content_first);
      }
    }

    // Header for organizations
    &.organization_header {
      .stage_main {
        padding-top: var(--padding_organization_between);
      }
      &.org_first {
        .stage_main {
          padding-top: var(--padding_organization_first);
        }
      }
    }
    &.component_stages + .organization_header {
      margin-top: 0;
    }
    // &.stage_header, &.stage_meta, &.stage_content {
    //   &:has(+ .organization_header) {
    //     .stage_main {
    //       padding-bottom: calc(var(--padding_organization_between));
    //     }
    //   }
    // }

    // Header for roles at organizations
    &.role_header {
      .stage_main {
        padding-top: var(--padding_role_between);
      }
    }
    // &.role_header ~ .role_header {
    //   .stage_main {
    //     padding-top: var(--padding_role_between);
    //   }
    // }
    &.organization_header, &.stage_meta {
      & + .role_header .stage_main {
        padding-top: var(--padding_role_first);
      }
    }
    &.stage {
      &_header {
        break-after: avoid;
        .stage {
          &_main {
            grid-column: 1 / span all;
            font-size: var(--font-size_stage_header_main);
          }
        }
        &.stage_header_period {
          .stage {
            &_period, &_timeline {
              font-size: var(--font-size_stage_header_main);
              .date_period {
                font-size: var(--font-size_date_period);
              }
              .date_duration {
                font-size: var(--font-size_date_duration);
              }
            }
          }
          &.organization_header {
            .date_period {
              font-weight: var(--font-weight-heading-organization);
            }
          }
        }
      }
      &_period {
        align-items: flex-start;
        font-size: var(--font-size-normal);
      }
      &_meta {
        break-after: avoid;
      }
      &_header, &_meta, &_content {
        display: grid;
        align-items: baseline;
        grid-template-columns:
          var(--grid_period-column_width)
          var(--grid_separator-column_width)
          minmax(0px, max-content);
        .stage {
          &_timeline {
            grid-column: 1;
          }
          &_main {
            grid-column: 3 / span all;
          }
        }
      }
      &_header {
        .stage_main {
          grid-column: 1 / span all;
          // grid-row: 1;
        }
        &.stage_header_period {
          .stage {
            &_period {
              grid-column: 1;
              grid-row: 1;
            }
            &_main {
              grid-row: 1;
              grid-column: 3 / span all;
            }
          }
        }
        &.role_single .role_period {
          opacity: 0;
        }
        &.style_separate_roles_true {
          align-items: start;
          .organization_header {
            grid-column: 1;
          }
          .role_header {
            grid-column: 3 / span all;
          }
        }
      }
    }
    &.stage_meta, &.stage_header .stage_meta {
      // background: var(--RGB_slider_bg);
      font-size: var(--font-size_stage_header_meta);
      .stage_details {
        font-size: var(--font-size-normal);
      }
    }

    /*
     * Timeline style COLUMN
     */

    // First column is dedicated to timeline to facilitate scanning by year
    &.style_timeline_column {
      // FIXME: In Chrome, the alignment of timeline marker and line
      // gets out of control when the width of the timeline is less than
      // 3pt
      --tl-col_timeline_width: calc(0.25 * var(--rem));
      --tl-col_timeline_color: var(--neutral-haze);
      --tl-col_stage-marker_background: var(--neutral-haze);

      --tl-col_stage-marker_width: calc(0.75 * var(--rem));
      --tl-col_stage-marker_height: var(--tl-col_stage-marker_width);
      --tl-col_stage-marker_organization_width: calc(4 / 3 * var(--tl-col_stage-marker_width));
      --tl-col_stage-marker_organization_height: var(--tl-col_stage-marker_organization_width);

      --tl-col_stage-marker_outline_width: calc(0.5 * var(--tl-col_timeline_width));
      --tl-col_stage-marker_organization_outline_width: var(--tl-col_stage-marker_outline_width);

      --tl-col_stage-marker_outline: var(--tl-col_stage-marker_outline_width) solid var(--tl-col_stage-marker_background);
      --tl-col_stage-marker_organization_outline: var(--tl-col_stage-marker_organization_outline_width) solid var(--tl-col_stage-marker_background);

      --grid_separator-column_width: var(--inner_margin_4-3);

      --tl-col_timeline-column_width: calc(max(
        var(--tl-col_stage-marker_width) + 2 * var(--tl-col_stage-marker_outline_width),
        var(--tl-col_stage-marker_organization_width) + 2 * var(--tl-col_stage-marker_organization_outline_width)
      ));

      --tl-col_main_separator-column_width: var(--grid_separator-column_width);

      --tl-col_stage_logo_width: var(--organization_logo_width);
      --tl-col_stage_logo_height: var(--organization_logo_width);


      &.style_logo_left {
        --tl-col_timeline-column_width: calc(var(--tl-col_stage_logo_width) + var(--grid_separator-column_width));
      }

      @mixin timeline_column_line($top: 0px, $right: null, $bottom: null, $left: 0px,
        $line-height: 100%, $line-width: var(--tl-col_timeline_width)) {
        &::after {
          position: absolute;
          @if ($top) {
            top: $top;
            bottom: unset;
          }
          @if ($right) {
            right: calc($right - $line-width / 2);
            left: unset;
          }
          @if ($bottom) {
            top: unset;
            bottom: $bottom;
          }
          @if ($left) {
            right: unset;
            left: calc($left - $line-width / 2);
          }
          display: block;
          margin: 0;
          padding: 0;
          width: $line-width;
          height: $line-height;
          content: "";
          background-color: var(--tl-col_timeline_color);
        }
        &.org_single, &.org_last {
          &.role_last, &.role_single {
            &::after {
              content: none;
            }
          }
        }
      }

      @mixin timeline_column_header_logo($top: null, $right: null, $bottom: null, $left: null,
          $line-height: 100%, $line-width: var(--tl-col_timeline_width),
          $marker-width: var(--tl-col_stage-marker_width), $marker-height: var(--tl-col_stage-marker_height)
      ) {
        .timeline_column_marker::before {
          position: relative;
          display: inline-block;
          content: "";
          @if ($right) {
            margin: 0 calc($right - $marker-width / 2) 0 0;
          }
          @if ($left) {
            margin: 0 0 0 calc($left - $marker-width / 2);
          }
          padding: 0;
          width: $marker-width;
          height: $marker-height;
          border-radius: 50%;
          background-color: var(--tl-col_stage-marker_background);
        }
        &::before {
          position: absolute;
          @if ($top) {
            top: $top;
            bottom: unset;
          }
          @if ($right) {
            right: calc($right - $line-width / 2);
            left: unset;
          }
          @if ($bottom) {
            top: unset;
            bottom: $bottom;
          }
          @if ($left) {
            right: unset;
            left: calc($left - $line-width / 2);
          }
          display: block;
          margin: 0;
          padding: 0;
          width: $line-width;
          height: $line-height;
          content: "";
          background-color: var(--tl-col_timeline_color);
        }
      }

      @mixin timeline_column_header(
          $top-before: null,
          $height-before: 100%,
          $bottom-after: null,
          $height-after: 0px,
          $left: null,
          $right: null,
          $line-height: calc(var(--line-height) * var(--font-size-heading-role)),
          $padding-top: 0px,
          $marker-background: var(--bg),
          $marker-outline: var(--tl-col_stage-marker_outline),
          $marker-width: var(--tl-col_stage-marker_width),
          $marker-height: var(--tl-col_stage-marker_height),
          $marker-border-radius: 50%,
          $line-width: var(--tl-col_timeline_width),
      ) {
        .timeline_column_marker {
          position: absolute;
          top: calc($padding-top + $line-height / 2 - $marker-height / 2);
          @if ($right) {
            right: calc($right - $marker-width / 2);
          }
          @if ($left) {
            left: calc($left - $marker-width / 2);
          }
          padding: 0;
          align-self: start;
          width: $marker-width;
          height: $marker-height;
          border-radius: $marker-border-radius;
          // outline: $marker-outline;
          border: $marker-outline;
          background-color: $marker-background;
          z-index: 1;
        }
        &::before {
          position: absolute;
          @if ($top-before) {
            top: $top-before;
            bottom: unset;
            @if ($left) {
              right: unset;
              left: calc($left - $line-width / 2);
            }
            @if ($right) {
              right: calc($right - $line-width / 2);
              left: unset;
            }
            display: block;
            margin: 0;
            padding: 0;
            width: $line-width;
            height: $height-before;
            content: "";
            background-color: var(--tl-col_timeline_color);
          }
        }
        &::after {
          position: absolute;
          @if ($bottom-after) {
            top: unset;
            bottom: $bottom-after;
            @if ($left) {
              right: unset;
              left: calc($left - $line-width / 2);
            }
            @if ($right) {
              right: calc($right - $line-width / 2);
              left: unset;
            }
            display: block;
            margin: 0;
            padding: 0;
            width: $line-width;
            height: $height-after;
            content: "";
            background-color: var(--tl-col_timeline_color);
          }
        }
      }
      &.stage_meta, &.stage_content {
        // --tl-col_timeline_color: red;
        @include timeline_column_line(
          0px,
          null,
          null,
          calc(var(--tl-col_timeline-column_width) / 2),
          100%
        );
        // &:has( + .organization_header) {
        //   // --tl-col_timeline_color: yellow;
        //   @include timeline_column_line(
        //     0px,
        //     null,
        //     null,
        //     calc(var(--tl-col_timeline-column_width) / 2),
        //     100%
        //   );
        // }
      }
      &.organization_header {
        & + .stage_meta, & + .stage_content {
          // --tl-col_timeline_color: orange;
          @include timeline_column_line(null, null, 0px, calc(var(--tl-col_timeline-column_width) / 2), calc(100% - var(--tl-col_stage-marker_height) / 2));
        }
      }

      &:not(.style_logo_left) {
        &.organization_header {
          // --tl-col_timeline_color: purple;
          @include timeline_column_header(
            0px,
            calc((var(--font-size-heading-organization) * var(--line-height-heading)) - var(--tl-col_stage-marker_organization_height) + var(--padding_organization_between)),
            0px,
            calc(100% - var(--padding_organization_between) - var(--tl-col_stage-marker_organization_height)),
            calc(var(--tl-col_timeline-column_width) / 2),
            null,
            calc(var(--font-size-heading-organization) * var(--line-height-heading)),
            var(--padding_organization_between),
            var(--tl-col_stage-marker_background),
            var(--tl-col_stage-marker_organization_outline),
            var(--tl-col_stage-marker_organization_width),
            var(--tl-col_stage-marker_organization_height),
            null,
            // var(--tl-col_timeline_width),
          );
          &.org_first {
            @include timeline_column_header(
              0px,
              0px,
              0px,
              calc(100% - var(--padding_organization_first) - var(--tl-col_stage-marker_organization_height)),
              calc(var(--tl-col_timeline-column_width) / 2),
              null,
              calc(var(--font-size-heading-organization) * var(--line-height-heading)),
              var(--padding_organization_first),
              var(--tl-col_stage-marker_background),
              var(--tl-col_stage-marker_organization_outline),
              var(--tl-col_stage-marker_organization_width),
              var(--tl-col_stage-marker_organization_height),
              null,
            );
          }
          &.org_last {
            @include timeline_column_header(
              0px,
              calc((var(--font-size-heading-organization) * var(--line-height-heading)) - var(--tl-col_stage-marker_organization_height) + var(--padding_organization_between)),
              0px,
              0px,
              calc(var(--tl-col_timeline-column_width) / 2),
              null,
              calc(var(--font-size-heading-organization) * var(--line-height-heading)),
              var(--padding_organization_between),
              var(--tl-col_stage-marker_background),
              var(--tl-col_stage-marker_organization_outline),
              var(--tl-col_stage-marker_organization_width),
              var(--tl-col_stage-marker_organization_height),
              null,
              // var(--tl-col_timeline_width),
            );
          }
        }
        &.role_header {
          &:not(.org_last) {
            // --tl-col_timeline_color: blue;
            @include timeline_column_header(
              0px,
              calc(var(--padding_role_between)),
              0px,
              // calc(100% - var(--padding_role_between) - max(var(--font-size-normal) * var(--line-height), var(--font-size-heading-role) * var(--line-height-heading))),
              100%,
              calc(var(--tl-col_timeline-column_width) / 2),
              null,
              calc(var(--font-size-heading-role) * var(--line-height-heading)),
              var(--padding_role_between)
            );
          }
          // .stage_main {
          //   padding-top: var(--padding_role_between);
          // }
          &.role_first {
            // --tl-col_timeline_color: orange;
            @include timeline_column_header(
              0px,
              calc(var(--padding_role_first)),
              0px,
              // calc(100% - var(--padding_role_first) - max(var(--font-size-normal) * var(--line-height), var(--font-size-heading-role) * var(--line-height-heading))),
              100%,
              calc(var(--tl-col_timeline-column_width) / 2),
              null,
              calc(var(--font-size-heading-role) * var(--line-height-heading)),
              var(--padding_role_between)
            );
          }
          &.role_single:not(.org_last) {
            // --tl-col_timeline_color: yellow;
            @include timeline_column_header(
              0px,
              calc(var(--padding_role_first)),
              0px,
              calc(100% - var(--padding_role_first)),
              calc(var(--tl-col_timeline-column_width) / 2)
            );
          }
        }
      }
      // &.component_stages + .organization_header {
      //   margin-top: 0;
      // }
      // &.stage_header, &.stage_meta, &.stage_content {
      //   &:has(+ .organization_header) {
      //     .stage_main {
      //       padding-bottom: calc(var(--padding_organization_between));
      //     }
      //   }
      // }

      &.role_header {
        &.style_logo_left {
          &.stage_header_period {
            position: relative;
            // --tl-col_timeline_color: var(--RGB_slider_bg);
            @include timeline_column_header_logo(
              0px,
              null,
              null,
              calc(var(--tl-col_timeline-column_width) / 2));
            &.org_last, &.org_single {
              &.role_last, &.role_single {
                position: relative;
                // --tl-col_timeline_color: blue;
                @include timeline_column_header_logo(
                  0px,
                  null,
                  null,
                  calc(var(--tl-col_timeline-column_width) / 2),
                  // calc(100% - var(--tl-col_stage_logo_height) + var(--tl-col_stage-marker_height)));
                  calc(100% - var(--font-size-heading-role) * var(--line-height-heading) + var(--tl-col_stage-marker_height)));
                &.style_layout_shallow {
                  position: relative;
                  // --tl-col_timeline_color: blue;
                  @include timeline_column_header_logo(
                    0px,
                    null,
                    null,
                    calc(var(--tl-col_timeline-column_width) / 2),
                    calc(100% - var(--tl-col_stage_logo_height) - var(--tl-col_stage-marker_height) / 2));
                }
              }
            }
          }
        }
      }
      &.organization_header + .stage_header.style_logo_left.stage_header_period {
        // background-color: aqua;
        // --tl-col_timeline_color: orange;
        @include timeline_column_header_logo(
          calc(var(--tl-col_stage-marker_height) / 2),
          null,
          null,
          calc(var(--tl-col_timeline-column_width) / 2));
      }
      &.role_header ~ .role_header {
        .stage_main {
          padding-top: calc(var(--padding_role_between));
        }
      }
      &.organization_header + .role_header, &.stage_meta + .role_header {
        .stage_main {
          padding-top: calc(var(--padding_role_first));
        }
      }
      &.stage {
        &_header, &_meta, &_content {
          display: grid;
          align-items: baseline;
          grid-template-columns:
            var(--tl-col_timeline-column_width)
            var(--grid_separator-column_width)
            var(--grid_period-column_width)
            var(--grid_separator-column_width)
            minmax(0px, max-content);
        }
        &_header {
          .stage {
            &_timeline, &_period {
              grid-column: 1;
            }
            &_main {
              grid-column: 3 / span all;
            }
            &_logo {
              grid-column: 1;
              grid-row: 1;
              justify-self: center;
              &_img {
                width: calc(var(--tl-col_stage_logo_width));
              }
            }
          }
          &.stage_header_period {
            .stage {
              &_period, &_main {
                grid-row: 1;
              }
              &_period {
                grid-column: 3;
              }
              &_main {
                grid-column: 5;
              }
            }
          }
        }
        &_meta {
          .stage {
            &_main {
              grid-column: 5;
            }
          }
        }
        &_content {
          .stage {
            &_header {
              grid-row: 1;
              grid-column: 3;
            }
            &_main {
              grid-column: 5;
            }
          }
        }
      }
      &.stage_meta, &.stage_header .stage_meta {
        // background: var(--RGB_slider_bg);
        font-size: var(--font-size_stage_header_meta);
        .stage_details {
          font-size: var(--font-size-normal);
        }
      }
    }

    /*
     * Timeline style DOT-DASH
     */

    // Similar to LinkedIn
    &.style_timeline_dot-dash {
      --tl-dot-dash_column_width: 4rem;
      --tl-dot-dash_padding-right: 0.75rem;
      --tl-dot-dash_marker_border-radius: 50%;
      --tl-dot-dash_marker_pad-v: 0.25rem;
      --tl-dot-dash_marker_width: 0.5rem;
      --tl-dot-dash_marker_height: var(--tl-dot-dash_marker_width);
      --tl-item-pad-v: 0.25rem;
      --tl-line-width: 2px;
      --tl-offset-left: (-1 * var(--tl-dot-dash_column_width) / 2 - var(--tl-dot-dash_padding-right));
      --stage-org-sep-vert: 1.0rem;
      --stage-org-header-mar-v: 0.125rem;
      --stage-role-sep-vert: 1.0rem;
      --stage-org-role-sep-vert: 0.5rem;

      // Header for organizations
      &.organization_header {
        width: 100%;
        display: flex;
        flex-direction: row;
        // horizontal: stick to both ends
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        padding: 0;
        margin: var(--stage-org-header-mar-v) 0;
        break-after: avoid;
        // FIXME: Setting a negative margin on .feature-last
        // breaks the JavaScript function to distribute content
        // across pages
        // &.feature-last
        //   // border: 1px solid blue
        //   margin-bottom: -0.25rem
        &.stage_header_logo {
          min-height: var(--organization_logo_width);
        }
        .organization {
          &_main {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            gap: 0.5rem;
            padding-bottom: 0.25rem;
          }
          &_logo {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            user-select: none;
            &-image {
              // Reset max-width and max-height to avoid side-effects from base.scss
              max-width: unset;
              max-height: unset;
              width: calc(var(--organization_logo_width));
            }
          }
        }
      }
      & + .organization_header {
        margin-top: var(--stage-org-sep-vert);
        &::before {
          border-top: calc(var(--line-width_separator_heading)) solid var(--border-color-faint);
          top: calc(var(--stage-org-sep-vert) / -2);
          content: "";
          height: 0;
          position: absolute;
          left: 0;
          right: 0;
        }
      }

      // Header for roles at organizations
      &.role_header {
        padding: calc(var(--stage-role-sep-vert) + var(--tl-item-pad-v)) 0 calc(var(--tl-item-pad-v)) 0;
      }
      // Reduced padding between organization header and first role header
      &.organization_header + .role_header {
        padding-top: calc(var(--stage-org-role-sep-vert));
      }

      &.role_header {
        position: relative;
        display: flex;
        // FIXME: When there is only one item in .role_header, make sure it has
        // appropriate margin to determine if it sticks to the flex-start or flex-end position
        // E.g. role_title needs margin-right: auto
        // horizontal: stick to both ends
        justify-content: space-between;
        align-items: center;
        break-after: avoid;
        // Dot in the timeline to the left of the role header
        .timeline_dot-dash_marker {
          position: absolute;
          display: block;
          border-radius: var(--tl-dot-dash_marker_border-radius);
          background-color: var(--border-color-faint);
          height: var(--tl-dot-dash_marker_height);
          width: var(--tl-dot-dash_marker_width);
          top: calc((100% + var(--stage-role-sep-vert)) / 2 - var(--tl-dot-dash_marker_height) / 2);
          left: calc((var(--tl-dot-dash_column_width) / 2 - var(--tl-dot-dash_marker_width) / 2) );
        }
      }

      &.timeline {
        padding-left: calc( var(--tl-dot-dash_column_width) );
        // Timeline line part above dot
        &_role_within,
        &_role_last {
          &.role_header::before {
            position: absolute;
            display: block;
            content: "";
            border-radius: 0;
            background-color: var(--border-color-faint);
            width: var(--tl-line-width);
            top: 0;
            height: calc(50% - var(--tl-dot-dash_marker_height) / 2 - var(--tl-dot-dash_marker_pad-v) + var(--stage-role-sep-vert) / 2);
            left: calc((var(--tl-dot-dash_column_width) / 2 - var(--tl-line-width) / 2) );
          }
        }

        &_role_within,
        &_role_first {
          // Timeline line part below dot
          &::before {
            position: absolute;
            display: block;
            content: "";
            border-radius: 0;
            background-color: var(--border-color-faint);
            // z-index: 99
            width: var(--tl-line-width);
            top: var(--tl-dot-dash_marker_pad-v);
            top: 0;
            bottom: 0;
            left: calc((var(--tl-dot-dash_column_width) / 2 - var(--tl-line-width) / 2) );
          }
          // Timeline line part below dot for role header
          &.role_header {
            &::after {
              position: absolute;
              display: block;
              content: "";
              border-radius: 0;
              background-color: var(--border-color-faint);
              width: var(--tl-line-width);
              height: calc(50% - var(--tl-dot-dash_marker_height) / 2 - var(--tl-dot-dash_marker_pad-v) - var(--stage-role-sep-vert) / 2);
              bottom: 0;
              left: calc((var(--tl-dot-dash_column_width) / 2 - var(--tl-line-width) / 2) );
            }
          }
        }
        &.organization_header {
          &.logo {
            padding-left: calc(var(--tl-dot-dash_column_width));
          }
        }

        // Timeline for role header following immediately after organization header:
        &.organization_header + .role_header {
          .timeline_dot-dash_marker {
            top: calc((100% + var(--stage-org-role-sep-vert) - var(--tl-item-pad-v)) / 2 - var(--tl-dot-dash_marker_height) / 2);
          }
          &::before {
            content: none;
          }
          &::after {
            position: absolute;
            display: block;
            content: "";
            border-radius: 0;
            background-color: var(--border-color-faint);
            // z-index: 99
            width: var(--tl-line-width);
            height: calc(50% - var(--tl-dot-dash_marker_height) / 2 + var(--tl-item-pad-v) / 2 - var(--tl-dot-dash_marker_pad-v));
            height: calc((100% - var(--stage-org-role-sep-vert) + var(--tl-item-pad-v)) / 2 - var(--tl-dot-dash_marker_height) / 2 - var(--tl-dot-dash_marker_pad-v));
            bottom: 0;
            left: calc((var(--tl-dot-dash_column_width) / 2 - var(--tl-line-width) / 2) );
          }
        }
      }
    }

    /*
     * Inline style HEADER
     */

     &.style_layout_inline, &.style_inline_header_true {
      // @extend .style_layout_shallow;
      --padding_organization_between: var(--inner_padding_4-3);
      --padding_role_between: var(--inner_padding_4-3);
      .stage {
        &_main {
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
          // &.organization_header_main, &.role_header_main {
          //   display: flex;
          //   flex-direction: row;
          //   flex-wrap: wrap;
          //   justify-content: flex-start;
          //   align-items: baseline;
          // }
        }
      }
      .organization_title, .role_title {
        display: inline-block;
      }
    }

    /*
     * Inline style Content
     */

     &.style_layout_inline, &.style_inline_content_true {
      .stage {
        &_main {
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
          // &.organization_header_main, &.role_header_main {
          //   display: flex;
          //   flex-direction: row;
          //   flex-wrap: wrap;
          //   justify-content: flex-start;
          //   align-items: baseline;
          // }
        }
      }
      &.stage {
        &_content {
          .stage {
            &_header {
              grid-row: auto;
              grid-column: 3 / span all;
            }
            &_main {
              grid-column: 3 / span all;
            }
          }
        }
      }
    }

    /*
     * Layout style NARROW
     */

    &.style_layout_narrow {
      --tl-col_stage-marker_width: calc(0.5 * var(--rem));
      --grid_separator-column_width: var(--inner_margin_4-1);
      --tl-col_timeline_width: calc(0.125 * var(--rem));
      --grid_period-column_width: 6em;
    }

    /*
     * Layout style SHALLOW
     */

     &.style_layout_shallow, &.style_layout_compact {
      .organization_title, .role_title {
        display: inline-block;
      }
      --padding_organization_between: var(--inner_padding_4-1);
      --padding_role_first: var(--inner_padding_4-0);
      --padding_role_between: var(--inner_padding_4-0);
      --padding_stage_meta: 0;
    }

    /*
     * Heading style LARGER-2
     */

    &.style_heading_larger-2 {
      --font-size-heading-organization: var(--font-size-larger-2);
      --font-size-heading-role: var(--font-size-larger-2);
    }

    /*
     * Heading style NORMAL
     */

     &.style_heading_normal {
      --font-size-heading-organization: var(--font-size-normal);
      // --font-weight-heading-organization: var(--font-weight);
      --font-size-heading-role: var(--font-size-normal);
      --font-weight-heading-role: var(--font-weight);
      --font-size_stage_header_main: var(--font-size-normal);
      --font-size_date_period: var(--font-size-normal);
        // --font-weight-heading-organization: var(--font-weight);
      // --font-weight-heading-role: var(--font-weight);
      --padding_organization_between: var(--inner_padding_4-3);
      --padding_role_first: var(--inner_padding_4-0);
      --padding_role_between: var(--inner_padding_4-1);
    }
  }

  /*
   * Component AWARDS
   */
  &_awards {
    &.award {
      &_container {
        display: flex;
        flex-direction: column;
        row-gap: var(--inner_margin_4-2);
        // margin-top: var(--inner_margin_4-2);
        .award {
          &_header {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          &_logo {
            width: 2rem;
            margin: 0 1rem 0.5rem 0;
          }
          &_title {
            // font-size: var(--font-size-normal);
            font-weight: var(--font-weight-strong);
            &:first-of-type {
              margin: 0;
              padding: 0;
            }
          }
          &_organization {
            &_name {
              font-style: italic;
            }
          }
        }
        &.style_heading_larger-1 {
          font-size: var(--font-size-larger-1);
        }
        &.style_layout_inline {
          font-size: var(--font-size-normal);
          row-gap: var(--inner_margin_4-0);
          .award {
            &_item {
              display: flex;
              align-items: baseline;
              column-gap: var(--inner_margin_4-1);
            }
          }
        }
      }
    }
  }

  /*
   * Component SKILLS
   */
   &_skills {
    &.skill {
      &_container {
        display: grid;
        gap: 0 var(--inner_padding_4-2);
        align-items: baseline;
        font-size: var(--font-size-normal);
        &.style_layout_inline {
          display: flex;
          flex-direction: column;
          .skill_item {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: var(--inner_padding_4-2) var(--inner_padding_4-2);
          }
        }
      }
    }
    .skill {
      &_name {
        grid-column: 1;
        grid-row: auto / span 2;
        font-weight: var(--font-weight-strong);
      }
      &_level {
        grid-column: 2;
        font-size: var(--font-size-smaller-1);
        @include lower-caps;
        &_bar {
          position: relative;
          display: flex;
          width: 100%;
          background: var(--xhaze);
          border-radius: 0.5em;
          &_tab {
            border-radius: 0.5em;
            height: 0.5em;
            background: var(--xxhaze);
          }
        }
      }
      &_details {
        grid-column: 2;
      }
      &_certificates {
        font-size: var(--font-size-smaller-1);
        grid-column: 2;
        &_item ~ .skill_certificates {
          &::before {
            content: '•';
            display: inline-block;
            margin-right: calc(var(--inline-list-item-separation) / 3.0 - 0.5ch);
            width: var(--inline-list-sep-width);
            text-align: center;
          }
        }
      }
    }
  }

  /*
   * Component LINKS
   */
   &_links {

    &.link {
      &_container {
        display: flex;
        flex-direction: column;
        row-gap: var(--inner_margin_4-2);
        .link {
          &_item {
            width: max-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: unset;
            justify-content: flex-start;;
          }
          &_icon {
            .icon {
              margin-right: var(--inner_margin_4-1);
              width: calc(1.2 * var(--rem));;
            }
          }
          &_text {
            display: flex;
            flex-direction: column;
          }
          &_qrcode {
            margin-left: var(--inner_margin_4-2);
            .qrcode-svg {
              width: 100%;
              display: flex;
              justify-content: flex-end;
              svg {
                width: calc(3 * var(--rem));;
                height: auto;
                min-width: unset;
                max-width: unset;
              }
              background: var(--bg);
            }
          }
          &_title {
            font-weight: var(--font-weight-strong);
          }
        }
        &.style_layout_shallow {
          flex-direction: row;
          column-gap: var(--inner_margin_4-4);
          justify-content: space-between;
        }
      }
    }
  }

  /*
   * Component PUBLICATIONS
   */
  &_publications {
    --publication-sep-vert: 0.5rem;
    --font-size-publications: var(--font-size-smaller-1);
    font-size: var(--font-size-publications);
    .publication {
      &_item {
        position: relative;
        & + .publication_item {
          margin-top: var(--publication-sep-vert);
          &::before {
            border-top: var(--line-width_separator) solid var(--border-color-faint);
            top: calc(var(--publication-sep-vert) / -2);
            content: "";
            height: 0;
            position: absolute;
            // left: calc( var(--column-padding-left) / -2)
            // right: calc( var(--column-padding-right) / -2)
            left: 0;
            right: 0;
          }
        }
      }
    }
    .publication {
      &_authors {
        break-after: avoid;
      }
      &_title {
        break-after: avoid;
        font-weight: var(--font-weight-strong);
      }
      &_date,
      &_timeline {
        color: var(--text-color-faint);
      }
      &_date {
        &_published {
          font-variant-caps: all-small-caps;
        }
      }
    }
  }

  /*
   * Component FOOTER
   */
  &_footer {
    &.footer {
      &_container {
        width: 100%;
        font-size: var(--font-size-smaller-1);
        @include upper-caps;
        &.style_font-size_normal {
          font-size: var(--font-size-normal);
        }
      }
    }
  }
}

.vitae .fragment {

  /*
   * Fragment PAGE-META
   */

   &_page-meta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column dense;
    .align {
      &_start {
        justify-self: start;
      }
      &_center {
        justify-self: center;
      }
      &_end {
        justify-self: end;
      }
    }
  }
}

// Dark mode
.vitae .view-screen .component {
  html[data-mode="dim"] {
    .organization_logo_image {
      border: 0.125rem solid var(--text);
      background: var(--text);
      border-radius: 0.125rem;
    }
  }
  @media screen and (prefers-color-scheme: dark) {
    html:not([data-mode="lit"]) {
      .organization_logo_image {
        border: 0.125rem solid var(--text);
        background: var(--text);
        border-radius: 0.125rem;
      }
    }
  }
}

.vitae .qrcode-svg {
  min-width: unset;
  width: unset;
  max-width: unset;
  height: auto;
}

.knobsIframe {
  @media print {
    display: none;
  }
}
