.vitae {
  .inline {
    display: inline;
    margin: 0;
  }
  .hidden {
    display: none;
  }
  .label {
    font-size: calc(var(--font-size-label));
    line-height: var(--line-height-label);
    hyphens: manual;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .link.icon {
      display: none;
    }
  }
  .header-about {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    .about {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1em;
    }
    .name {
      font-weight: 600;
      font-size: 180%;
    }
    .tagline {
      font-weight: 400;
      font-size: 125%;
    }
    .profile {
      @include list-style(0rem, var(--list-style_indent));
    }
  }
  .layout-letter {
    .name {
      font-size: 125%;
      margin-bottom: 0.5em;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact,
  .fragment,
  .link,
  .selflink {
    &_item {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 1ch;
      align-items: center;
      // &_icon {
      //   display: flex;
      //   flex-direction: row;
      //   align-items: center;
      //   flex-wrap: nowrap;
      //   column-gap: 1em;
      //   justify-content: flex-start;
      //   align-content: flex-start;
      // }
      .icon {
        width: 1em;
        &.solid {
          width: 0.8em;
          margin: 0 0.1em;
        }
      }
      // &-qrcode
      //   .qrcode-svg
      //     min-width: 48px
      //     width: 80%
      //     max-width: 100%
      //     height: auto
      &_with-qrcode {
        max-width: 16em;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  .contact-link ~ .contact-link {
    margin-top: calc(2 * var(--section-title-sep-vert));
    padding-top: calc(2 * var(--section-title-sep-vert));
    &::before {
      position: absolute;
      content: "";
      // top: calc(var(--section-title-sep-vert) /-4)
      top: 0;
      height: 0;
      // left: calc( var(--column-padding-left) / -2)
      // right: calc( var(--column-padding-right) / -2)
      left: 0;
      right: 0;
      border-top: 0.1rem solid var(--border-color-faint);
    }
  }
  .selflink-item {
    margin-left: auto;
    // Do not show link to self on mobile device
    @media (pointer: coarse) and (hover: none) {
      display: none;
    }
  }
  #printPreviewNav {
    display: none;
    @media only screen {
      display: block;
      position: fixed;
      right: 3rem;
      top: 5rem;
      background: var(--bg);
      border: 0.125em solid var(--xxhaze);
      border-radius: 0.25rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      column-gap: 1em;
      padding: 0.5em 1em;
      z-index: ($main-z-index + 3);
      svg {
        position: relative;
        width: 1em;
        height: 1em;
        z-index: 999;
        &:hover {
          cursor: pointer;
        }
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          left: calc(max(2em, 2%));
          top: calc(max(2em, 2%));
          width: 1.25em;
          height: 1.25em;
          background: var(--bg);
          border: 0.125em solid var(--xxhaze);
          border-radius: 50%;
        }
      }
    }
  }
}
svg.qrcode-svg {
  fill: var(--text);
  stroke: var(--text);
}
.qrcode-svg {
  svg {
    fill: transparent;
  }
}
html[data-mode="dim"] {
  svg.qrcode-svg {
    fill: var(--text);
    stroke: var(--text);
  }
  .qrcode-svg {
    svg {
      background: transparent !important;
      fill: transparent !important;
      path {
        stroke: var(--text) !important;
        fill: var(--text) !important;
      }
      text {
        stroke: var(--text) !important;
        fill: var(--text) !important;
      }
    }
  }
}
@media only screen and (prefers-color-scheme: dark) {
  html:not([data-mode="lit"]) {
    svg.qrcode-svg {
      fill: var(--text);
      stroke: var(--text);
    }
    .qrcode-svg {
      svg {
        background: transparent !important;
        fill: transparent !important;
        path {
          stroke: var(--text) !important;
          fill: var(--text) !important;
        }
        text {
          stroke: var(--text) !important;
          fill: var(--text) !important;
        }
      }
    }
  }
};

.vitae .layout-executive .view-print .template_front-page {
  .header {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: minmax(0px, 1fr) 12fr minmax(0px, 1fr);
    @include font-size-scale(0, $font-size-factor-larger-1);
    &.portrait {
      &_overlay {
        &_color-white {
          color: white;
          --header-text: white;
        }
        &_position-left {
          .overlay {
            grid-column: 1 / span 2;
          }
        }
      }
    }
    .portrait {
      &_figure {
        z-index: 1;
        @include full-bleed_page(top, both);
        grid-row: 1 / span 3;
        grid-column: 1 / span all;
      }
      &_img {
        margin: 0;
        padding: 0;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 0;
      }
    }
    .overlay {
      z-index: 2;
      grid-row: 1 / span 2;
      grid-column: 2 / span 2;
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
      .headline {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        line-height: 1.6;
        font-size: calc(var(--font-size-larger-5));
        & > *:first-child {
          line-height: 1;
        }
        .role {
          text-align: left;
          font-size: calc(var(--font-size-larger-3));
          font-weight: 400;
        }
        .degree {
          font-size: calc(var(--font-size-larger-1));
          @include upper-caps;
        }
      }
    }
  }
}

.vitae .component {

  /* ----- Component STAGES ------ */

  &_stages {
    position: relative;
    &.organization-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      // horizontal: stick to both ends
      justify-content: space-between;
      align-items: center;
      gap: 0.5em;
      padding: 0;
      margin: var(--stage-org-header-mar-v) 0;
      break-after: avoid;
      // FIXME: Setting a negative margin on .feature-last
      // breaks the JavaScript function to distribute content
      // across pages
      // &.feature-last
      //   // border: 1px solid blue
      //   margin-bottom: -0.25em
      &.logo {
        min-height: var(--organization-logo-width);
        // margin-top: var(--section-title-sep-vert);
        // padding-left: calc( var(--organization-logo-column-width) );
      }
      &.single-role {
        font-size: calc(var(--font-size-smaller-1));
      }
      .organization-header-main {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: 0.5em;
        padding-bottom: 0.25em;
      }
    }
    & + .organization-header {
      margin-top: var(--stage-org-sep-vert);
      &::before {
        border-top: 0.125em solid var(--border-color-faint);
        top: calc(var(--stage-org-sep-vert) / -2);
        content: "";
        height: 0;
        position: absolute;
        // left: calc( var(--column-padding-left) / -2)
        // right: calc( var(--column-padding-right) / -2)
        left: 0;
        right: 0;
      }
    }
    .organization {
      &-logo {
        // position: absolute;
        // top: 0;
        // left: 0;
        width: calc( var(--stage-timeline-width) );
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        user-select: none;
        &-image {
          // Reset max-width and max-height to avoid side-effects from base.scss
          max-width: unset;
          max-height: unset;
          width: calc(var(--organization-logo-width));
        }
      }
      &-title {
        margin: 0;
        padding: 0;
        // FIXME: The margin-top does not seem to be required anymore
        // margin-top: calc((var(--organization-logo-width) - var(--font-size-heading-organization)) / 2 + var(--font-size-heading-organization) * (1 - var(--line-height-heading)))
        color: var(--theme-text);
        font-size: calc(var(--font-size-heading-organization));
        font-weight: var(--font-weight-heading-organization);
        margin-right: auto;
      }
      &-period {
        user-select: none;
      }
    }
    .stage-period {
      font-size: calc(var(--font-size-smaller-1));
      display: flex;
      flex-direction: row;
      column-gap: 1ch;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: baseline;
      text-align: right;
      &.num-roles-1 {
        opacity: 0;
      }
      .date-duration {
        @include lower-caps;
        color: var(--text-color-faint);
        user-select: none;
      }
      .date-period {
        // color: var(--text-color-faint)
        font-size: calc(var(--font-size-smaller-1));
      }
    }

    .role {
      &-header {
        position: relative;
        display: flex;
        // FIXME: When there is only one item in .role-header, make sure it has
        // appropriate margin to determine if it sticks to the flex-start or flex-end position
        // E.g. role-title needs margin-right: auto
        // horizontal: stick to both ends
        justify-content: space-between;
        // vertical: center
        align-items: center;
        break-after: avoid;
      }
      &-title {
        margin: 0;
        margin-right: auto;
        // margin-top: calc(var(--stage-role-sep-vert))
        padding: 0;
        font-size: calc(var(--font-size-heading-role));
        font-weight: var(--font-weight-heading-role);
        font-size: calc(var(--font-size-heading-role));
        font-weight: var(--font-weight-heading-role);
        &.partition {
          display: flex;
          align-items: center;
          column-gap: 1em;
        }
      }
      &-supertitle {
        font-weight: var(--font-weight-heading);
        padding-bottom: 0.5em;
      }
      &-subtitle {
        font-style: italic;
      }
    }
    &.role {
      &-header {
        position: relative;
        width: 100%;
        display: flex;
        // FIXME: When there is only one item in .role-header, make sure it has
        // appropriate margin to determine if it sticks to the flex-start or flex-end position
        // E.g. role-title needs margin-right: auto
        // horizontal: stick to both ends
        justify-content: space-between;
        // center to align with role-period even if either or both are multiple lines
        align-items: center;
        padding: calc(calc(var(--stage-role-sep-vert)) + var(--tl-item-pad-v)) 0 calc(var(--tl-item-pad-v)) 0;
        break-after: avoid;
      }
      &-skills {
        font-size: calc(var(--font-size-smaller-1));
        .role-skills {
          &-p {
            &-heading {
              font-weight: bold;
            }
            &-item ~ .role-skills-p-item {
              &::before {
                content: '•';
                display: inline-block;
                margin-right: var(--inline-list-item-separation) / 3.0 - 0.5ch;
                width: var(--inline-list-sep-width);
                text-align: center;
              }
            }
          }
        }
      }
      &-details {
        font-size: calc(var(--font-size-smaller-1));
      }
      &-responsibilities {
        padding-top: 0.5em;
        &.twocolumn {
          display: flex;
          column-gap: 1em;
        }
        .skill {
          font-weight: var(--font-weight-heading);
          width: min-content;
          min-width: 25%;
          hyphens: none;
        }        // .responsibility
      }
      &-results {
        ul,
        p {
          padding: 0.2rem 0 0 0;
        }
        p + p {
          padding: 0.2rem 0 0 0;
        }
        p + ul {
          padding: 0 0 0 0;
        }
      }
      &-achievements {
        span.inner-1 {
          font-weight: var(--font-weight-strong);
        }
        li.no-marker {
          list-style: none;
          &::before {
            content: none;
          }
        }
        ul,
        p {
          padding: 0.2rem 0 0 0;
        }
        p + p {
          padding: 0.2rem 0 0 0;
        }
        p + ul {
          padding: 0;
        }
        ul + ul {
          padding: 0;
        }
        // FIXME: Setting a negative margin on .feature-last
        // breaks the JavaScript function to distribute content
        // across pages
        // &.feature-last
        //   border: 1px solid red
        //   margin-bottom: -0.5em
        &.feature-first {
          p:first-child,
          ul:first-child {
            padding: 0;
            margin-top: calc((1 - var(--line-height)) * 1em);
          }
        }
      }
    }
    &.role-section-heading {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0.75em 0 0.25em 0;
      font-weight: var(--font-weight);
      font-family: var(--font-section-title);
      font-variant: small-caps;
      text-transform: uppercase;
      .separator-line {
        flex: 1 1 auto;
        border-bottom: 1px solid var(--border-color-faint);
        margin-left: 1em;
      }
    }

    .organization-header + .role-header {
      padding-top: 0;
    }
    .career-summary & {
      // --font-size-heading-organization: 1em
      --font-size-heading-role: 1em;
      --font-weight-heading-role: var(--font-weight);
      .role-title {
        color: var(--text);
      }
    }
    .career-timeline & {
      &.role-header {
        &.timeline {
          padding-left: calc( var(--organization-logo-column-width) );
          // Line part above dot
          &-role-within,
          &-role-last {
            &::before {
              position: absolute;
              display: block;
              content: "";
              border-radius: 0;
              background-color: var(--border-color-faint);
              // z-index: 100
              width: var(--tl-line-width);
              top: 0;
              height: calc(50% - var(--tl-marker-height) / 2 - var(--tl-marker-pad-v) + var(--stage-role-sep-vert) / 2);
              left: calc((var(--organization-logo-width) / 2 - var(--tl-line-width) / 2) );
            }          // Line part below dot
          }
          &-role-within,
          &-role-first {
            &::after {
              position: absolute;
              display: block;
              content: "";
              border-radius: 0;
              background-color: var(--border-color-faint);
              // z-index: 99
              width: var(--tl-line-width);
              height: calc(50% - var(--tl-marker-height) / 2 - var(--tl-marker-pad-v) - var(--stage-role-sep-vert) / 2);
              bottom: 0;
              left: calc((var(--organization-logo-width) / 2 - var(--tl-line-width) / 2) );
            }
          }
          .role-dot {
            position: absolute;
            display: block;
            border-radius: 50%;
            background-color: var(--border-color-faint);
            height: var(--tl-marker-height);
            width: var(--tl-marker-width);
            top: calc(50% - var(--tl-marker-height) / 2 + var(--stage-role-sep-vert) / 2);
            left: calc((var(--organization-logo-width) / 2 - var(--tl-marker-width) / 2) );
          }
        }
      }
      // No line above dot of first role
      &.organization-header.timeline + .role-header {
        &::before {
          content: none;
        }
      }
      &.timeline {
        padding-left: calc( var(--stage-timeline-width) );
        &-role-within,
        &-role-first {
          &::before {
            position: absolute;
            display: block;
            content: "";
            border-radius: 0;
            background-color: var(--border-color-faint);
            // z-index: 99
            width: var(--tl-line-width);
            top: var(--tl-marker-pad-v);
            top: 0;
            bottom: 0;
            left: calc((var(--organization-logo-width) / 2 - var(--tl-line-width) / 2) );
          }
        }
      }
    }
  }
}

// Dark mode
.vitae .view-screen .component {
  html[data-mode="dim"] {
    .organization-logo-image {
      border: 0.125rem solid var(--text);
      background: var(--text);
      border-radius: 0.125rem;
    }
  }
  @media screen and (prefers-color-scheme: dark) {
    html:not([data-mode="lit"]) {
      .organization-logo-image {
        border: 0.125rem solid var(--text);
        background: var(--text);
        border-radius: 0.125rem;
      }
    }
  }
}
