.vitae {
  .inline {
    display: inline;
    margin: 0;
  }
  .hidden {
    display: none;
  }
  .label {
    font-size: calc(var(--font-size-label));
    line-height: var(--line-height-label);
    hyphens: manual;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .link.icon {
      display: none;
    }
  }
  .header-about {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    .about {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1em;
    }
    .name {
      font-weight: 600;
      font-size: 180%;
    }
    .tagline {
      font-weight: 400;
      font-size: 125%;
    }
    .profile {
      @include list-style(0rem, var(--list-style_indent));
    }
  }
  .layout-letter {
    .name {
      font-size: 125%;
      margin-bottom: 0.5em;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact,
  .fragment,
  .link,
  .selflink {
    &_item {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 1ch;
      align-items: center;
      // &_icon {
      //   display: flex;
      //   flex-direction: row;
      //   align-items: center;
      //   flex-wrap: nowrap;
      //   column-gap: 1em;
      //   justify-content: flex-start;
      //   align-content: flex-start;
      // }
      .icon {
        width: 1em;
        &.solid {
          width: 0.8em;
          margin: 0 0.1em;
        }
      }
      // &-qrcode
      //   .qrcode-svg
      //     min-width: 48px
      //     width: 80%
      //     max-width: 100%
      //     height: auto
      &_with-qrcode {
        max-width: 16em;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  .contact_link ~ .contact_link {
    margin-top: var(--inner_margin_4-4);
    padding-top: var(--inner_padding_4-4);
    &::before {
      position: absolute;
      content: "";
      top: 0;
      height: 0;
      left: 0;
      right: 0;
      border-top: 0.1rem solid var(--border-color-faint);
    }
  }
  .selflink-item {
    margin-left: auto;
    // Do not show link to self on mobile device
    @media (pointer: coarse) and (hover: none) {
      display: none;
    }
  }
  #printPreviewNav {
    display: none;
    @media only screen {
      display: block;
      position: fixed;
      right: 3rem;
      top: 5rem;
      background: var(--bg);
      border: 0.125em solid var(--xxhaze);
      border-radius: 0.25rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      column-gap: 1em;
      padding: 0.5em 1em;
      z-index: ($main-z-index + 3);
      svg {
        position: relative;
        width: 1em;
        height: 1em;
        z-index: 999;
        &:hover {
          cursor: pointer;
        }
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          left: calc(max(2em, 2%));
          top: calc(max(2em, 2%));
          width: 1.25em;
          height: 1.25em;
          background: var(--bg);
          border: 0.125em solid var(--xxhaze);
          border-radius: 50%;
        }
      }
    }
  }
}
svg.qrcode-svg {
  fill: var(--text);
  stroke: var(--text);
}
.qrcode-svg {
  svg {
    fill: transparent;
  }
}
html[data-mode="dim"] {
  svg.qrcode-svg {
    fill: var(--text);
    stroke: var(--text);
  }
  .qrcode-svg {
    svg {
      background: transparent !important;
      fill: transparent !important;
      path {
        stroke: var(--text) !important;
        fill: var(--text) !important;
      }
      text {
        stroke: var(--text) !important;
        fill: var(--text) !important;
      }
    }
  }
}
@media only screen and (prefers-color-scheme: dark) {
  html:not([data-mode="lit"]) {
    svg.qrcode-svg {
      fill: var(--text);
      stroke: var(--text);
    }
    .qrcode-svg {
      svg {
        background: transparent !important;
        fill: transparent !important;
        path {
          stroke: var(--text) !important;
          fill: var(--text) !important;
        }
        text {
          stroke: var(--text) !important;
          fill: var(--text) !important;
        }
      }
    }
  }
};

.vitae .layout-executive .view-print .template_front-page {
  .header {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: minmax(0px, 1fr) 12fr minmax(0px, 1fr);
    @include font-size-scale(0, 1);
    &.portrait {
      &_overlay {
        &_color-white {
          color: white;
          --header-text: white;
        }
        &_position-left {
          .overlay {
            grid-column: 1 / span 2;
          }
        }
      }
    }
    .portrait {
      &_figure {
        z-index: 1;
        @include full-bleed_page(top, both);
        grid-row: 1 / span 3;
        grid-column: 1 / span all;
      }
      &_img {
        margin: 0;
        padding: 0;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 0;
      }
    }
    .overlay {
      z-index: 2;
      grid-row: 1 / span 2;
      grid-column: 2 / span 2;
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
      .headline {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        line-height: 1.6;
        font-size: calc(var(--font-size-larger-5));
        & > *:first-child {
          line-height: 1;
        }
      }
      .role {
        text-align: left;
        font-size: calc(var(--font-size-larger-3));
        font-weight: 400;
      }
      .degree {
        // font-size: calc(var(--font-size-larger-1));
        @include upper-caps;
    }
  }
  }
}

.vitae .component {

  /* ----- Component STAGES ------ */
  &_stages {
    --font-size-heading-organization: var(--font-size-larger-2);
    --font-weight-heading-organization: var(--font-weight-strong);
    --font-size-heading-role: var(--font-size-larger-2);
    --font-weight-heading-role: var(--font-weight-strong);
    --font-center-offset-heading-role: 0.5;
    --line-height: 1.5;
    --line-height-heading: 1.2;

    --font-size_stage_header: var(--font-size-larger-1);
    --font-size_date_period: var(--font-size-larger-1);
    --font-size_stage_header_meta: var(--font-size-normal);
    // --font-size_stage_header_meta: var(--font-size-smaller-1);
    --font-size_date_duration: var(--font-size_stage_header_meta);

    --inline-list-item-separation: 2ch;
    --inline-list-sep-width: var(--inline-list-item-separation) / 3.0;

    --organization_logo_width: 24pt;

    --padding_organization_between: var(--inner_padding_4-12);
    --padding_role_between: var(--inner_padding_4-8);
    --padding_role_first: var(--inner_padding_4-4);
    --padding_stage_meta: var(--inner_padding_4-1);

    --stage-org-sep-vert: 1.0rem;
    --stage-org-header-mar-v: 0.125rem;
    --stage-role-sep-vert: 1.0rem;
    --stage-org-role-sep-vert: 0.5rem;

    position: relative;

    // Periods of time such as "Mar 2022-Jul 2023"
    .stage_period {
      font-size: calc(var(--font-size-smaller-1));
      display: flex;
      flex-direction: column;
      // column-gap: 1ch;
      // flex-wrap: wrap;
      // align-items: baseline;
      // justify-content: flex-end;
      // text-align: right;
      align-items: center;
      .date_duration {
        @include upper-caps;
        font-size: calc(var(--font-size-smaller-1));
        color: var(--text-color-faint);
        user-select: none;
      }
      .date_period {
        color: var(--text-color-faint)
      }
    }

    .organization_title, .role_title {
      margin: 0;
      padding: 0;
      color: var(--theme-text);
    }
    .organization_title {
      font-size: calc(var(--font-size-heading-organization));
      font-weight: var(--font-weight-heading-organization);
    }
    .role_title {
      font-size: calc(var(--font-size-heading-role));
      font-weight: var(--font-weight-heading-role);
    }

    .organization {
      &_unit {
        font-weight: var(--font-weight-heading-role);
        &_label {
          font-weight: var(--font-weight);
          // font-style: italic;
          // @include upper-caps;
        }
      }
    }

    .stage {
      &_logo {
        user-select: none;
        &_img {
          // Reset max-width and max-height to avoid side-effects from base.scss
          max-width: unset;
          max-height: unset;
          width: calc(var(--organization_logo_width));
        }
      }
      &_period {
        user-select: none;
      }
    }

    /*
     * Heading style LARGER-1
     */

    // First column is dedicated to timeline to facilitate scanning by year
    &.heading_larger-1 {
      --font-size-heading-organization: var(--font-size-larger-1);
      --font-weight-heading-organization: var(--font-weight);
      --font-size-heading-role: var(--font-size-larger-1);
      --font-weight-heading-role: var(--font-weight);
    }
    &.heading_normal {
      --font-size-heading-organization: var(--font-size-normal);
      // --font-weight-heading-organization: var(--font-weight);
      --font-size-heading-role: var(--font-size-normal);
      --font-weight-heading-role: var(--font-weight);
      --font-size_stage_header: var(--font-size-normal);
      --font-size_date_period: var(--font-size-normal);
        // --font-weight-heading-organization: var(--font-weight);
      // --font-weight-heading-role: var(--font-weight);
    }

    /*
     * Timeline style COLUMN and SHALLOW
     */

    // First column is dedicated to timeline to facilitate scanning by year
    &.timeline_column, &.timeline_shallow {

      --tl-col_column_inner_width: 10em;
      --tl-col_column_padding-right: var(--inner_padding_4-1);
      --tl-col_timeline-column_width: var(--tl-col_column_inner_width) + var(--tl-col_column_padding-right);
      --tl-col_separator-column_width: var(--inner_margin_4-4);

      --tl-col_period-column_width: 10em;
      --tl-col_period_separator-column_width: 2 * var(--tl-col_separator-column_width);
      --tl-col_timeline-column_width: var(--tl-col_period-column_width);

      --tl-col_main_separator-column_width: var(--tl-col_separator-column_width);

      --tl-col_main-column_width: calc(var(--page-width) - 2 * var(--page-margin-h) - var(--tl-col_timeline-column_width) - var(--tl-col_main_separator-column_width));

      --tl-col_stage_logo_width: 18pt;
      --tl-col_stage_logo_height: 18pt;

      --tl-col_timeline_width: var(--line-width_separator);
      --tl-col_stage-marker_width: 6pt;
      --tl-col_stage-marker_height: var(--tl-col_stage-marker_width);

      &.logo_left {
        --tl-col_timeline-column_width: var(--tl-col_stage_logo_width);
      }
      &.timeline_shallow {
        --padding_organization_between: var(--inner_padding_4-3);
        --padding_role_first: var(--inner_padding_4-1);
        // FIXME: Does not have an effect since --padding_role_first applies.
        // Need to find a more specific selector for --padding_role_first
        // --padding_role_between: var(--inner_padding_4-1);
        --padding_stage_meta: 0px;
        --tl-col_period-column_width: 6em;
        --tl-col_timeline-column_width: var(--tl-col_period-column_width);
      }

      @mixin timeline_column_line($top: 0px, $right: null, $bottom: null, $left: 0px,
        $line-height: 100%, $line-width: var(--tl-col_timeline_width)) {
        &::after {
          position: absolute;
          top: $top;
          right: $right;
          bottom: $bottom;
          left: calc($left - $line-width / 2);
          display: block;
          margin: 0;
          padding: 0;
          width: $line-width;
          height: $line-height;
          content: "";
          background-color: var(--border-color-faint);
        }
        &.timeline_org_single, &.timeline_org_last {
          &.timeline_role_last, &.timeline_role_single {
            &::after {
              content: none;
            }
          }
        }
      }

      @mixin timeline_column_header($top: null, $right: null, $bottom: null, $left: null,
          $line-height: 100%, $line-width: var(--tl-col_timeline_width),
          $marker-width: calc(var(--tl-col_stage-marker_width)), $marker-height: calc(var(--tl-col_stage-marker_height))
        ) {
        .timeline_column_marker::before {
          position: relative;
          display: inline-block;
          content: "";
          @if ($right) {
            margin: 0 calc($right - $marker-width / 2) 0 0;
          }
          @if ($left) {
            margin: 0 0 0 calc($left - $marker-width / 2);
          }
          padding: 0;
          width: $marker-width;
          height: $marker-height;
          border-radius: 50%;
          background-color: var(--border-color-faint);
        }
        &::before {
          position: absolute;
          @if ($top) {
            top: $top;
          }
          @if ($right) {
            right: calc($right - $line-width / 2);
          }
          @if ($bottom) {
            bottom: $bottom;
          }
          @if ($left) {
            left: calc($left - $line-width / 2);
          }
          display: block;
          margin: 0;
          padding: 0;
          width: $line-width;
          height: $line-height;
          content: "";
          background-color: var(--border-color-faint);
        }
        &.timeline_org_last {
          &.timeline_role_last, &.timeline_role_single {
            &::before {
              content: none;
            }
          }
        }
      }

      &.stage_meta, &.stage_content {
        @include timeline_column_line(0px, null, null, calc(var(--tl-col_timeline-column_width) / 2));
        &:has( + .organization_header) {
          @include timeline_column_line(0px, null, null, calc(var(--tl-col_timeline-column_width) / 2), calc(100% - var(--tl-col_stage-marker_height) / 2));
        }
      }
      &.stage_header ~ .stage_content {
        .stage_main {
          padding-top: var(--inner_padding_4-4);
        }
      }
      &.stage_header + .stage_meta {
        // outline: 1px solid yellow;
        .stage_main {
          padding-top: calc(var(--padding_stage_meta));
        }
      }
      &.stage_header + .stage_content, &.stage_meta + .stage_content {
        padding-top: 0;
      }
      &.stage_meta + .stage_content {
        // outline: 1px solid yellow;
        .stage_main {
          padding-top: var(--inner_padding_4-3);
        }
      }
      &.stage_content + .stage_content {
        // outline: 1px solid yellow;
        .stage_main {
          padding-top: var(--inner_padding_4-3);
        }
      }

      &:not(.logo_left) {
        &.organization_header {
          // --border-color-faint: red;
          @include timeline_column_header(
            calc(var(--font-size-heading-role) + var(--tl-col_stage-marker_height)),
            null,
            null,
            calc(var(--tl-col_timeline-column_width) / 2),
            calc(100% - var(--font-size-heading-role) - var(--tl-col_stage-marker_height))
          );
        }
        &.role_header {
          // --border-color-faint: blue;
          @include timeline_column_header(
            0px,
            null,
            null,
            calc(var(--tl-col_timeline-column_width) / 2),
            calc(100% - var(--font-size-heading-role) - var(--tl-col_stage-marker_height))
          );
        }
        &.role_header.stage_header_period.timeline_role_single {
          // --border-color-faint: green;
          @include timeline_column_header(
            0px,
            null,
            null,
            calc(var(--tl-col_timeline-column_width) / 2),
            calc(100%)
          );
        }
      }
      // Header for organizations
      &.organization_header {
        &.logo_left {
          @include timeline_column_header(
            calc(var(--tl-col_stage_logo_height) + var(--tl-col_stage-marker_height)), null, null,
            calc(var(--tl-col_timeline-column_width) / 2));
        }
      }
      &.organization_header {
        margin-top: var(--inner_margin_4-3);
      }
      &.component_stages + .organization_header {
        margin-top: 0;
      }
      &.stage_heder, &.stage_meta, &.stage_content {
        &:has(+ .organization_header) {
          .stage_main {
            padding-bottom: calc(var(--padding_organization_between));
          }
        }
      }

      // &.component_stages ~ .organization_header {
      //   padding-top: var(--inner_padding_4-6);
      //   border-top: var(--tl-col_timeline_width) solid var(--border-color-faint);
      // }

      // Header for roles at organizations
      &.role_header {
        .stage_main {
          padding-top: var(--inner_padding_4-3);
        }
        &.logo_left {
          &.stage_header_period {
            position: relative;
            @include timeline_column_header(null, null, null, calc(var(--tl-col_timeline-column_width) / 2));
          }
        }
      }
      &.role_header ~ .role_header {
        .stage_main {
          padding-top: calc(var(--padding_role_between));
        }
      }
      &.organization_header + .role_header, &.stage_meta + .role_header {
        .stage_main {
          padding-top: calc(var(--padding_role_first));
        }
      }
      &.stage {
        &_header {
          break-after: avoid;
          .stage {
            &_main {
              grid-column: 1 / span all;
              font-size: calc(var(--font-size_stage_header));
            }
          }
          &.stage_header_period {
            .stage {
              &_period, &_timeline {
                font-size: calc(var(--font-size_stage_header));
                .date_period {
                  font-size: calc(var(--font-size_date_period));
                }
                .date_duration {
                  font-size: calc(var(--font-size_date_duration));
                }
              }
            }
          }
        }
        &_period {
          font-size: calc(var(--font-size-normal));
        }
        &_meta {
          break-after: avoid;
        }
        &_header, &_meta, &_content {
          display: grid;
          align-items: baseline;
          grid-template-columns:
            calc(var(--tl-col_period-column_width)) calc(var(--tl-col_separator-column_width))
            minmax(0px, max-content);
          .stage {
            &_timeline {
              grid-column: 1;
            }
            &_main {
              grid-column: 3 / span all;
            }
          }
          &.stage {
            &_header.stage_header_period, &_content {
              .stage {
                &_period {
                  grid-column: 1;
                  grid-row: 1;
                }
                &_main {
                  grid-row: 1;
                  grid-column: 3 / span all;
                }
              }
            }
            &_header {
              .stage_main {
                grid-column: 1 / span all;
                // grid-row: 1;
              }
            }
          }
          &.timeline_role_single .role_period {
            opacity: 0;
          }
          &.logo_left {
            grid-template-columns:
            calc(var(--tl-col_timeline-column_width)) calc(var(--tl-col_separator-column_width))
            calc(var(--tl-col_period-column_width)) calc(var(--tl-col_separator-column_width))
            minmax(0px, max-content);
            .stage_logo {
              grid-column: 1;
              grid-row: 1;
              justify-self: center;
              &_img {
                width: calc(var(--tl-col_stage_logo_width));
              }
            }
            &.stage {
              &_header {
                .stage_main {
                  grid-column: 3 / span all;
                  grid-row: 1;
                }
              }
              &_header.stage_header_period, &_content {
                .stage {
                  &_period, &_header {
                    grid-column: 3;
                    grid-row: 1;
                  }
                  &_main {
                    grid-column: 5;
                  }
                }
              }
            }
            .stage_period {
              align-items: flex-start;
            }
          }
        }
      }
      &.stage_meta, &.stage_header .stage_meta {
        // background: red;
        font-size: calc(var(--font-size_stage_header_meta));
        .stage_details {
          font-size: calc(var(--font-size-normal));
        }
      }
      &.timeline_shallow {
        .stage {
          &_main {
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
          }
        }
        // &.stage_header .stage_main {
        //   *:not(:first-child) {
        //     &::before {
        //       content: " · ";
        //     }
        //   }
        // }
      }
    }

    /*
     * Timeline style DOT-DASH
     */

    // Similar to LinkedIn
    &.timeline_dot-dash {
      --tl-dash-dot_column_width: 4rem;
      --tl-dash-dot_padding-right: 0.75rem;
      --tl-dash-dot_marker_border-radius: 50%;
      --tl-dash-dot_marker_pad-v: 0.25rem;
      --tl-dash-dot_marker_width: 0.5rem;
      --tl-dash-dot_marker_height: var(--tl-dash-dot_marker_width);
      --tl-item-pad-v: 0.25rem;
      --tl-line-width: 2px;
      --tl-offset-left: (-1 * var(--tl-dash-dot_column_width) / 2 - var(--tl-dash-dot_padding-right));

      // FIXME: DEBUG
      // --tl-dash-dot_marker_border-radius: 0;
      // --tl-dash-dot_marker_width: 20rem;
      // --tl-dash-dot_marker_height: 1px;
      // --tl-item-pad-v: 3rem;
      // --stage-org-role-sep-vert: 7rem;


      // Header for organizations
      &.organization_header {
        width: 100%;
        display: flex;
        flex-direction: row;
        // horizontal: stick to both ends
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        padding: 0;
        margin: var(--stage-org-header-mar-v) 0;
        break-after: avoid;
        // FIXME: Setting a negative margin on .feature-last
        // breaks the JavaScript function to distribute content
        // across pages
        // &.feature-last
        //   // border: 1px solid blue
        //   margin-bottom: -0.25rem
        &.stage_header_logo {
          min-height: var(--organization_logo_width);
        }
        .organization {
          &_main {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            gap: 0.5rem;
            padding-bottom: 0.25rem;
          }
          &_logo {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            user-select: none;
            &-image {
              // Reset max-width and max-height to avoid side-effects from base.scss
              max-width: unset;
              max-height: unset;
              width: calc(var(--organization_logo_width));
            }
          }
        }
      }
      & + .organization_header {
        margin-top: var(--stage-org-sep-vert);
        &::before {
          border-top: calc(var(--line-width_separator_heading)) solid var(--border-color-faint);
          top: calc(var(--stage-org-sep-vert) / -2);
          content: "";
          height: 0;
          position: absolute;
          left: 0;
          right: 0;
        }
      }

      // Header for roles at organizations
      &.role_header {
        padding: calc(var(--stage-role-sep-vert) + var(--tl-item-pad-v)) 0 calc(var(--tl-item-pad-v)) 0;
      }
      // Reduced padding between organization header and first role header
      &.organization_header + .role_header {
        padding-top: calc(var(--stage-org-role-sep-vert));
      }

      &.role_header {
        position: relative;
        display: flex;
        // FIXME: When there is only one item in .role_header, make sure it has
        // appropriate margin to determine if it sticks to the flex-start or flex-end position
        // E.g. role_title needs margin-right: auto
        // horizontal: stick to both ends
        justify-content: space-between;
        align-items: center;
        break-after: avoid;
        // Dot in the timeline to the left of the role header
        .timeline_dot-dash_marker {
          position: absolute;
          display: block;
          border-radius: var(--tl-dash-dot_marker_border-radius);
          background-color: var(--border-color-faint);
          height: var(--tl-dash-dot_marker_height);
          width: var(--tl-dash-dot_marker_width);
          top: calc((100% + var(--stage-role-sep-vert)) / 2 - var(--tl-dash-dot_marker_height) / 2);
          left: calc((var(--tl-dash-dot_column_width) / 2 - var(--tl-dash-dot_marker_width) / 2) );
        }
      }

      &.timeline {
        padding-left: calc( var(--tl-dash-dot_column_width) );
        // Timeline line part above dot
        &_role_within,
        &_role_last {
          &.role_header::before {
            position: absolute;
            display: block;
            content: "";
            border-radius: 0;
            background-color: var(--border-color-faint);
            width: var(--tl-line-width);
            top: 0;
            height: calc(50% - var(--tl-dash-dot_marker_height) / 2 - var(--tl-dash-dot_marker_pad-v) + var(--stage-role-sep-vert) / 2);
            left: calc((var(--tl-dash-dot_column_width) / 2 - var(--tl-line-width) / 2) );
          }
        }

        &_role_within,
        &_role_first {
          // Timeline line part below dot
          &::before {
            position: absolute;
            display: block;
            content: "";
            border-radius: 0;
            background-color: var(--border-color-faint);
            // z-index: 99
            width: var(--tl-line-width);
            top: var(--tl-dash-dot_marker_pad-v);
            top: 0;
            bottom: 0;
            left: calc((var(--tl-dash-dot_column_width) / 2 - var(--tl-line-width) / 2) );
          }
          // Timeline line part below dot for role header
          &.role_header {
            &::after {
              position: absolute;
              display: block;
              content: "";
              border-radius: 0;
              background-color: var(--border-color-faint);
              width: var(--tl-line-width);
              height: calc(50% - var(--tl-dash-dot_marker_height) / 2 - var(--tl-dash-dot_marker_pad-v) - var(--stage-role-sep-vert) / 2);
              bottom: 0;
              left: calc((var(--tl-dash-dot_column_width) / 2 - var(--tl-line-width) / 2) );
            }
          }
        }
        &.organization_header {
          &.logo {
            padding-left: calc(var(--tl-dash-dot_column_width));
          }
        }

        // Timeline for role header following immediately after organization header:
        &.organization_header + .role_header {
          .timeline_dot-dash_marker {
            top: calc((100% + var(--stage-org-role-sep-vert) - var(--tl-item-pad-v)) / 2 - var(--tl-dash-dot_marker_height) / 2);
          }
          &::before {
            content: none;
          }
          &::after {
            position: absolute;
            display: block;
            content: "";
            border-radius: 0;
            background-color: var(--border-color-faint);
            // z-index: 99
            width: var(--tl-line-width);
            height: calc(50% - var(--tl-dash-dot_marker_height) / 2 + var(--tl-item-pad-v) / 2 - var(--tl-dash-dot_marker_pad-v));
            height: calc((100% - var(--stage-org-role-sep-vert) + var(--tl-item-pad-v)) / 2 - var(--tl-dash-dot_marker_height) / 2 - var(--tl-dash-dot_marker_pad-v));
            bottom: 0;
            left: calc((var(--tl-dash-dot_column_width) / 2 - var(--tl-line-width) / 2) );
          }
        }
      }
    }

    .role {
      &_title {
        margin-right: auto;
        &.partition {
          display: flex;
          align-items: center;
          column-gap: 1rem;
        }
      }
      &_supertitle {
        font-weight: var(--font-weight-heading);
      }
      &_subtitle {
        font-weight: var(--font-weight);
        font-style: italic;
      }
    }

    .role {
      // &_summary {
      //   &_container {
      //     font-size: calc(var(--font-size-larger-1));
      //   }
      // }
      // &_description {
      //   &_container {
      //     font-size: calc(var(--font-size-larger-1));
      //   }
      // }
      &_star {
        &_container {
          grid-column: 2 / span all;
          display: grid;
          grid-auto-flow: dense column;
          grid-template-columns: calc(var(--tl-col_period-column_width)) calc(var(--tl-col_period_separator-column_width)) minmax(0px, max-content);
        }
        &_header {
          grid-column: 1;
          // grid-row: 1;
          @include flush-top;
        }
        &_main {
          grid-column: 3;
          @include flush-top;
        }
        &_column_heading {
          margin: 0;
          padding: 0 0 calc(var(--inner_padding_4-2)) 0;
          // font-size: calc(var(--font-size-larger-1));
          @include upper-caps;
        }
        &_title {
          margin: 0;
          padding: 0 0 calc(var(--inner_padding_4-2)) 0;
          // padding: 0;
          // font-weight: var(--font-weight);
          // font-size: calc(var(--font-size-larger-1));
        }
        &_result {
          padding-bottom: var(--inner_padding_4-2);
        }
      }
    }
  }

  /*
   * Component PROFILE
   */
   &_profile {
    &.profile {
      &_content {
        font-size: calc(var(--font-size-larger-1));
        padding: var(--inner_padding-y-1) 0;
      }
      &_competencies {
        display: grid;
        // font-size: calc(var(--font-size-larger-1));
        // padding: var(--inner_padding-y-1) 0;
      }
    }
    .panel {
      &_title {
        @include upper-caps;
      }
    }
  }

  /*
   * Component AWARDS
   */
  &_awards {

    &.award {
      &_container {
        display: flex;
        flex-direction: column;
        @include font-size-scale(0, -1);
        .award {
          &_header {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          &_logo {
            width: 2rem;
            margin: 0 1rem 0.5rem 0;
          }
          &_title {
            font-weight: var(--font-weight-strong);
          }
          &_organization {
            &_name {
              font-style: italic;
            }
          }
        }
      }
    }
  }

  /*
   * Component SKILLS
   */
   &_skills {
    .skill {
      &_container {
        display: grid;
        gap: 0.25rem 0.5rem;
        font-size: calc(var(--font-size-smaller-1));
      }
      &_name {
        grid-column: 1;
        grid-row: auto / span 2;
        font-weight: var(--font-weight-strong);
      }
      &_level {
        grid-column: 2;
        @include upper-caps;
        &_bar {
          position: relative;
          display: flex;
          width: 100%;
          background: var(--xhaze);
          border-radius: 0.5em;
          &_tab {
            border-radius: 0.5em;
            height: 0.5em;
            background: var(--xxhaze);
          }
        }
      }
      &_details {
        grid-column: 2;
      }
      &_certificates {
        font-size: calc(var(--font-size-smaller-1));
        &_item ~ .skill_certificates {
          &::before {
            content: '•';
            display: inline-block;
            margin-right: var(--inline-list-item-separation) / 3.0 - 0.5ch;
            width: var(--inline-list-sep-width);
            text-align: center;
          }
        }
      }
    }
  }
  /*
   * Component LINKS
   */
   &_links {

    &.link {
      &_container {
        display: flex;
        flex-direction: column;
        // @include font-size-scale(0, -1);
        .link {
          &_item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            max-width: unset;
            &_icon {
              .icon {
                margin-right: var(--inner_margin_4-4);
                width: 12pt;
              }
            }
            &_qrcode {
              .qrcode-svg {
                width: 36pt;
                height: auto;
                background: var(--bg);
                min-width: unset;
                max-width: unset;
              }
            }
          }
          &_title {
            font-weight: var(--font-weight-strong);
          }
        }
      }
    }
  }

  &.role_section-heading {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.75rem 0 0.25rem 0;
    font-weight: var(--font-weight);
    font-family: var(--font-section_title);
    font-variant: small-caps;
    text-transform: uppercase;
    .separator-line {
      flex: 1 1 auto;
      border-bottom: 1px solid var(--border-color-faint);
      margin-left: 1rem;
    }
  }
}

// Dark mode
.vitae .view-screen .component {
  html[data-mode="dim"] {
    .organization_logo_image {
      border: 0.125rem solid var(--text);
      background: var(--text);
      border-radius: 0.125rem;
    }
  }
  @media screen and (prefers-color-scheme: dark) {
    html:not([data-mode="lit"]) {
      .organization_logo_image {
        border: 0.125rem solid var(--text);
        background: var(--text);
        border-radius: 0.125rem;
      }
    }
  }
}
