@use 'sass:math';
@use 'sass:list';
@use 'sass:map';

@function round-dec($value, $fractionDigits: 0) {
  $power: math.pow(10, $fractionDigits);
  @return math.div(math.round($power * $value), $power);
}

@mixin font-size-scale($font-size: 1rem, $shift: 0, $smallest: 9, $largest: 9) {

  $dec-digits: 2;
  $font-size-factor-normal: 1;
  $smaller-factor-idx-max: 5;
  $larger-factor-idx-max: 6;

  @if ($font-size != 0) {
    --font-size-base: #{$font-size};
  }

  --font-size-normal: calc(#{round-dec($font-size-factor-normal * math.pow($font-size-scale-factor, $shift), $dec-digits)} * var(--font-size-base));

  @for $i from 1 through $smaller-factor-idx-max {
    @if ($i < $smallest) {
      --font-size-smaller-#{$i}: calc(#{round-dec(math.div($font-size-factor-normal, math.pow($font-size-scale-factor, $i + $shift)), $dec-digits)} * var(--font-size-base));
    }
    @else {
      --font-size-smaller-#{$i}: calc(#{round-dec(math.div($font-size-factor-normal, math.pow($font-size-scale-factor, $smallest + $shift)), $dec-digits)} * var(--font-size-base));
    }
  }

  @for $i from 1 through $larger-factor-idx-max {
    @if ($i < $largest) {
      --font-size-larger-#{$i}: calc(#{round-dec($font-size-factor-normal * math.pow($font-size-scale-factor, $i + $shift), $dec-digits)} * var(--font-size-base));
    }
    @else {
      --font-size-larger-#{$i}: calc(#{round($font-size-factor-normal * math.pow($font-size-scale-factor, $largest + $shift), $dec-digits)} * var(--font-size-base));
    }
  }

  font-size: var(--font-size-normal);
}

@mixin flush-top($line-height: var(--line-height)) {
  margin-top: calc(1em * (1 - 0.5 * $line-height) - 1ex);
}

@mixin flush-top-heading($line-height: var(--line-height-heading)) {
  @include flush-top($line-height);
}

@mixin inner_margin_padding($margin_base, $padding_base, $denominator: 4, $max-factor: 3) {
  @for $numerator from 0 to ($max-factor * $denominator + 1) {
    --inner_margin_#{$denominator}-#{$numerator}: calc(#{math.div($numerator, $denominator)} * #{$margin_base});
    --inner_padding_#{$denominator}-#{$numerator}: calc(#{math.div($numerator, $denominator)} * #{$padding_base});
  }
}

@mixin wrap() {
  padding: 0 $screenViewInnerPaddingMobile;
  padding: env(safe-area-inset-top) calc(#{$screenViewInnerPaddingMobile} + env(safe-area-inset-right)) env(safe-area-inset-bottom) calc(#{$screenViewInnerPaddingMobile} + env(safe-area-inset-left));
  @media screen and (min-width: $screenViewBreakpointWidthNarrow) {
    padding: 0 $screenViewInnerPaddingNarrow;
    padding: env(safe-area-inset-top) calc(#{$screenViewInnerPaddingNarrow} + env(safe-area-inset-right)) env(safe-area-inset-bottom) calc(#{$screenViewInnerPaddingNarrow} + env(safe-area-inset-left));
  }
}

// Inline list with separators
// https://www.jankollars.com/posts/multi-line-horizontal-list-with-separators/
@mixin inline-separator-list($list-item-separation: 2ch, $list-separator: '•') {
  $list-sep-width: $list-item-separation / 3.0 + 0.5ch;
  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    // margin-left: calc(-3ch);
    margin-left: -$list-item-separation + 0.5ch;
    // clip-path: inset(0 0 0 3ch);
    clip-path: inset(0 0 0 $list-item-separation - 0.5ch);
    & > * {
      padding-left: $list-item-separation;
    }
    li {
      // padding-left: 1ch;
      padding-left: $list-item-separation;
      margin-left: -$list-item-separation / 3.0 - $list-sep-width;
    }
    li::before {
      content: '•';
      display: inline-block;
      // margin-right: 0.5ch;
      // margin-right: 0.5ch;
      margin-right: $list-item-separation / 3.0 - 0.5ch;
      // width: 1ch;
      width: $list-sep-width;
      text-align: center;
    }
  }
}

@mixin list-style($padding-vertical: $screenViewInnerPaddingNarrow / 2, $indent: $list-style-indent) {
  ul, ol {
    list-style: disc outside none; // initial;
    padding: $padding-vertical 0;
    margin: 0 0 0 $indent;
    li {
      padding: math.div($padding-vertical, 2) 0 math.div($padding-vertical, 2) 0.25em;
    }
  }
  ul li {
    list-style: disc outside;
    li {
      list-style-type: none;
      &::before {
        content: '–';
        float: left;
        margin-left: -1em;
      }
      li {
        list-style-type: circle;
        &::before {
          content: none;
        }
      }
    }
  }
  ol {
    list-style: decimal;
  }
}

@mixin drop-shadow($dist: 3rem, $opacity: 0.2, $hover-opacity: 0.4) {
  box-shadow: 0 0 $dist rgba(0, 0, 0, $opacity);
  &:hover {
    box-shadow: 0 0 $dist rgba(0, 0, 0, $hover-opacity);
  }
}

@mixin lower-caps($spacing: var(--letter-spacing_caps_lower)) {
  font-size: var(--font-size_caps_lower);
  font-weight: var(--font-weight_caps);
  font-variant: all-small-caps;
  font-variant: var(--font-variant_caps_lower);
  @if ($spacing != 0) {
    letter-spacing: $spacing;
  }
  text-transform: var(--text-transform_caps_lower);
}

@mixin upper-caps($spacing: var(--letter-spacing_caps_upper)) {
  font-weight: var(--font-weight_caps);
  font-variant: var(--font-variant_caps_upper);
  @if ($spacing != 0) {
    letter-spacing: $spacing;
  }
  text-transform: uppercase;
}

@mixin upper-caps-strong($spacing: var(--letter-spacing_caps_upper_strong)) {
  font-weight: var(--font-weight_caps_upper_strong);
  font-variant: var(--font-variant_caps_upper);
  @if ($spacing != 0) {
    letter-spacing: $spacing;
  }
  text-transform: uppercase;
}
