@media screen {
  .main.vitae {
    .view-screen {
      background: var(--choice-bg);
      padding-bottom: 0;
    }
  }
  .vitae {
    &.layout-resume,
    &.layout-executive {
      .view-screen {
        // font-size: calc(var(--font-size-normal))
        --column-padding-h: var(--column-padding-screen-h);
        --column-padding-v: var(--column-padding-screen-v);
        --gap-h: var(--column-padding-screen-v);
        --gap-v: var(--column-padding-screen-v);

        .pagination-page.main-aside-primary {
          display: grid;
          grid-template-columns: var(--column-padding-h) repeat(14, 1fr) var(--column-padding-h);
          grid-template-rows: minmax(min-content, max-content) 1fr;
          .main-header,
          .header {
            grid-column: 1 / span 16;
            grid-row: 1;
          }
          .main-column {
            grid-column: 1 / span 16;
            grid-row: 2;
          }
          .aside-primary {
            grid-column: 1 / span 16;
            grid-row: 3;
          }
          .main-header,
          .header,
          .main-column,
          .aside-header,
          .aside-primary {
            padding-top: var(--column-padding-v);
            padding-right: var(--column-padding-h);
            padding-bottom: var(--column-padding-v);
            padding-left: var(--column-padding-h);
            padding-top: calc(max(var(--column-padding-v), env(safe-area-inset-top)));
            padding-right: calc(max(var(--column-padding-h), env(safe-area-inset-right)));
            padding-bottom: calc(max(var(--column-padding-v), env(safe-area-inset-bottom)));
            padding-left: calc(max(var(--column-padding-h), env(safe-area-inset-left)));
          }
          .main-column {
            --border-color-faint: var(--theme-xxhaze);
            background: var(--bg);
          }
          .main-header,
          .header,
          .aside-header,
          .aside-primary {
            --border-color-faint: var(--theme-xxhaze);
            background-color: var(--theme-haze);
          }
        }
        .portrait {
          max-width: 16rem;
          margin: 0 var(--column-padding-h) var(--column-padding-v) 0;
        }
      }
    }
    &.layout-letter {
      .organization {
        &-header {
          // font-weight: var(--font-weight-strong)
          // width: 100%
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          // align at center of logo
          align-items: center;
          gap: 0.5em;
          min-height: var(--organization-logo-width);
          break-after: avoid;
          margin-right: auto;
        }
        &-logo {
          align-self: center;
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 100%;
          &-image {
            // width: calc(var(--organization-logo-width))
            // Reset max-width and max-height to avoid side-effects from base.scss
            max-width: unset;
            max-height: unset;
          }
        }
      }
      .role-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        break-after: avoid;
        .role-title {
          font-weight: var(--font-weight-strong);
          padding: 0;
        }
      }
      .letter-meta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 1em;
        gap: 0 1em;
        color: var(--text-color-faint);
        .location,
        .date {
          text-align: right;
          width: 100%;
          @include lower-caps;
        }
        .subject {
          color: var(--text);
          font-size: calc(var(--font-size-h1) * var(--font-size-factor-h4));
        }
      }
      .view-screen {
        --font-size-h1: 2em;
        .pagination-page.main-aside-primary {
          grid-template-rows: auto;
          .main-header,
          .main-column,
          .aside-header,
          .aside-primary {
            grid-column: 1 / span 16;
          }
          .main-header {
            grid-row: 1;
            background: var(--theme-xhaze);
            display: flex;
            flex-direction: row;
            gap: var(--row-gap) var(--column-gap);
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            .organization-header {
              margin: 0;
              flex: 0;
            }
            .role-header {
              justify-content: flex-end;
              text-align: right;
              flex: 0 1 auto;
              .role-title {
                padding: 0;
                margin: 0;
              }
            }
          }
          .aside-header,
          .aside-primary {
            display: block;
            background: var(--theme-haze);
          }
          .aside-header {
            grid-row: 2;
          }
          .main-column {
            grid-row: 3;
          }
          .aside-primary {
            grid-row: 4;
          }
          .about {
            display: flex;
            gap: var(--column-padding-v) var(--column-padding-h);
            flex-direction: row;
            flex-wrap: wrap;
            .name {
              text-align: left;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .vitae {
    &.layout-profile {
      .view-screen {
        .main-header,
        .header,
        .aside-header,
        .aside-primary {
          --border-color-faint: var(--theme-xxhaze);
          background-color: var(--choice-bg);
        }
      }
    }
  }
}
@media screen and (min-width: $screenViewBreakpointWidthNarrow) {
  .vitae {
    &.layout-resume {
      .view-screen {
        --column-padding-v: calc(1.5 * var(--column-padding-screen-v));
        --column-padding-h: calc(1.5 * var(--column-padding-screen-h));
        .pagination-page.main-aside-primary {
          .about {
            display: grid;
            grid-template-columns: 2fr 3fr;
            gap: var(--gap-v) var(--gap-h);
            .portrait {
              grid-column: 1;
              grid-row: 1 / span 2;
            }
            .name {
              text-align: right;
              grid-column: 2;
              grid-row: 1;
              padding: 0;
            }
            .tagline {
              text-align: right;
              grid-column: 2;
              grid-row: 2;
            }
            .profile {
              grid-column: 1 / span 2;
              grid-row: 3;
            }
            .contact {
              grid-column: 1 / span 2;
              grid-row: 4;
            }
          }
        }
      }
    }
    &.layout-letter {
      .view-screen {
        --font-size-h1: 2.4em;
        --organization-logo-width: 3rem;
        .pagination-page.main-aside-primary {
          .aside-header,
          .aside-primary {
            grid-column: 1 / span 16;
          }
        }
      }
    }
  }
}
@media screen and (min-width: $screenViewBreakpointWidthOneColumn) {
  .vitae {
    &.layout-resume {
      .view-screen {
        --font-size-normal: 112.5%;
        --column-padding-v: calc(2 * var(--column-padding-screen-v));
        --column-padding-h: calc(2 * var(--column-padding-screen-h));
        .pagination-page.main-aside-primary {
          .header {
            grid-column: 1 / span 16;
            grid-row: 1;
          }
          .main-column {
            grid-column: 1 / span 16;
            grid-row: 2;
          }
          .aside-primary {
            grid-column: 1 / span 16;
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: var(--column-padding-v) var(--column-padding-h);
            .section-stages {
              grid-column: 1;
              grid-row: 1 / span 2;
            }
            .section-languages {
              grid-column: 2;
              grid-row: 1;
            }
            .section-links {
              grid-column: 2;
              grid-row: 2;
            }
          }
          .about {
            display: grid;
            grid-template-columns: 2fr 3fr;
            align-items: stretch;
            > *:not(.portrait):not(.name) {
              margin-top: auto;
            }
            .portrait {
              grid-column: 1;
              grid-row: 1 / span 3;
              margin-bottom: auto;
            }
            .name {
              text-align: left;
              grid-column: 2;
              grid-row: 1;
            }
            .tagline {
              text-align: left;
              grid-column: 2;
              grid-row: 2;
            }
            .profile {
              grid-column: 2;
              grid-row: 3 / span 2;
            }
            .contact {
              grid-column: 1;
              grid-row: 4;
            }
          }
        }
      }
    }
    &.layout-letter {
      .view-screen {
        --font-size-h1: 3em;
        --organization-logo-width: 4rem;
        .pagination-page {
          .main-header {
            grid-column: 9 / span 8;
            grid-row: 1 / span 2;
            display: flex;
            flex-direction: row;
            row-gap: calc(var(--column-padding-v) / 4);
            align-content: space-between;
            justify-content: space-between;
            .organization {
              &-header {
                align-items: center;
              }
            }
            .role-header {
              // width: 100%
              text-align: left;
              justify-content: flex-start;
            }
          }
          .aside-header,
          .aside-primary {
            grid-column: 1 / span 8;
          }
          .aside-header {
            grid-row: 1;
            display: flex;
            flex-direction: column;
            .about {
              display: flex;
              flex-direction: column;
            }
          }
          .aside-primary {
            grid-row: 2;
          }
        }
      }
    }
  }
}
@media screen and (min-width: $screenViewBreakpointWidthTwoColumn) {
  .vitae {
    &.layout-resume {
      .view-screen {
        // --column-padding-v: calc(3 * var(--column-padding-screen-v))
        // --column-padding-h: calc(3 * var(--column-padding-screen-h))
        .pagination-page.main-aside-primary {
          .header {
            padding-left: 0;
            padding-right: 0;
            grid-column: 1 / span 16;
            grid-row: 1;
          }
          .main-column {
            grid-column: 7 / span 10;
            grid-row: 2 / span 2;
          }
          .aside-primary {
            grid-column: 1 / span 6;
            grid-row: 2;
          }
          .about {
            display: grid;
            grid-template-columns: repeat(14, 1fr);
            align-items: start;
            padding-top: var(--column-padding-v);
            padding-right: var(--column-padding-h);
            padding-bottom: var(--column-padding-v);
            padding-left: var(--column-padding-h);
            padding-top: calc(max(var(--column-padding-v), env(safe-area-inset-top)));
            padding-right: calc(max(var(--column-padding-h), env(safe-area-inset-right)));
            padding-bottom: calc(max(var(--column-padding-v), env(safe-area-inset-bottom)));
            padding-left: calc(max(var(--column-padding-h), env(safe-area-inset-left)));

            .portrait {
              grid-column: 1 / span 5;
              grid-row: 1 / span 4;
              padding-right: var(--column-padding-h);
            }
            .name,
            .tagline,
            .profile,
            .contact {
              padding-left: var(--column-padding-h);
            }
            .name {
              grid-column: 6 / span 9;
              grid-row: 1;
            }
            .tagline {
              grid-column: 6 / span 9;
              grid-row: 2;
            }
            .profile {
              grid-column: 6 / span 9;
              grid-row: 3;
            }
            .contact {
              grid-column: 6 / span 9;
              grid-row: 4;
              > * {
                padding-left: 0;
              }
            }
          }
          .aside-primary {
            display: flex;
            flex-direction: column;
            .about {
              display: flex;
              flex-direction: column;
            }
          }
          .portrait {
            margin: 0 auto;
          }
        }
      }
    }
    &.layout-letter {
      .view-screen {
        .pagination-page.main-aside-primary {
          .main-header {
            grid-column: 7 / span 10;
          }
          .aside-header,
          .aside-primary {
            grid-column: 1 / span 6;
          }
        }
      }
    }
  }
}
@media screen and (min-width: $screenViewBreakpointWidthWide) {
  .vitae {
    &.layout-resume {
      .view-screen {
        --font-size-normal: 125%;
        --column-padding-h: calc(4 * var(--column-padding-screen-h));
        // --column-padding-v: calc(4 * var(--column-padding-screen-v))
        max-width: var(--screenViewWidthChrome);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
};
