$inline-list-item-separation: 2ch;
$inline-list-sep-width: $inline-list-item-separation / 3.0;

.vitae {
  // --font-size-heading-organization: 1.25em
  --font-size-heading-organization: var(--font-size-larger-1);
  --font-weight-heading-organization: var(--font-weight-strong);
  --font-size-heading-role: var(--font-size-larger-1);
  --font-weight-heading-role: var(--font-weight-strong);
  --font-center-offset-heading-role: 0.5;
  --line-height: 1.5;
  // --line-height-heading: var(--line-height)
  --line-height-heading: 1.2;

  --section-title-sep-vert: 0.5em;

  --inline-list-item-separation: 2ch;
  --inline-list-sep-width: var(--inline-list-item-separation) / 3.0;

  --organization-logo-width: 2rem;
  --organization-logo-column-padding-right: 0.75em;
  --organization-logo-column-width: var(--organization-logo-width) + var(--organization-logo-column-padding-right);

  --tl-marker-pad-v: 0.25em;
  --tl-marker-width: 0.5em;
  --tl-marker-height: var(--tl-marker-width);
  --tl-item-pad-v: 0.25em;
  --tl-line-width: 2px;
  --tl-offset-left: (-1 * var(--organization-logo-width) / 2 - var(--organization-logo-column-padding-right));

  --stage-org-sep-vert: 1.0rem;
  --stage-org-header-mar-v: 0.125rem;
  --stage-role-sep-vert: 1.0rem;
  --stage-timeline-width: var(--organization-logo-column-width);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
  .section-title {
    position: relative;
    font-family: var(--font-section-title);
    @include upper-caps-strong
    // margin-bottom: var(--section-title-sep-vert);
  }
  .section-title ~ .section-title {
    margin-top: var(--section-title-sep-vert);
    &::before {
      position: absolute;
      content: "";
      // top: calc(var(--section-title-sep-vert) /-4)
      top: 0;
      height: 0;
      // left: calc( var(--column-padding-left) / -2)
      // right: calc( var(--column-padding-right) / -2)
      left: 0;
      right: 0;
      border-top: 0.125rem solid var(--border-color-faint);
    }
  }
}

/* ----- Feature STAGES ------ */
.vitae {
  .section-stages {
    position: relative;

    &.organization-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      // horizontal: stick to both ends
      justify-content: space-between;
      align-items: center;
      gap: 0.5em;
      padding: 0;
      margin: var(--stage-org-header-mar-v) 0;
      break-after: avoid;
      // FIXME: Setting a negative margin on .feature-last
      // breaks the JavaScript function to distribute content
      // across pages
      // &.feature-last
      //   // border: 1px solid blue
      //   margin-bottom: -0.25em
      &.logo {
        min-height: var(--organization-logo-width);
        // margin-top: var(--section-title-sep-vert);
        padding-left: calc( var(--organization-logo-column-width) );
      }
      &.single-role {
        font-size: calc(var(--font-size-smaller-1));
      }
      .organization-header-main {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: 0.5em;
        padding-bottom: 0.25em;
      }
    }
    & + .organization-header {
      margin-top: var(--stage-org-sep-vert);
      &::before {
        border-top: 0.125em solid var(--border-color-faint);
        top: calc(var(--stage-org-sep-vert) / -2);
        content: "";
        height: 0;
        position: absolute;
        // left: calc( var(--column-padding-left) / -2)
        // right: calc( var(--column-padding-right) / -2)
        left: 0;
        right: 0;
      }
    }
    .organization {
      &-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: calc( var(--stage-timeline-width) );
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        user-select: none;
        &-image {
          // Reset max-width and max-height to avoid side-effects from base.scss
          max-width: unset;
          max-height: unset;
          width: calc(var(--organization-logo-width));
        }
      }
      &-title {
        margin: 0;
        padding: 0;
        // FIXME: The margin-top does not seem to be required anymore
        // margin-top: calc((var(--organization-logo-width) - var(--font-size-heading-organization)) / 2 + var(--font-size-heading-organization) * (1 - var(--line-height-heading)))
        color: var(--theme-text);
        font-size: calc(var(--font-size-heading-organization));
        font-weight: var(--font-weight-heading-organization);
        margin-right: auto;
      }
      &-period {
        user-select: none;
      }
    }
    .stage-period {
      font-size: calc(var(--font-size-smaller-1));
      display: flex;
      flex-direction: row;
      column-gap: 1ch;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: baseline;
      text-align: right;
      &.num-roles-1 {
        opacity: 0;
      }
      .date-duration {
        @include lower-caps;
        color: var(--text-color-faint);
        user-select: none;
      }
      .date-period {
        // color: var(--text-color-faint)
        font-size: calc(var(--font-size-smaller-1));
      }
    }
  }
  .section-stages {
    .role {
      &-header {
        position: relative;
        display: flex;
        // FIXME: When there is only one item in .role-header, make sure it has
        // appropriate margin to determine if it sticks to the flex-start or flex-end position
        // E.g. role-title needs margin-right: auto
        // horizontal: stick to both ends
        justify-content: space-between;
        // vertical: center
        align-items: center;
        break-after: avoid;
      }
      &-title {
        margin: 0;
        margin-right: auto;
        // margin-top: calc(var(--stage-role-sep-vert))
        padding: 0;
        font-size: calc(var(--font-size-heading-role));
        font-weight: var(--font-weight-heading-role);
        font-size: calc(var(--font-size-heading-role));
        font-weight: var(--font-weight-heading-role);
        &.partition {
          display: flex;
          align-items: center;
          column-gap: 1em;
        }
      }
      &-supertitle {
        font-weight: var(--font-weight-heading);
        padding-bottom: 0.5em;
      }
      &-subtitle {
        font-style: italic;
      }
    }
    &.role {
      &-header {
        position: relative;
        width: 100%;
        display: flex;
        // FIXME: When there is only one item in .role-header, make sure it has
        // appropriate margin to determine if it sticks to the flex-start or flex-end position
        // E.g. role-title needs margin-right: auto
        // horizontal: stick to both ends
        justify-content: space-between;
        // center to align with role-period even if either or both are multiple lines
        align-items: center;
        padding: calc(calc(var(--stage-role-sep-vert)) + var(--tl-item-pad-v)) 0 calc(var(--tl-item-pad-v)) 0;
        break-after: avoid;
      }
      &-skills {
        font-size: calc(var(--font-size-smaller-1));
        .role-skills {
          &-p {
            &-heading {
              font-weight: bold;
            }
            &-item ~ .role-skills-p-item {
              &::before {
                content: '•';
                display: inline-block;
                margin-right: var(--inline-list-item-separation) / 3.0 - 0.5ch;
                width: var(--inline-list-sep-width);
                text-align: center;
              }
            }
          }
        }
      }
      &-details {
        font-size: calc(var(--font-size-smaller-1));
      }
      &-responsibilities {
        padding-top: 0.5em;
        &.twocolumn {
          display: flex;
          column-gap: 1em;
        }
        .skill {
          font-weight: var(--font-weight-heading);
          width: min-content;
          min-width: 25%;
          hyphens: none;
        }        // .responsibility
      }
      &-results {
        ul,
        p {
          padding: 0.2rem 0 0 0;
        }
        p + p {
          padding: 0.2rem 0 0 0;
        }
        p + ul {
          padding: 0 0 0 0;
        }
      }
      &-achievements {
        span.inner-1 {
          font-weight: var(--font-weight-strong);
        }
        li.no-marker {
          list-style: none;
          &::before {
            content: none;
          }
        }
        ul,
        p {
          padding: 0.2rem 0 0 0;
        }
        p + p {
          padding: 0.2rem 0 0 0;
        }
        p + ul {
          padding: 0;
        }
        ul + ul {
          padding: 0;
        }        // FIXME: Setting a negative margin on .feature-last
        // breaks the JavaScript function to distribute content
        // across pages
        // &.feature-last
        //   border: 1px solid red
        //   margin-bottom: -0.5em
        &.feature-first {
          p:first-child,
          ul:first-child {
            padding: 0;
            margin-top: calc((1 - var(--line-height)) * 1em);
          }
        }
      }
    }
    &.role-section-heading {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0.75em 0 0.25em 0;
      font-weight: var(--font-weight);
      font-family: var(--font-section-title);
      font-variant: small-caps;
      text-transform: uppercase;
      .separator-line {
        flex: 1 1 auto;
        border-bottom: 1px solid var(--border-color-faint);
        margin-left: 1em;
      }
    }
  }
  .organization-header + .role-header {
    padding-top: 0;
  }
  .aside-primary .section-stages {
    // --font-size-heading-organization: 1em
    --font-size-heading-role: 1em;
    --font-weight-heading-role: var(--font-weight);
    .role-title {
      color: var(--text);
    }
  }
  .main-column {
    .section-stages {
      &.role-header {
        &.timeline {
          padding-left: calc( var(--organization-logo-column-width) );
          // Line part above dot
          &-role-within,
          &-role-last {
            &::before {
              position: absolute;
              display: block;
              content: "";
              border-radius: 0;
              background-color: var(--border-color-faint);
              // z-index: 100
              width: var(--tl-line-width);
              top: 0;
              height: calc(50% - var(--tl-marker-height) / 2 - var(--tl-marker-pad-v) + var(--stage-role-sep-vert) / 2);
              left: calc((var(--organization-logo-width) / 2 - var(--tl-line-width) / 2) );
            }          // Line part below dot
          }
          &-role-within,
          &-role-first {
            &::after {
              position: absolute;
              display: block;
              content: "";
              border-radius: 0;
              background-color: var(--border-color-faint);
              // z-index: 99
              width: var(--tl-line-width);
              height: calc(50% - var(--tl-marker-height) / 2 - var(--tl-marker-pad-v) - var(--stage-role-sep-vert) / 2);
              bottom: 0;
              left: calc((var(--organization-logo-width) / 2 - var(--tl-line-width) / 2) );
            }
          }
          .role-dot {
            position: absolute;
            display: block;
            border-radius: 50%;
            background-color: var(--border-color-faint);
            height: var(--tl-marker-height);
            width: var(--tl-marker-width);
            top: calc(50% - var(--tl-marker-height) / 2 + var(--stage-role-sep-vert) / 2);
            left: calc((var(--organization-logo-width) / 2 - var(--tl-marker-width) / 2) );
          }
        }
      }
      // No line above dot of first role
      &.organization-header.timeline + .role-header {
        &::before {
          content: none;
        }
      }
      &.timeline {
        padding-left: calc( var(--stage-timeline-width) );
        &-role-within,
        &-role-first {
          &::before {
            position: absolute;
            display: block;
            content: "";
            border-radius: 0;
            background-color: var(--border-color-faint);
            // z-index: 99
            width: var(--tl-line-width);
            top: var(--tl-marker-pad-v);
            top: 0;
            bottom: 0;
            left: calc((var(--organization-logo-width) / 2 - var(--tl-line-width) / 2) );
          }
        }
      }
    }
  }

  // Dark mode
  .view-screen {
    html[data-mode="dim"] {
      .organization-logo-image {
        border: 0.125rem solid var(--text);
        background: var(--text);
        border-radius: 0.125rem;
      }
    }
    @media screen and (prefers-color-scheme: dark) {
      html:not([data-mode="lit"]) {
        .organization-logo-image {
          border: 0.125rem solid var(--text);
          background: var(--text);
          border-radius: 0.125rem;
        }
      }
    }
  }
}


/* Feature PUBLICATIONS */
.vitae {
  .section-publications {
    --publication-sep-vert: 0.5em;
    --font-size-publications: var(--font-size-smaller-1);
    font-size: calc(var(--font-size-publications));
    .publication {
      &_item {
        position: relative;
        & + .publication_item {
          margin-top: var(--publication-sep-vert);
          &::before {
            border-top: 0.125em solid var(--border-color-faint);
            top: calc(var(--publication-sep-vert) / -2);
            content: "";
            height: 0;
            position: absolute;
            // left: calc( var(--column-padding-left) / -2)
            // right: calc( var(--column-padding-right) / -2)
            left: 0;
            right: 0;
          }
        }
      }
    }
    .publication {
      &_authors {
        break-after: avoid;
      }
      &_title {
        break-after: avoid;
        font-weight: var(--font-weight-strong);
      }
      &_date,
      &_timeline {
        color: var(--text-color-faint);
      }
      &_date {
        &_published {
          font-variant-caps: all-small-caps;
        }
      }
    }
  }
}


/* Feature LANGUAGES */
.vitae {
  .education-languages {
    &-item ~ .education-languages-item {
      &::before {
        content: '•';
        display: inline-block;
        margin-right: var(--inline-list-item-separation) / 3.0 - 0.5ch;
        width: var(--inline-list-sep-width);
        text-align: center;
      }
    }
    &-name {
      font-weight: var(--font-weight-strong);
    }
    &-level {
      // font-size: calc(var(--font-size-smaller-1))
      // font-variant-caps: all-small-caps
      font-style: italic;
    }
    &-certificates {
      font-size: calc(var(--font-size-smaller-1));
      // font-variant-caps: all-small-caps
      &-item ~ .education-languages-certificates {
        &::before {
          content: '•';
          display: inline-block;
          margin-right: var(--inline-list-item-separation) / 3.0 - 0.5ch;
          width: var(--inline-list-sep-width);
          text-align: center;
        }
      }
    }
  }
}


/* Feature SKILLS */
.vitae {
  .skill {
    &_container {
      display: grid;
      gap: 0.25em 0.5em;
      font-size: calc(var(--font-size-smaller-1));
    }
    &_name {
      grid-column: 1;
      grid-row: auto / span 2;
      font-weight: var(--font-weight-strong);
    }
    &_level {
      grid-column: 2;
      &_bar {
        position: relative;
        display: flex;
        width: 100%;
        // font-variant-caps: all-small-caps
        // font-style: italic
        background: var(--bg);
        border-radius: 2em;
        &_tab {
          border-radius: 2em;
          height: 0.5em;
          background: var(--xxhaze);
        }
      }
    }
    &_details {
      grid-column: 2;
    }
    &_certificates {
      font-size: calc(var(--font-size-smaller-1));
      &_item ~ .skill_certificates {
        &::before {
          content: '•';
          display: inline-block;
          margin-right: var(--inline-list-item-separation) / 3.0 - 0.5ch;
          width: var(--inline-list-sep-width);
          text-align: center;
        }
      }
    }
  }
}


/* Feature AWARDS */
.vitae {
  .award {
    &_container {
      display: flex;
      flex-direction: column;
      font-size: calc(var(--font-size-smaller-1));
    }
    &_header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &_logo {
      width: 2rem;
      margin: 0 1em 0.5em 0;
    }
    &_title {
      font-size: 1em;
      font-weight: var(--font-weight-strong);
    }
    &_organization {
      &_name {
        font-style: italic;
      }
    }
  }
}


/* ----- Layout RESUME ------ */
.vitae {
  &.layout-resume {
    .view-screen {
      .portrait {
        margin: 0 auto;
        max-width: 50%;
        .shape-round {
          border-radius: 50%;
        }
        .shadow {
          @include drop-shadow(2em, 0.2, 0.2);
        }
        @media screen and (min-width: $screenViewBreakpointWidthNarrow) {
          margin: 0 var(--column-padding-h) var(--column-padding-v) 0;
          max-width: 100%;
        }


        @media screen and (min-width: $screenViewBreakpointWidthTwoColumn) {
          margin: 0;
        }
      }
    }
    .view-print {
      .portrait {
        padding: 0;
        // @include full-bleed_column(top, left)
        @include full-bleed_column(top, auto);
        img {
          padding: 0;
          margin: 0;
          border-radius: 0;
        }
        border-bottom: 0.125rem solid var(--theme-text);
      }
    }
  }
}


/* ----- Layout EXECUTIVE ------ */
.vitae.layout-executive .view-print .template {
  // Part front page
  &_front-page {
    .slot {
      &_main {
        .section ~ .section {
          border-top: 0.125rem solid var(--border-color-faint);
        }
      }
    }
    .section {
      &_personal-profile {
        .profile {
          &_content {
            font-size: calc(var(--font-size-larger-1));
            padding: var(--inner_padding-y-1) 0;
          }
        }
        .panel {
          &_title {
            @include upper-caps;
          }
        }
      }
      &_career-summary,
      &_education {
        .organization-title {
          font-weight: 400;
        }
      }
      &_career-summary {
        .role-header {
          padding: 0.25em 0 0.25em calc(var(--organization-logo-column-width));
        }
      }
      &_award-selection {
        &_container {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 1em;
        }
        &_item {
          max-width: 30%;
        }
      }
    }
  }
}


/* ----- Layout LETTER ------ */
.vitae {
  &.layout-letter {
    .organization-header {
      .organization-title {
        display: none;
        font-size: calc(var(--font-size-heading-organization));
      }
    }
    .application-header {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      &-title {
        &.section-title {
          font-size: calc(var(--font-size-smaller-1));
          // font-weight: var(--font-weight-strong)
          // text-align: right
          width: 100%;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
