/* ----- Templates for layout EXECUTIVE ------ */
.vitae.layout-executive .view-print {
  .slot_footer {
    display: grid;
    gap: var(--inner_margin_4-4) var(--inner_margin_4-4);
    grid-template-columns: repeat(var(--num_columns), 1fr);
    align-items: start;
    grid-auto-flow: dense row;
    .component {
      &_footer {
        grid-column: 1 / span all;
        grid-row: 1;
      }
    }
  }
}

.vitae.layout-executive .view-print {
  .section-panel {
    margin-top: var(--inner_margin_4-0);
    display: grid;
    // gap: var(--inner_margin_4-1) var(--inner_margin_4-2);
    gap: var(--inner_margin_4-4) var(--column_gap);
    grid-template-columns: repeat(var(--num_columns), 1fr);
    align-items: start;
    grid-auto-flow: dense row;
  }
  .style_layout_inline {
    --list-style_padding: 0;
  }
  .style_layout_inline {
    .section-panel {
      margin-top: 0;
      // outline: 1px solid red;
      display: flex;
      flex-direction: column;
      // gap: var(--inner_margin_4-1) var(--inner_margin_4-2);
      gap: var(--inner_margin_4-1) 0;
    }
  }
}

.vitae.layout-executive .view-print .template {
  // Part front page
  &_front-page {
    --num_columns: 12;
    --main_column: 1;
    --main_column_width: 8;
    --aside_column: calc(var(--main_column) + var(--main_column_width));
    --aside_column_width: calc(var(--num_columns) - var(--main_column_width));
    --front-page_header_height_fraction: 1 / 6;

    .slot_header {
      height: calc( var(--page_height) * var(--front-page_header_height_fraction) );
      margin-bottom: var(--inner_margin_4-2);
    }

    .slot_main {
      display: grid;
      // gap: var(--inner_margin_4-4) var(--inner_margin_4-4);
      gap: 0 var(--column_gap);
      grid-template-columns: repeat(var(--num_columns), 1fr);
      align-items: start;
      grid-auto-flow: dense row;
      .section {
        &_personal-profile {
          grid-column: 1 / span var(--num_columns);
          grid-row: 1;
          // grid-area: span 1 / span 12;
        }
        &_career-summary {
          grid-column: 1 / span var(--num_columns);
          // grid-column: 1 / span var(--main_column_width);
          grid-row: 2;
          // grid-area: span 2 / span 12;
        }
        &_award-selection {
          grid-column: 1 / span var(--num_columns);
          // grid-column: 1 / span var(--main_column_width);
          // grid-column: var(--aside_column) / span var(--aside_column_width);
          // grid-row: 2;
          // grid-area: span 1 / span var(--aside_column_width);
        }
        &_career-summary-awards {
          grid-column: 1 / span var(--num_columns);
          grid-row: 2;
        }
        &_key-achievements {
          grid-column: 1 / span var(--num_columns);
          // grid-column: 1 / span var(--main_column_width);
          // grid-row: 3;
        }
        &_connect {
          // grid-column: var(--aside_column) / span var(--aside_column_width);
          grid-column: 1 / span var(--num_columns);
          // grid-row: 4;
        }
        &_language-skills {
          grid-column: var(--aside_column) / span var(--aside_column_width);
          grid-row: 4;
          // grid-area: span 1 / span var(--aside_column_width);
        }
      }
      .section-panel_career-summary-awards {
        grid-column: 1 / span var(--num_columns);
        .section_career-summary {
          grid-row: 1;
          grid-column: 1 / span var(--main_column_width);
        }
        .section_award-selection {
          grid-row: 1;
          grid-column: var(--aside_column) / span var(--aside_column_width);
        }
      }
    }
    &.style_layout_inline {
      --front-page_header_height_fraction: 1 / 8;
      .slot_header {
        margin-bottom: var(--inner_margin_4-2);
      }
      .slot_main {
        // outline: 1px dashed red;
        gap: var(--inner_margin_4-1) var(--inner_margin_4-2);
      }
    }
  }

  // Main part (may include content from front page)
  &_main {
    --num_columns: 12;
    --main_column: 1;
    --main_column_width: 7;
    --aside_column: calc(var(--main_column) + var(--main_column_width));
    --aside_column_width: calc(var(--num_columns) - var(--main_column_width));

    --front-page_header_height_fraction: 1 / 6;

    .slot_header {
      margin-bottom: var(--inner_margin_4-2);
    }
    .slot_main {
      display: flex;
      flex-direction: column;
      &.grid {
        display: grid;
        // grid-template-rows: minmax(min-content, max-content) 1fr
        row-gap: var(--row-gap);
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--column-gap);
        align-items: start;
        grid-auto-flow: dense column;
        .section {
          &_experience, &_education {
            grid-column: 1 / span all;
          }
        }
      }
      .section-panel_education-languages {
        .section_education {
          grid-column: 1 / span var(--main_column_width);
        }
        .section_language-skills {
          grid-column: var(--aside_column) / span var(--aside_column_width);
        }
      }
    }
    &.style_layout_inline {
      --front-page_header_height_fraction: 1 / 8;
    }
  }

  // Part appendix
  &_appendix {
    --num_columns: 12;
    --main_column: 1;
    --main_column_width: 7;
    --aside_column: calc(var(--main_column) + var(--main_column_width));
    --aside_column_width: calc(var(--num_columns) - var(--main_column_width));

    .slot_main {
      display: grid;
      // gap: var(--inner_margin_4-1) var(--inner_margin_4-2);
      gap: var(--inner_margin_4-4) var(--inner_margin_4-4);
      grid-template-columns: repeat(var(--num_columns), 1fr);
      align-items: start;
      grid-auto-flow: dense row;
      .section {
        // &_education, &_patent-selection, &_publication-selection {
        //   grid-column: 1 / span var(--num_columns);
        // }
        &_education {
          // grid-column: 1 / span var(--num_columns);
          grid-column: var(--main_column) / span var(--main_column_width);
        }
        &_language-skills {
          grid-column: var(--aside_column) / span var(--aside_column_width);
          // grid-row: 4;
          // grid-area: span 1 / span var(--aside_column_width);
        }
        &_publication-selection {
          grid-column: var(--main_column) / span var(--main_column_width);
        }
        &_patent-selection {
          grid-column: var(--aside_column) / span var(--aside_column_width);
        }
        &_award-selection {
          grid-column: var(--main_column) / span var(--main_column_width);
          grid-row: 3 / span 2
          // grid-row: 4;
          // grid-area: span 1 / span var(--aside_column_width);
        }
        &_interests {
          // grid-column: var(--aside_column) / span var(--aside_column_width);
          grid-column: var(--main_column) / span var(--main_column_width);
          // grid-column: 1 / span var(--num_columns);
          // grid-row: 5;
        }
        &_connect {
          grid-column: var(--aside_column) / span var(--aside_column_width);
          // grid-column: 1 / span var(--num_columns);
          // grid-row: 5;
        }
      }
    }
  }
}
