/* ----- Templates for layout EXECUTIVE ------ */
.vitae.layout-executive .view-print .template {
  // Part front page
  &_front-page {
    padding: var(--page-margin-top) var(--page-margin-right) var(--page-margin-bottom) var(--page-margin-left);
    .slot_main {
      display: grid;
      gap: var(--inner_margin-y-2) var(--inner_margin-x);
      grid-template-columns: repeat(12, 1fr);
      align-items: start;
      grid-auto-flow: dense column;
      .section {
        &_personal-profile {
          grid-column: 1 / span all;
          grid-row: 1;
        }
        &_career-summary {
          grid-column: 1 / span 6;
          // grid-row: 2 / span 2;
        }
        &_career-summary-timeline {
          grid-column: 7 / span 6;
          // grid-row: 2 / span 2;
        }
        &_language-skills {
          grid-column: 1 / span 6;
          // grid-row: 2;
        }
        &_award-selection {
          grid-column: 7 / span 6;
          // grid-row: 3;
        }
        &_patent-selection {
          grid-column: 1 / span 8;
          // grid-row: 4;
        }
      }
    }
    .footer {
      grid-column: 1 / span all;
      display: grid;
      row-gap: var(--row-gap);
      grid-template-columns: repeat(12, 1fr);
      column-gap: var(--column-gap);
      align-items: start;
      .section {
        &-connect {
          grid-column: 9 / span 4;
          grid-row: 4;
        }
      }
    }
  }
  &_career-timeline {
    --section-title-sep-vert: var(--inner_margin_4-6);
    .slot_main {
      padding: var(--page-margin-top) var(--page-margin-right) var(--page-margin-bottom) var(--page-margin-left);
      display: flex;
      flex-direction: column;
      &.grid {
        display: grid;
        // grid-template-rows: minmax(min-content, max-content) 1fr
        row-gap: var(--row-gap);
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--column-gap);
        align-items: start;
        grid-auto-flow: dense column;
        .section {
          &_experience, &_education {
            grid-column: 1 / span all;
          }
        }
      }
    }
  }
}
