{{- $page := .Page }}
{{- $fragment := .Fragment }}
{{- $config := .Config }}
{{- $style := .MergedStyle.Style }}
{{- $template := "partials/vitae/fragments/contact" }}
{{- $media := .Media }}
{{/* {{- warnf "%s[%s]: outputFormat:%s" $page $template $outputFormat }} */}}
{{- $obfuscatedLink := "partials/claris/_components/obfuscated-link.html" }}

{{- $fields := default (slice
  (dict "field" "street" "separator" " ")
  (dict "field" "po_box" "separator" " ")
  (dict "field" "zip" "separator" "SEP")
  (dict "field" "city" "separator" ", ")
  (dict "field" "country" "separator" "")
) $config.fields }}

{{- with index .Params.fragments $fragment "fields" }}
  {{- warnf "%v" (jsonify (dict "indent" "  ") . ) }}
  {{- $fields = . }}
{{- end }}

{{- $contactIcons := true }}
{{- $inlineSeparatorStr := default "•" $style.inline_separator }}
{{- $inlineSeparatorStr = trim $inlineSeparatorStr "  " }}
{{/* {{- $inlineSeparatorStr := "<br>" }} */}}

{{- /* warnf "%s[%s]: .Fragment=%s .Config=%s .Data=%s" $page $template $fragment $config .Data.features.contact */ -}}
{{- with default .Data.features.contact (index .Data.features.contact $media) }}
  {{- with $config.title }}
    <h2 class="contact_title section-title">{{- default . (T .) -}}</h2>
  {{- end }}
  {{- with .phone -}}
    {{- $phoneURL := printf "tel:%s" (strings.TrimPrefix "tel:" . ) }}
      <div class="contact_item_phone fragment_item">
        {{- if $contactIcons }}
          {{ partial "fa-icon" "solid/phone" }}
        {{ end -}}
        <span class="contact_phone">
          {{- if templates.Exists $obfuscatedLink }}
            {{- /* warnf "%v: using partial '%s' to render email address" $page . */ -}}
            {{- partial $obfuscatedLink (dict "Page" $page "Plain" $phoneURL) | safeHTML }}
          {{- else }}
            <a href="{{- $phoneURL -}}">
              {{- . -}}
            </a>
          {{- end }}
        </span>
      </div>
  {{- end -}}
  {{- with .email -}}
    {{- $emailURL := printf "mailto:%s" (strings.TrimPrefix "mailto:" . )  }}
      <div class="contact_item_email fragment_item">
        {{- if $contactIcons }}
          {{ partial "fa-icon" "envelope" }}
        {{ end -}}
        <span class="contact_email">
          {{- if templates.Exists $obfuscatedLink }}
            {{- /* warnf "%v: using partial '%s' to render email address" $page . */ -}}
            {{- partial $obfuscatedLink (dict "Page" $page "Plain" $emailURL) | safeHTML }}
          {{- else }}
            <a href="{{- $emailURL -}}">
              {{- . -}}
            </a>
          {{- end }}
        </span>
      </div>
  {{- end -}}
  {{- with $address := .address }}
    <address class="contact_item_address address fragment_item">
      {{- if $contactIcons }}
      {{ partial "fa-icon" "map" }}
      {{- end -}}
      <div class="fragment_item-text">
        {{- range $fieldSpec := $fields }}
          {{- $field := .field }}
          {{- $sep := .separator }}
          {{- with (index $address $field) }}
            {{- if (eq $sep "SEP") }}{{ $sep = printf " %s " $inlineSeparatorStr }}{{- end }}
              <span class="address-{{ $field }}">{{ printf "%v%v" . $sep | safeHTML }}</span>
            {{- end }}
          {{- end }}
      </div>
    </address>
  {{- end -}}
{{- end -}}
