{{- $page := .Page }}
{{- $fragment := .Fragment }}
{{- $config := .Config }}
{{- $data := .Data }}
{{- $style := .MergedStyle.Style }}
{{- $template := "partials/vitae/fragments/skill" }}
{{- $media := .Media }}
{{- $fragmentContainer := default false .Container }}
{{- $debug := false }}
{{- /* $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?.*?/resume` $page.RelPermalink) ) ) */ -}}
{{/* {{- warnf "%s[%s]: media=%s .Fragment=%s .Config=%s" $page $template $media $fragment $config -}} */}}
{{- /* if $debug }}
  {{- warnf "%s[%s]: .Fragment=%s .Config=%s .Data=%s" $page $template $fragment $config $data -}}
{{- end */ -}}

{{/* {{- warnf "%s[%s]: outputFormat:%s" $page $template $outputFormat }} */}}

{{- $validStyles := (dict
  "_template" $template
  "ats" (dict
    "true" (dict
      "layout" "inline"
    )
  )
  "layout" (slice
    "inline"
    "shallow"
  )
  "icon" "ANY_BOOL"
  "label" "ANY_BOOL"
  "qrcode" "ANY_BOOL"
) -}}

{{- $mergedStyle := partial "vitae/_functions/style-merged" (dict
  "Template" $template
  "MergedStyle" .MergedStyle
  "ValidStyles" $validStyles
) -}}

{{- $style := $mergedStyle.Style }}
{{- $styleClassList := $mergedStyle.StyleClass }}

{{- $inlineLayout := (in $style.layout "inline") }}
{{- $showLabelIcon := and (not $inlineLayout) (default true $style.icon) }}
{{- $showLabelText := default (not $showLabelIcon) $style.label }}
{{- $qrCode := $style.qrcode }}

{{- $inlineSeparatorStr := default "•" $style.inline_separator }}
{{- $blockSeparatorStr := default "<br>" $style.block_separator }}

{{- $labelIcon := (dict
  "address" "regular/map"
  "phone" "solid/phone"
  "email" "regular/envelope"
  "date_of_birth" "solid/cake-candles"
  "citizenship" "solid/globe"
) -}}

{{- $fragmentClass := "fragment_skill" }}

{{- $obfuscatedLinkPartial := "claris/_components/obfuscated-link.html" }}

{{- with $fragmentData := $data }}
  {{- if $debug }}
    {{- warnf "%s[%s]: config.fields=%v" $page $template
    (jsonify (dict "indent" "  ") $config.fields) }}
  {{- end -}}
  {{- with $config.fields }}
    {{- if $inlineLayout }}
      {{- $fragmentContainer = "span" }}
    {{- end }}
    {{- with $fragmentContainer }}
      {{- printf `<%s class="%s">` . $fragmentClass | safeHTML }}
    {{- end }}

    {{- $inlineFieldCount := 0 }}
    {{- $fieldSeparator := false }}

    {{- range $fieldIndex, $field := $config.fields }}
      {{- if $debug }}
        {{- warnf "%s[%s]: field[%d]: %s" $page $template $fieldIndex $field -}}
      {{- end }}

      {{- $fieldName := $field }}
      {{- if reflect.IsMap $fieldName }}
        {{- $fieldName = $field.field }}
      {{- end }}

      {{- $fieldItems := slice }}

      {{- with ($fieldData := (index $fragmentData $fieldName)) }}
        {{- /* $fieldName }}: {{ jsonify (dict "indent" "  ") $fieldData | safeHTML */ -}}

        {{- $items := $fieldData }}

        {{- if not (reflect.IsSlice $items) }}
          {{- $items = slice $items }}
        {{- end }}

        {{- range $items }}
          {{- $item := . }}
          {{- with $itemMedia := .media }}
            {{- if not (reflect.IsSlice $itemMedia ) }}
              {{- $itemMedia = slice $itemMedia }}
            {{- end }}
            {{- if not (in $itemMedia $media) }}
              {{- $item = false }}
            {{- end }}
          {{- end -}}
          {{- with $item }}
            {{- $fieldItems = append $item $fieldItems }}
          {{- end }}
        {{- end }}
      {{- end }}

      {{- with $fieldItems }}
        {{- $classPrefix := $fieldName }}
        {{- $fieldContainer := "span" }}
        {{- if $showLabelIcon }}
          {{- $fieldContainer = "div" }}
        {{- end }}
        {{- with $fieldContainer }}
          {{- printf `<%s class="%s">` . $fragmentClass | safeHTML }}
        {{- end }}
        {{- range $fieldData := $fieldItems }}
          {{- /* $fieldName }}: {{ jsonify (dict "indent" "  ") $fieldData | safeHTML */ -}}

          {{- $renderedField := "" }}
          {{- $partial := printf "vitae/fragments/render_%s.html" $fieldName }}
          {{- if templates.Exists (printf "partials/%s" $partial) }}
            {{- $renderedField = partial $partial (dict
              "Page" $page
              "Config" $config
              "InlineSeparatorStr" $inlineSeparatorStr
              "Field" $field
              "Data" $fieldData
              "ClassPrefix" $classPrefix
              "ObfuscatedLinkPartial" $obfuscatedLinkPartial ) }}
          {{- else }}
            {{- errorf "%s[%s]: Missing partial %s to render %v"
                $page $template $partial $fieldName }}
          {{- end }}

          {{- with $renderedField }}
            {{- $fieldTextContainer := false }}
            {{- if $showLabelIcon }}
              {{- $fieldTextContainer = "div" }}
            {{- end }}

            {{- $content := .content }}
            {{- with $fieldSeparator }}
              {{ safeHTML $fieldSeparator }}
            {{- else }}
              {{- if and $inlineLayout (gt $inlineFieldCount 0) }}
                {{- safeHTML $inlineSeparatorStr }}
              {{- end }}
            {{- end }}
            {{- with and $showLabelIcon (index $labelIcon $fieldName) }}
              {{ partial "fa-icon" . }}
            {{- end }}
            {{- if $showLabelText }}
              {{- with $fieldTextContainer }}
                {{- printf `<%s class="fragment_item-text">` $fieldTextContainer | safeHTML }}
              {{- end }}
              {{- $title := default (printf "fragment_%s_%s" $fragment $fieldName) $field.title }}
              {{- with $title }}
                {{- with T (printf "%s_prefix" . ) }}
                  <span class="{{ $classPrefix }}_prefix">
                    {{- . | strings.FirstUpper | page.RenderString }}
                  </span>
                {{- else }}
                  {{- with T (printf "%s_label" . ) }}
                    <span class="{{ $classPrefix }}_label">
                      {{- printf `%s:` (strings.FirstUpper . ) | page.RenderString }}
                    </span>
                  {{- else }}
                    {{- with T . }}
                      <span class="{{ $classPrefix }}_title">
                        {{- . | strings.FirstUpper | page.RenderString }}
                      </span>
                    {{- end }}
                  {{- end }}
                {{- end }}
              {{- end }}
            {{- end -}}
            <span class="{{ $classPrefix }}_text">
              {{- with .link }}
                {{- if templates.Exists (printf "partials/%s" $obfuscatedLinkPartial) }}
                  {{- /* warnf "%v: using partial '%s' to render %s" $page $obfuscatedLinkPartial $field */ -}}
                  {{- $content = partial $obfuscatedLinkPartial (dict "Page" $page "Plain" .) | safeHTML }}
                {{- else }}
                  {{- errorf "%v: missing partial '%s' to render %s" $page $obfuscatedLinkPartial $field -}}
                  {{- $content = printf `<a href="%s">%s</a>` . . | safeHTML }}
                {{- end }}
              {{- end }}
              {{- $content | page.RenderString | safeHTML -}}
            </span>
            {{- if $showLabelText }}
              {{- with $field.title }}
                {{- with T (printf "%s_suffix" . ) }}
                  <span class="{{ $classPrefix }}_suffix">
                    {{- page.RenderString . }}
                  </span>
                {{- end }}
              {{- end }}
            {{- end }}
            {{- $inlineFieldCount = add $inlineFieldCount 1 }}
            {{- with $fieldSeparator = $field.separator }}
              {{- if (eq $field.separator "INLINE") }}
                {{- $fieldSeparator = $inlineSeparatorStr }}
              {{- else if (eq $field.separator "BLOCK") }}
                {{- $fieldSeparator = $blockSeparatorStr }}
                {{- $inlineFieldCount = 0 }}
              {{- end }}
            {{- else }}
              {{- $fieldSeparator = false }}
            {{- end }}

            {{- with and $showLabelText $fieldTextContainer }}
              {{- printf "</%s>" . | safeHTML }}
              {{- $fieldTextContainer = false }}
            {{- end }}
          {{- end }}
        {{- end }}
        {{- with $fieldContainer }}
          {{- printf "</%s>" . | safeHTML }}
          {{- $fieldContainer = false }}
        {{- end }}
      {{- end }}
    {{- end }}
    {{- with $fragmentContainer }}
      {{- printf "</%s>" . | safeHTML }}
      {{- $fragmentContainer = false }}
    {{- end }}
  {{- end -}}
{{- end -}}

