{{ if .Footer.links }}
<span class="footer-item">
	{{ range .Footer.links }}
	<span class="footer-link">
		{{ .prefix }}
		<a href="{{ .url }}" class="no-external-icon">
			<span>{{ .title }} </span>
			{{ if and $.useFontAwesome .icon }}<i class="{{ .icon }}"></i>{{ end }}
		</a>
	</span>
	{{ end }}
</span>
{{ end }}

<span class="footer-item">
	{{ .Footer.footnote }}
</span>

{{ if .Footer.credits }}
<span class="footer-item" id="credits">
	<span>This resume is rendered by template code from </span>
	<a href="https://github.com/simihomer/" class="no-external-icon"><span>Simon Heimlicher</span>&nbsp;<i class="fab fa-github"></i></a>
</span>
{{ end }}
