{{- $page := . }}
{{- $pp := . }}
{{- if reflect.IsMap . }}
{{- $page = .Page }}
{{- end }}
{{- /* Restore context as if "." had been passed */ -}}
{{- with $page }}
{{- $page = . }}
{{- $s := .Site.Params }}
{{- $p := .Params }}
{{- $template := printf "partials/vitae/letter)" }}
{{- $separatorStr := " • " }}

{{ partial "html-comment" (printf "BEGIN '%s'" $template) }}

{{- $paginationContainerClass := $pp.PaginationContainerClass }}
{{- $paginationOrderAttr := $pp.PaginationOrderAttr }}
{{- $paginationPolicyAttr := $pp.PaginationPolicyAttr }}
{{- $vitaeParams := $pp.VitaeParams }}
{{- $vitaeData := $pp.VitaeData }}

{{- $headerChildClass := "header-item" }}
<header class="main-header {{ $paginationContainerClass }}"
{{ printf " %s=\"%d\"" $paginationOrderAttr 999 | safeHTMLAttr }}
{{ printf " %s=\"%s\"" $paginationPolicyAttr "first" | safeHTMLAttr -}}
>
  {{- if $pp.LoremipsumOnly }}
    {{- partial "loremipsum" (dict "Count" 1 "Class" $headerChildClass "Header" "<h2>main-column</h2>" "Prefix" "<strong>main-column</strong>") }}
  {{- else }}
    {{- range $vitaePageIndex, $vitaePage := $vitaeParams.pages }}
      {{- with $vitaePage.main -}}
        {{- /* warnf "%s[%s]: Render header %d: main=%v" $page $template $vitaePageIndex . */ -}}
        {{- range $vitaeFeatureIndex, $vitaeFeature := . }}
          {{ partial "vitae/section" (dict
          "Page" $page
          "Feature" $vitaeFeature
          "Config" $vitaeParams
          "HeadingLevel" 1
          "PageIndex" $vitaePageIndex
          "FeatureIndex" $vitaeFeatureIndex
          "Container" false
          "ChildClass" $headerChildClass
          "Data" $vitaeData) }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
</header>

{{- $mainColumnChildClass := "main-column-item" }}
<article class="main-column vitae-main-container {{ $paginationContainerClass }}"
{{ printf "%s=\"%d\"" $paginationOrderAttr 9 | safeHTMLAttr }}
{{ printf "%s=\"%s\"" $paginationPolicyAttr "break" | safeHTMLAttr -}}
>
  {{- if (or $p.PublishDate $p.Subject) }}
   <div class="letter-meta">
  {{- if $p.PublishDate }}
    <div class="date">
    {{- with $p.location }}
    <span class="location">{{ $.Page.RenderString (printf "%s %s " . $separatorStr) }}</span>
    {{- end }}
    {{- with $p.PublishDate }}
      <span class="date">{{ (.Format "January 2, 2006") }}</span>
    {{- end }}
    </div>
  {{- end }}
  {{- with $p.Subject }}
    <div class="subject">{{ $.Page.RenderString . }}</div>
  {{- end }}
  </div>
  {{- end }}

  {{- if $pp.LoremipsumOnly }}
    {{- partial "loremipsum" (dict "Count" 25 "Class" $mainColumnChildClass "Header" "<h2>main-column</h2>" "Prefix" "<strong>main-column</strong>") }}
  {{- else }}
    {{ .Content }}
  {{- end }}
</article>

{{- $asidePrimaryChildClass := "aside-primary-item" }}
<aside class="aside-header {{ $paginationContainerClass }}"
{{ printf "%s=\"%d\"" $paginationOrderAttr 99 | safeHTMLAttr }}
{{ printf "%s=\"%s\"" $paginationPolicyAttr "first" | safeHTMLAttr -}}
>
  {{- if $pp.LoremipsumOnly }}
    {{- partial "loremipsum" (dict "Count" 5 "Class" $asidePrimaryChildClass "Header" "<h3>aside-primary</h3>" "Prefix" "<strong>aside-primary</strong>") }}
  {{- else }}
    {{- range $vitaePageIndex, $vitaePage := $vitaeParams.header }}
      {{- with $vitaePage.main -}}
        {{- /* warnf "%s[%s]: Render aside-header %d: main=%v" $page $template $vitaePageIndex . */ -}}
        {{- range $vitaeFeatureIndex, $vitaeFeature := . }}
          {{ partial "vitae/section" (dict
          "Page" $page
          "Feature" $vitaeFeature
          "Config" $vitaeParams
          "HeadingLevel" 1
          "PageIndex" $vitaePageIndex
          "FeatureIndex" $vitaeFeatureIndex
          "Container" false
          "ChildClass" $asidePrimaryChildClass
          "Data" $vitaeData) }}
        {{- end }}
      {{- end }}
    {{- end }}
</aside>
<aside class="aside-primary {{ $paginationContainerClass }}"
{{ printf "%s=\"%d\"" $paginationOrderAttr 99 | safeHTMLAttr }}
{{ printf "%s=\"%s\"" $paginationPolicyAttr "break" | safeHTMLAttr -}}
>
    {{- range $vitaePageIndex, $vitaePage := $vitaeParams.pages }}
      {{- with $vitaePage.primary -}}
        {{- /* warnf "%s[%s]: Render aside-primary %d: %v" $page $template $vitaePageIndex . */ -}}
        {{- range $vitaeFeatureIndex, $vitaeFeature := . }}
          {{ partial "vitae/section" (dict
          "Page" $page
          "Feature" $vitaeFeature
          "Config" $vitaeParams
          "HeadingLevel" 1
          "PageIndex" $vitaePageIndex
          "FeatureIndex" $vitaeFeatureIndex
          "Container" "div"
          "ChildClass" $asidePrimaryChildClass
          "Data" $vitaeData) }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
</aside>
{{ partial "html-comment" (printf "END   '%s'" $template) }}
{{- end }}
