{{- $pp := .}}
{{- $page := . }}
{{- $template := "partials/vitae/print-preview" }}
{{- $printControl := false }}
{{- $pdfDownloadURL := false }}
{{- $printPreviewToggleID := "printPreviewToggle" }}
{{- $printPreviewToggleClass := "print-preview_toggle" }}
{{- $containerClass := "print-preview" }}
{{- $targetClass := "print-preview_target" }}
{{- $navigationClass := "print-preview_navigation" }}
{{- if reflect.IsMap . }}
  {{- with .Page }}
    {{- $page = . }}
  {{- end }}
  {{- with .ContainerClass }}
    {{- $containerClass = printf "%s %s" $containerClass . }}
  {{- end }}
  {{- with .TargetClass }}
    {{- $targetClass = printf "%s %s" $targetClass . }}
  {{- end }}
  {{- with .NavigationClass }}
    {{- $navigationClass = printf "%s %s" $navigationClass . }}
  {{- end }}
  {{- with .PrintControl }}
    {{- $printControl = . }}
  {{- else }}
    {{- $printControl = default $printControl ($page.Param "printControl") }}
  {{- end }}
  {{- with .PDFDownloadURL }}
    {{- $pdfDownloadURL = . }}
  {{- else }}
    {{- $pdfDownloadURL = default $pdfDownloadURL ($page.Param "pdfDownloadURL") }}
  {{- end }}
{{- end }}

{{- $layout := $pp.Layout }}
{{- $media := $pp.Media }}
{{- $printPreview := $pp.PrintPreview }}
{{- $printView := $pp.PrintView }}

{{- if (or $printControl $printPreview $printView) }}
  {{/* {{- warnf "%s[%s]: .Params=%v printPreview=%v printView=%v" $page $template $printPreview $printView -}} */}}
  {{- if $printControl}}
  {{- else if $printPreview }}
    {{- $targetClass = printf "%s preview-%s" $targetClass "prepare" }}
  {{- else if $printView }}
    {{- $targetClass = printf "%s preview-%s" $targetClass "render" }}
  {{- end }}

  {{/* {{- partial "html-comment" (printf "BEGIN partial '%s'" $template) }} */}}
  {{- if or $printControl $pdfDownloadURL }}
  <nav id="printPreviewNav" class="{{- $navigationClass }}">
    {{- if $printControl }}
    <a id="{{ $printPreviewToggleID }}" {{- with $printPreviewToggleClass }}{{- printf " class=\"%s\"" . | safeHTMLAttr -}}{{- end }} title="Toggle print preview">
      {{- partial "sprite" (dict "icon" "print") }}
    </a>
    <a id="printButton" class="print-preview_button-print"  title="Print">
      {{ partial "sprite" (dict "icon" "file-pdf") }}
    </a>
    {{- else if ($pdfDownloadURL) }}
    <a id="pdfDownloadButton" class="print-preview_button-pdf-download"  title="Download PDF">
      {{ partial "sprite" (dict "icon" "file-pdf") }}
    </a>
    {{- end }}
  </nav>
  {{- end }}
  <div id="printPreviewContainer" class="{{- $containerClass }}">
    <div id="printPreviewTarget" class="{{- $targetClass -}}">
    </div>
  </div>
  {{/* {{- partial "html-comment" (printf "END partial '%s'" $template) }} */}}
{{- end }}
