{{- $page := .Page }}
{{- $childClass := default "" .ChildClass }}
{{- $partialOutput := default false (not .PartialOutput) }}
{{- $rootData := .Data }}
{{- $data := (default .Data .Subset) }}
{{- $inLevel := default 0 .InputLevel }}
{{- $inLevelShift := default 2 .InputLevelShift }}
{{- $outLevel := (sub $inLevel $inLevelShift) }}
{{- $outSuffix := default (slice ": " "" "") .OutputSuffix }}
{{- $innerClass := default (slice "inner-1" "inner-2" "inner-3") .InnerClass }}
{{- /* warnf "inLevel %d inLevelShift %d outLevel %d" $inLevel $inLevelShift $outLevel */ -}}

{{- $levelIndentStr := "  " }}
{{- $inIndentStr := "" }}
{{- if (gt $outLevel 0) }}
  {{- $outIndentStr := (strings.Repeat $outLevel $levelIndentStr) }}
{{- end }}

{{- $comSubStrLen := 20 }}
{{- $dataSubstr := (substr (printf "%v" $data) 0 $comSubStrLen) }}
{{- $dataType := "Value" }}
{{- if reflect.IsMap $data }}
  {{- $dataType = "Map  " }}
  {{- else if reflect.IsSlice $data }}
  {{- $dataType = "Slice" }}
{{- end -}}

{{- $optInline := dict "display" "inline" }}
{{- $optBlock := dict "display" "block" }}
{{- $markdown := "" }}
{{- $renderOpt := $optInline }}

{{- if reflect.IsMap $data }}
  {{/* {{ partial "html-comment" (printf "[in=%d out=%d shift=%d]:%s Iterate over Map '%v' with %d elements"
  $inLevel $outLevel $inLevelShift $inIndentStr (substr (printf "%v" $data) 0 $comSubStrLen) (len $data)) -}} */}}

  {{- if (eq $outLevel (sub 1 $inLevelShift) ) }}
    <div {{- with $childClass -}}{{ printf " class=\"%s\"" $childClass | safeHTMLAttr }}{{- end }}>
  {{- else if (eq $outLevel $inLevelShift) }}
    <span {{- with $innerClass -}}{{ printf " class=\"%s\"" (index $innerClass (add $outLevel (sub $inLevelShift 1))) | safeHTMLAttr }}{{- end }}>
  {{- end }}

  {{- range $k, $v := $data }}
    {{- $outStr := $k }}
    {{/* {{ partial "html-comment" (printf "[in=%d out=%d shift=%d]:%s Render Map key '%v'"
    $inLevel $outLevel $inLevelShift $inIndentStr (substr (printf "%v" $outStr) 0 $comSubStrLen)) -}} */}}
    {{- if (eq $outLevel (sub $inLevelShift 3) ) }}
      <p {{- with $innerClass -}}{{ printf " class=\"%s\"" (index $innerClass (add $outLevel (sub $inLevelShift 1))) | safeHTMLAttr }}{{- end }}>
        <span {{- with $innerClass -}}{{ printf " class=\"%s\"" (index $innerClass (add $outLevel (sub $inLevelShift 1))) | safeHTMLAttr }}{{- end }}>
      {{- $outStr = printf "%s%s" $outStr (index $outSuffix (add $outLevel (sub $inLevelShift 1)) ) }}
    {{- else if (eq $outLevel (sub $inLevelShift 2) ) }}
        <span {{- with $innerClass -}}{{ printf " class=\"%s\"" (index $innerClass (add $outLevel (sub $inLevelShift 1))) | safeHTMLAttr }}{{- end }}>
    {{- else }}
      {{- range $idx, $val := (seq $outLevel) }}
        {{ printf "%s<ul class=\"ul-level-%d\">" (strings.Repeat $idx $levelIndentStr) (add $idx 1) | safeHTML }}
        {{ printf "%s<li class=\"%s\">" (strings.Repeat (add 1 $idx) $levelIndentStr) (cond (lt $idx (sub $outLevel 1)) "no-marker" "marker") | safeHTML }}
      {{- end }}
      {{- (strings.Repeat (add 1 $outLevel) $levelIndentStr) | safeHTML }}
    {{- end }}
    {{- $page.RenderString $renderOpt $outStr }}
    {{/* {{ partial "html-comment" (printf "[in=%d out=%d shift=%d]:%s Closing tags after Map key '%v'"
    $inLevel $outLevel $inLevelShift $inIndentStr (substr (printf "%v" $outStr) 0 $comSubStrLen)) -}} */}}
    {{- if (gt $outLevel $inLevelShift) }}
      {{- range $idx, $val := (seq $outLevel) }}
        {{ printf "%s</li>" (strings.Repeat (sub $outLevel $idx) $levelIndentStr) | safeHTML }}
        {{ printf "%s</ul>" (strings.Repeat (sub (sub $outLevel $idx) 1) $levelIndentStr) | safeHTML }}
      {{- end }}
    {{- else if (eq $outLevel (sub $inLevelShift 2) ) }}
        </span>
      </p>
    {{- else if (eq $outLevel (sub $inLevelShift 3) ) }}
        </span>
    {{- end }}

    {{- if $v }}
      {{- $subSet := $v }}
      {{- $subSetType := "Value " }}
      {{- if reflect.IsMap $subSet }}
        {{- $subSetType = "Map  " }}
      {{- else if reflect.IsSlice $subSet }}
        {{- $subSetType = "Slice" }}
      {{- end }}
      {{/* {{ partial "html-comment" (printf "[in=%d out=%d shift=%d]:%s %s -> %s: RECURSIVE CALL with '%s'"
      $inLevel $outLevel $inLevelShift $inIndentStr $dataType $subSetType (substr (printf "%v" $subSet) 0 $comSubStrLen) ) -}} */}}
      {{- partial "vitae/role-achievements" (dict
      "Page" $page
      "ChildClass" $childClass
      "PartialOutput" $partialOutput
      "Data" $rootData
      "Subset" $subSet
      "InputLevel" $inLevel
      "OutputLevel" $outLevel)
      $page $childClass $partialOutput $rootData $subSet (add $inLevel 1) $outLevel }}
    {{- else }}
      {{- errorf "%s/role-achievements[%d:%d]:%s %s SKIP INVALID ELEMENT[%T] %s: '%v'" $page $inLevel $outLevel $inIndentStr $dataType $v $v -}}
    {{- end }}
  {{- end }}
  {{- if (eq $outLevel (sub 1 $inLevelShift) ) }}
    </div>
  {{- end }}

{{- else if reflect.IsSlice $data }}

  {{- range $v := $data }}
    {{- if $v }}
      {{- $subSet := $v }}
      {{- $subSetType := "Value " }}
      {{- if reflect.IsMap $subSet }}
        {{- $subSetType = "Map  " }}
      {{- else if reflect.IsSlice $subSet }}
        {{- $subSetType = "Slice" }}
      {{- end }}
      {{/* {{ partial "html-comment" (printf "[in=%d out=%d shift=%d]:%s Slice -> %s: RECURSIVE CALL with '%s'"
      $inLevel $outLevel $inLevelShift $inIndentStr $subSetType (substr (printf "%v" $subSet) 0 $comSubStrLen)) -}} */}}
      {{- partial "vitae/role-achievements" (dict
      "Page" $page
      "ChildClass" $childClass
      "PartialOutput" $partialOutput
      "Data" $rootData
      "Subset" $subSet
      "InputLevel" (add $inLevel 1)
      "OutputLevel" (add $outLevel 1) )
      $page $childClass $partialOutput $rootData $subSet (add $inLevel 1) $outLevel }}

      {{- else }}
        {{- errorf "%s/role-achievements[%d:%d]:%s %s SKIP INVALID ELEMENT[%T] %s: '%v'" $page $inLevel $outLevel $inIndentStr $dataType $v $v }}
    {{- end }}
  {{- end }}

{{- else }}
  {{- $outStr := $data }}
  {{/* {{ partial "html-comment" (printf "[in=%d out=%d shift=%d]:%s Value: Render '%s'" $inLevel $outLevel $inLevelShift $inIndentStr (substr (printf "%v" $outStr) 0 $comSubStrLen)) -}} */}}
  {{- if (eq $outLevel (sub $inLevelShift 1) ) }}
    </div>
    <div {{- with $childClass -}}{{ printf " class=\"%s\"" $childClass | safeHTMLAttr }}{{- end }}>
  {{- end }}
  {{- if (gt $outLevel 0) }}
    {{- range $idx, $val := (seq $outLevel) }}
      {{ printf "%s<ul class=\"ul-level-%d\">" (strings.Repeat $idx $levelIndentStr) (add $idx 1) | safeHTML }}
      {{ printf "%s<li class=\"%s\">" (strings.Repeat (add 1 $idx) $levelIndentStr) (cond (lt $idx (sub $outLevel 1)) "no-marker" "marker") | safeHTML }}
    {{- end }}
    {{- (strings.Repeat (add 1 $outLevel) $levelIndentStr) | safeHTML }}
  {{- else }}
    <span {{- with $innerClass -}}{{ printf " class=\"%s\"" (index $innerClass (add $outLevel (sub $inLevelShift 1))) | safeHTMLAttr }}{{- end }}>
  {{- end }}
  {{ $page.RenderString $renderOpt $outStr }}
  {{- if (gt $outLevel 0) }}
    {{- range $idx, $val := (seq $outLevel) }}
      {{ printf "%s</li>" (strings.Repeat (sub $outLevel $idx) $levelIndentStr) | safeHTML }}
    {{ printf "%s</ul>" (strings.Repeat (sub (sub $outLevel $idx) 1) $levelIndentStr) | safeHTML }}
    {{- end }}
  {{- else }}
    </span>
  {{- end }}
  {{/* {{- if (eq $outLevel (sub $inLevelShift 1) ) }}
    </div>
    <div {{- with $childClass -}}{{ printf " class=\"%s\"" $childClass | safeHTMLAttr }}{{- end }}>
  {{- end }} */}}
  {{/* {{ partial "html-comment" (printf "[in=%d out=%d shift=%d]:%s Closing tags after Value '%v'"
  $inLevel $outLevel $inLevelShift $inIndentStr (substr (printf "%v" $outStr) 0 $comSubStrLen)) -}} */}}
  {{- if (gt $outLevel $inLevelShift) }}
    {{- range $idx, $val := (seq $outLevel) }}
      {{ printf "%s</li>" (strings.Repeat (sub $outLevel $idx) $levelIndentStr) | safeHTML }}
      {{ printf "%s</ul>" (strings.Repeat (sub (sub $outLevel $idx) 1) $levelIndentStr) | safeHTML }}
    {{- end }}
  {{- else if (eq $outLevel (sub $inLevelShift 2) ) }}
    </p>
  {{- else if (eq $outLevel (sub $inLevelShift 3) ) }}
    </span>
  {{- end }}
{{- end }}
