{{- $sectionArgs := . }}
{{- $page := .Page }}
{{- $p := .Page.Params }}
{{- $s := site.Params }}
{{- $mediaType := default "screen" .MediaType }}
{{- $childClass := default "" .ChildClass }}
{{- $template := "partials/vitae/section-links" }}
{{- $feature := .Feature }}
{{- $linkIcons := true }}
{{- $qrCodes := true }}
{{- /* warnf "%s[%s/%s]: %v" $page $template $mediaType $sectionArgs.Data.features.links */ -}}
{{ if (index .Feature $mediaType) -}}
  {{ with .Data.features.links }}
    {{- $last := sub (len .) 1 -}}
    {{- range $i, $e := . -}}
      <div class="link-item{{- if $qrCodes }} link-item-with-qrcode{{- end }}{{- with $childClass }} {{ . }}{{- end }}">
        <a href="{{ $e.url }}" title="Connect via {{ $e.title }}" class="link-item-icon qrcode-link">
          {{- if $linkIcons }}{{ partial "fa-icon" $e.icon }}{{ end -}}
            <span class="link-{{- $e.title -}}">{{- $e.title -}}</span>
        </a>
        {{- if $qrCodes }}
          <a href="{{ $e.url }}" title="QR code to connect via {{ $e.title }}" class="link-item-qrcode qrcode-link">
            {{ partial "qrcode-svg" (dict "Content" $e.url) }}
          </a>
        {{- end -}}
      </div>
    {{- end -}}
  {{- end }}
{{- end }}
