{{- $collection := index .Data (.Feature.collection | default "features" ) -}}
{{- $childClass := default "" (print " " .ChildClass) }}
{{- /* warnf "Rendering section-details-list for '%q'" (index $collection .Feature.feature) */ -}}
{{ range (index $collection .Feature.feature) }}
{{- /* warnf "    Item '%q' in section-details-list" . */ -}}
<div class="item{{ $childClass }}">
	<h2 class="item-title">
		{{- if .link -}}
		<a href="{{ .link }}">{{ .title }}</a>
		{{- else -}}
		{{ .title }}
		{{- end -}}
	</h2>
	<span>{{ if and .subtitle .date }}
		{{- .subtitle | markdownify }} - {{ .date }}
	{{- else if .subtitle }}
		{{- .subtitle | markdownify }}
	{{- else if .date }}
		{{- .date }}
	{{- end }}</span>
	{{ if .details }}
		{{- partial "vitae/markdown" .details }}
	{{- end }}
	{{ if .links }}
	<ul>
		{{- range .links }}
		<li>
			{{- .prefix -}}
			<a href="{{ .url }}" class="{{ if and $.useFontAwesome .icon }}no-external-icon{{ end }}">{{ .title }}{{ if and $.useFontAwesome .icon }}<i class="{{ .icon }}"></i>{{ end }}</a>
			{{- end -}}
		</li>
	</ul>
	{{ end }}
</div>
{{ end }}
