{{- $page := .Page -}}
{{- $dateFormat := default "Jan 2006" (default site.Params.periodDateFormat .Params.periodDateFormat )}}
{{ with .Data.experience }}
  <div class="experience">
    <!--  <span style="font-size: 2rem">2rem</span>
    <span style="font-size: 200%">200%</span>
    <span style="font-size: 32px">32px</span>
    <span style="font-size: 20px">20px</span>
    <span style="font-size: 24pt">24pt</span>
    <span style="font-size: 20pt">20pt</span> -->
    <ul class="experience-list">
    {{- range . }}
      <li class="organization-item">
        <div class="organization-wrap">
          <div class="organization-logo-wrap">
          {{- $logoImageWidthHeight := 96 }}
          {{- $logoImageDisplayWidthHeight := 48 }}
          {{- $sizeSpec := printf "%dx%d png" (int $logoImageWidthHeight) (int $logoImageWidthHeight) }}
          <!-- Use urlize to sanitize organization name -->
          {{- $imgAssetId := path.Join "images" "organization-logos" (printf "%s*" (anchorize .organization)) -}}
          {{- $logoImageResource := resources.GetMatch $imgAssetId -}}
          {{- if $logoImageResource }}
            {{ $logoImageResource = $logoImageResource.Fill $sizeSpec }}
            {{- if .website }}
            <a class="organization-logo organization-link" target="_self" href="{{ .website }}">
            {{- end }}
              <img class="organization-logo-image"
              src="{{ absURL $logoImageResource.Permalink }}"
              width="{{ $logoImageDisplayWidthHeight }}"
              height="{{ $logoImageDisplayWidthHeight }}"
              alt="{{ .organization }}">
            {{- if .website }}
            </a>
            {{- end }}
            {{- end }}
          </div>
          <div class="organization-content">
            <div class="organization-header">
            {{- if .website }}
              <a class="organization-link" target="_self" href="{{ .website }}">
            {{- end }}
                <h3 class="organization-title">{{ .organization }}</h3>
            {{- if .website }}
              </a>
            {{- end }}
              <span class="organization-period experience-period">{{ partial "vitae/_functions/date-period-duration" (dict "PeriodList" .roles "DurationFirst" true "DateFormat" $dateFormat "Container" "span" "DateContainer" "span" "Separator" "") }}</span>
            </div>
            <ul class="timeline-list">
            {{- $multipleRoles:= (gt (len .roles) 1) }}
            {{ range .roles }}
              <li class="timeline-item">
                <span class="timeline-item-dot"></span>
                <div class="timeline-item-wrap">
                  <div class="timeline-item-content role">
                    <div class="role-header">
                      <h4 class="role-title">{{ .role }}</h4>
                      {{ with .period }}
                        {{- if $multipleRoles }}
                      <span class="role-period experience-period">{{ partialCached "vitae/_functions/date-period-duration" (dict "PeriodList" . "DurationFirst" true "DateFormat" $dateFormat "Container" "span" "DateContainer" "span" "Separator" "") . }}</span>
                        {{- end }}
                      {{ end }}
                    </div>
                    {{ with .skills }}
                    {{- partialCached "vitae/section-experience-skills" (dict "Page" $page "Data" .) $page . }}
                    {{ end }}
                    {{ with .details }}
                    <div class="role-details">
                      {{- partialCached "vitae/detail-bullets" (dict "Page" $page "Data" .) $page . }}
                    </div>
                    {{ end }}
                    {{ with .results }}
                    <div class="role-results">
                      {{ partialCached "vitae/nested-bullets" (dict "Page" $page "Data" .) $page . }}
                    </div>
                    {{ end }}
                  </div>
                </div>
              </li>
            {{ end }}
            </ul>
          </div>
        </div>
      </li>
    {{ end }}
    </ul>
  </div>
{{ end }}
