{{- $sectionArgs := . }}
{{- $page := .Page }}
{{- $p := .Page.Params }}
{{- $s := site.Params }}
{{- $template := "vitae/section-about" }}
{{- $feature := .Feature }}
{{- $config := .Config }}
{{- $media := default "screen" $p.media }}
{{- $headingLevel := default 2 .HeadingLevel }}
{{- $childClass := default "" .ChildClass }}
{{- $portraitImageProcess := (default (dict "method" "fill" "args" "512x512") $p.portraitImageProcess) }}
{{- $title := .Title | markdownify }}

{{/* {{- warnf "%s[%s]: media=%s .Feature=%s .Config=%s" $page $template $media $feature $config -}} */}}

{{- with .Data.features.about }}
  <div class="about{{- with $childClass }} {{ . }}{{- end }}">
  {{- if $feature.portrait }}
    {{- $portraitImageArgs := (dict "Page" $page "figureclass" "portrait" "alt" ($title | plainify) "lazyload" false) }}
    {{- with .portrait.resource }}
      {{- $portraitImageArgs = (merge $portraitImageArgs (dict "resource" .) ) }}
    {{- end }}
    {{- with .portrait.img_process }}
      {{- $portraitImageArgs = (merge $portraitImageArgs (dict "process" . ) ) }}
    {{- end }}
    {{- with .portrait.img_position }}
      {{- $portraitImageArgs = (merge $portraitImageArgs (dict "position" . ) ) }}
    {{- end }}
    {{- with .portrait.img_class }}
      {{- $portraitImageArgs = (merge $portraitImageArgs (dict "imgclass" . ) ) }}
    {{- end }}
    {{- /* {{- warnf "%s[%s]: portraitImageArgs: %v" $page $template $portraitImageArgs -}} */ -}}
    {{- partial "responsive-image" $portraitImageArgs }}
  {{- end }}
  <h{{ $headingLevel }} class="name">{{- .name }}</h{{ $headingLevel }}>
  {{- if $feature.tagline }}
    {{- with .tagline }}
    <h{{ (add $headingLevel 1) }} class="tagline">
    {{- partial "vitae/render-markdown" (dict "Page" $page "Display" "inline" "Split" false "Data" .) -}}
    </h{{ (add $headingLevel 1) }}>
    {{- end }}
  {{- end }}
  {{- if $feature.profile }}
    {{- with .profile }}
    <div class="profile">
    {{ partial "vitae/render-markdown" (dict "Page" $page "Display" "block" "Split" false "Data" .) -}}
    </div>
    {{- end }}
  {{- end }}
  {{- if $feature.contact }}
    {{- $fragment := "contact" }}
    {{- $fragmentConfig := (index $config $fragment) }}
    {{- $partial := printf "vitae/fragments/%s" $fragment}}
    {{- /* warnf "%s[%s]: media=%s feature=%s: Calling fragment=%s with .Config=%s"
        $page $template $media $feature $fragment $fragmentConfig */ -}}
    <div class="contact">
    {{- partial $partial (merge $sectionArgs (dict "Fragment" $fragment "Config" $fragmentConfig ))  }}
    </div>
  {{- end }}
</div>
{{- end }}
