{{- $page := .Page -}}
{{- $className := "education-languages" }}
{{- $childClass := default "" .ChildClass }}
{{ $optInline := dict "display" "inline" }}
{{ with .Data.features.languages }}
  <div class="{{ $className }}{{ with $childClass }} {{ . }}{{ end }}">
  {{- if reflect.IsSlice . }}
    <p class="{{ $className }}-container">
      {{- range . }}
      {{- $item := . }}
      <span class="{{ $className }}-item">
        {{- if reflect.IsMap $item }}
          <span class="{{ $className }}-name">{{ .name }}:</span>
          {{- range $k := (slice "level" "certificates") }}
          <span class="{{ $className }}-{{ $k }}">
            {{- $v := (index $item $k) }}
            {{- if reflect.IsSlice $v }}
              {{- range $vv := $v }}
                {{- $page.RenderString $optInline $vv -}}
              {{- end }}
            {{- else }}
              {{- $page.RenderString $optInline $v -}}
            {{- end }}
          </span>
          {{- end }}
        {{- else }}
          {{- range $v := $item }}
          <span class="{{ $className }}-name">
              {{- $v -}}
          </span>
          {{- end }}
        {{ end }}
      </span>
      {{- end }}
    </p>
  {{ else }}
  <span class="{{ $className }}-name">
    {{ $page.RenderString $optInline . }}
  </span>
  {{- end }}
  </div>
{{ end }}
