{{ $contentTypeHeadMetaVariant := dict }}
{{ $page := page }}
{{ $template := "vitae/_functions/meta/head" }}
{{ $debug := false }}
{{ $debug = and $debug ($page.Param "clarisdebug") (not (not (findRE `^/([^/]+-demo/)` $page.RelPermalink) ) ) }}

{{ $headMeta := dict }}
{{ if reflect.IsMap . }}
  {{ with .Page }}
    {{ $page = . }}
  {{ end }}
  {{ with .HeadMeta }}
    {{ $headMeta = .}}
  {{ end }}
{{ end }}
{{ $dbg := printf "%s[%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) $template (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ with $page }}
  {{ $title := $headMeta.Formatted.Title }}
  {{ $headline := $headMeta.Formatted.Headline }}
  {{ $role := (.Page.Param "role") | partial "claris/_functions/plainify-html" }}
  {{ $titleDateFormat := "2006-01-02" }}

  {{ if $title }}
    {{ with (findRE `__[^_" ]+__` $title) }}

      {{ $date := false }}
      {{ $datePlaceholders := slice "PUBLISHDATE" "EXPIRYDATE" "LASTMOD" "NOW" }}
      {{ $datePlaceholderRE := delimit $datePlaceholders `|` }}

      {{ range . }}
        {{ $placeholderToken := . }}
        {{ $placeholder := (trim $placeholderToken "_") }}

        {{ if (eq $placeholder "DIRNAME" ) }}

          {{ with $dirName := partial "vitae/_functions/meta/head_dirname" $page }}
            {{ $title = replace $title $placeholderToken $dirName }}
            {{ if $debug }}
              {{ warnf "%s title=%q after replacing %q with %q" $dbg $title $placeholderToken $dirName }}
            {{ end }}
          {{ end }}

        {{ else if (findRE $datePlaceholderRE $placeholder ) }}

          {{ if (eq $placeholder "NOW" ) }}
            {{ $date = now }}
            {{ $titleDateFormat = "2006-01-02T15-04-05"}}
          {{ else if (eq $placeholder "PUBLISHDATE" ) }}
            {{ $date = $page.PublishDate }}
          {{ else if (eq $placeholder "EXPIRYDATE" ) }}
            {{ $date = $page.ExpiryDate }}
          {{ else if (eq $placeholder "LASTMOD" ) }}
            {{ $date = $page.Lastmod }}
          {{ end }}

          {{ if $date }}
            {{ $dateStr := $date | time.Format $titleDateFormat }}
            {{ $title = replace $title $placeholderToken $dateStr }}
            {{ if $debug }}
              {{ warnf "%s title=%q after replacing %q with %q" $dbg $title $placeholderToken $dateStr }}
              {{ warnf "%s \ntitle=%v\n$date=%v from\n.Title=%v\n.Date=%v\n.PublishDate=%v\n.ExpiryDate=%v\n.Lastmod=%v"
                  $dbg $title $date $page.Title
                  $page.Date $page.PublishDate $page.ExpiryDate $page.Lastmod }}
            {{ end }}
          {{ end }}

        {{ else }}
          {{ warnf "%s ignoring invalid $placeholder=%v" $dbg $placeholder }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ $headline = $title }}
    {{ if and $title (ne (trim (lower site.Title) "") (trim (lower $title) "")) }}
      {{ if $role }}
        {{ if eq .Layout "letter" }}
          {{ $headline = printf "%s %s" (T "application-for-position") $role }}
        {{ else if eq .Layout "resume" }}
          {{ $title = printf "%s %s" (T "resume-for-position") $role }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ with $page.Param "titleSeparator" }}
      {{ $headline = printf "%s %s %s" $headline (safeHTML .) site.Title }}
    {{ end }}
  {{ else }}
    {{ $title = site.Title }}
    {{ $headline = $title }}
  {{ end }}

  {{ $contentTypeHeadMetaVariant = (dict
    "Formatted" (dict
      "title" $title
      "headline" $headline
    )
  ) }}
  {{ if $debug }}
    {{ with $contentTypeHeadMetaVariant.Formatted }}
      {{ warnf "%s returning .Kind=%s title=%s headline=%s from .Section=%v .Title=%v"
          $dbg $page.Kind .title .headline $page.Section $page.Title }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ errorf "%s Missing argument .Page=%v" $dbg $page }}
{{ end }}
{{ return $contentTypeHeadMetaVariant }}


{{ define "partials/vitae/_functions/meta/head_dirname" }}
  {{ $page := . }}
  {{ $template := "vitae/_functions/meta/head_dirname" }}
  {{ $debug := false }}
  {{ $dbg := printf "%s[%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) $template (replaceRE `.*?([^/]+)$` `$1` $template) }}

  {{ $dirName := false }}

  {{ with $dirName = path.BaseName $page.File.ContentBaseName }}
    {{/* Traverse up until we find a decent-looking dirname */}}
    {{ $specialDirs := slice "preview" "print" "resume" "executive" "ats" "two-pager" }}
    {{ $specialDirsRE := delimit $specialDirs `|` }}
    {{ if findRE $specialDirsRE $dirName }}
      {{ if $debug }}
        {{ warnf "%s dirname=%q matches %q" $dbg $dirName $specialDirsRE }}
      {{ end }}
      {{ $dirName = partial "vitae/_functions/meta/head_dirname" $page.Parent }}
    {{ else }}
      {{ if $debug }}
        {{ warnf "%s returning dirName=%q (does not match %q)" $dbg $dirName $specialDirsRE }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ return $dirName }}
{{ end }}
