{{- $ret := "" -}}
{{- $page := default page .Page }}
{{- $template := "vitae/_functions/date-period-duration" }}
{{- $lastPeriodEndInitial := time "0000-01-01" }}
{{- $firstPeriodBegin := time now }}
{{- $lastPeriodEnd := $lastPeriodEndInitial }}
{{- $periodList := . }}
{{- $showPeriod := false }}
{{- $showDuration := false }}
{{- $durationFirst := false }}
{{- $dateFormat := "Jan 2006" }}
{{- $containerStr := "" }}
{{- $dateContainerStr := "" }}
{{- $periodBeginEndSeparatorStr := false }}
{{- $periodDurationSeparatorStr := " • " }}

{{- if reflect.IsMap $periodList }}
  {{- with .PeriodList }}
    {{- $periodList = . }}
  {{- end }}
  {{- with .ShowPeriod }}
    {{- $showPeriod = . }}
  {{- end }}
  {{- with .ShowDuration }}
    {{- $showDuration = . }}
  {{- end }}
  {{- with .DurationFirst }}
    {{- $durationFirst = . }}
  {{- end }}
  {{- with .DateFormat }}
    {{- $dateFormat = . }}
  {{- end }}
  {{- with .Container }}
    {{- $containerStr = . }}
  {{- end }}
  {{- with .DateContainer }}
    {{- $dateContainerStr = . }}
  {{- end }}
  {{- with .PeriodBeginEndSeparator }}
    {{- $periodBeginEndSeparatorStr = . }}
  {{- end }}
  {{- with .PeriodDurationSeparator }}
    {{- $periodDurationSeparatorStr = . }}
  {{- else }}
    {{- with .DateContainer }}
      {{- $periodDurationSeparatorStr = "" }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if not (reflect.IsSlice $periodList) }}
  {{- $periodList = slice $periodList $periodList }}
  {{- warnf "%s[%s]: showing date=%v" $page $template (index $periodList 0) }}
{{- end }}
{{- if ne (printf "%T" (index $periodList 0)) "map[string]interface {}"  }}
  {{- $periodList = (slice (dict "period" $periodList) ) }}
{{- end }}

{{- range $periodList }}
  {{- with index .period 0 }}
    {{- with time . }}
      {{- if lt . $firstPeriodBegin }}
        {{/* {{- (warnf "        date-period-duration: period begins on '%q'" .)}} */}}
        {{- $firstPeriodBegin = . }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- with index .period 1}}
    {{- with time . }}
      {{- if gt . $lastPeriodEnd }}
        {{/* {{- (warnf "        date-period-duration: period ends on '%q'" .)}} */}}
        {{- $lastPeriodEnd = . }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if eq $lastPeriodEnd $lastPeriodEndInitial }}
  {{- $lastPeriodEnd = "" }}
{{- end }}

{{- $entirePeriodStr := "" }}
{{- if $showPeriod }}
  {{- $entirePeriodStr = partial "vitae/_functions/date-period" (dict
  "Period" (slice $firstPeriodBegin $lastPeriodEnd)
  "DateFormat" $dateFormat
  "DateContainer" $dateContainerStr
  "PeriodBeginEndSeparator" $periodBeginEndSeparatorStr
  ) -}}
{{- end }}

{{- $durationStr := "" }}
{{- if $showDuration }}
  {{- $durationStr = partial "vitae/_functions/date-duration" (dict "Period" (slice $firstPeriodBegin $lastPeriodEnd) "DateFormat" $dateFormat) }}
{{- end }}

{{- with $containerStr }}
  {{- with $entirePeriodStr }}
    {{- $entirePeriodStr = printf "<%s class=\"date_period\">%s</%s>" $containerStr $entirePeriodStr $containerStr }}
  {{- end }}
  {{- with $durationStr}}
    {{- $durationStr = printf "<%s class=\"date_duration\">%s</%s>" $containerStr $durationStr $containerStr }}
  {{- end }}
{{- end }}

{{- with $durationStr }}
  {{- with $entirePeriodStr }}
    {{- if $durationFirst }}
      {{ $ret = printf "%s %s %s" $durationStr $periodDurationSeparatorStr $entirePeriodStr }}
    {{- else }}
      {{ $ret = printf "%s %s %s" $entirePeriodStr $periodDurationSeparatorStr $durationStr }}
    {{- end }}
  {{- else }}
    {{ $ret = $durationStr }}
  {{- end }}
{{- else }}
  {{ $ret = $entirePeriodStr }}
{{- end }}
{{- return safeHTML $ret -}}
