{{- $periodStr := "" -}}
{{- $periodList := slice -}}

{{- $dateFormat := "Jan 2006" }}
{{- $dateContainerStr := "" }}
{{- $periodBeginEndSeparatorStr := `–` }}
{{- $collapseSameBeginEnd := true }}
{{- $period := . }}

{{- if reflect.IsMap . }}
  {{- $period = .Period }}
  {{- with .DateFormat }}
    {{- $dateFormat = . }}
  {{- end }}
  {{- with .DateContainer }}
    {{- $dateContainerStr = . }}
  {{- end }}
  {{- with .DateClass }}
    {{- $dateClassStr = . }}
  {{- end }}
  {{- with .PeriodBeginEndSeparator }}
    {{- $periodBeginEndSeparatorStr = . }}
  {{- end }}
  {{- with .CollapseSameBeginEnd }}
    {{- $collapseSameBeginEnd = . }}
  {{- end }}
{{- end }}

{{- if not (reflect.IsSlice $period) }}
  {{- $period = slice $period $period }}
{{- end }}

{{- $dateTimeStrLast := "" }}
{{- range $date := $period -}}
  {{- with $date -}}
    {{- $dateTimeStr := time.Format $dateFormat $date }}
    {{- if or (not $collapseSameBeginEnd) (ne $dateTimeStr $dateTimeStrLast) }}
      {{- with $dateContainerStr }}
        {{- $dateClassStr := "date_period_begin" }}
        {{- if (gt (len $periodList) 0) }}
          {{- $dateClassStr = "date_period_end" }}
        {{- end }}
        {{ $periodList = append (
            printf "<%s class=\"%s\">%s</%s>" $dateContainerStr $dateClassStr $dateTimeStr $dateContainerStr | safeHTML
          ) $periodList }}
      {{- else -}}
        {{ $periodList = append $dateTimeStr $periodList }}
      {{- end -}}
      {{- $dateTimeStrLast = $dateTimeStr }}
    {{- end }}
  {{- else -}}
    {{- with $dateContainerStr }}
      {{- $dateClassStr := "date_period_end" }}
      {{ $periodList = append (printf "<%s class=\"%s\">%s</%s>"
        $dateContainerStr $dateClassStr (T "period-until-present" ) $dateContainerStr) $periodList }}
    {{- else -}}
      {{ $periodList = append (T "period-until-present" ) $periodList }}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if (eq (len $periodList) 2) }}
  {{ $periodStr = printf "%s%s%s" (index $periodList 0) $periodBeginEndSeparatorStr (index $periodList 1) }}
{{- else }}
  {{ $periodStr = printf "%s" (index $periodList 0) }}
{{- end }}
{{- return $periodStr -}}
