{{- $template := "vitae/_functions/style-class" }}
{{- $mergedStyle := false }}
{{- $callingTemplate := .Template }}

{{- $style := dict }}
{{- $validStyles := dict }}

{{- with .MergedStyle }}
  {{- with .Style }}
    {{- $style = merge $style . }}
  {{- end }}
  {{- with .ValidStyles }}
    {{- $validStyles = merge $validStyles . }}
  {{- end }}
{{- end }}
{{- with .Style }}
  {{- $style = merge $style . }}
{{- end }}
{{- with .ValidStyles }}
  {{- $validStyles = merge $validStyles . }}
{{- end }}

{{- $styleClassPrefix := default "style" .StyleClassPrefix }}

{{- $debug := false }}
{{/* {{- $debug = or $debug (and (strings.HasSuffix "vitae/_components/index" $callingTemplate) (not (not (findRE `^/([^/]+-demo/)?ats/preview` page.RelPermalink) ) ) ) -}} */}}
{{- $warnPrefix := printf "%s[%s->%s]: " page $callingTemplate $template }}
{{/* {{- $debugPrefix := $warnPrefix }} */}}
{{- $debugPrefix := "" }}

{{- if and false $debug }}
  {{- warnf "%v\nstyle=%v\nvalidStyles=%v\nfrom .MergedStyle=%v" $debugPrefix
      (jsonify (dict "indent" "  ") $style)
      (jsonify (dict "indent" "  ") $validStyles)
      (jsonify (dict "indent" "  ") .MergedStyle) }}
{{- end }}

{{- $parseValuePartial := "parse_value" }}

{{- $styleClassList := slice }}
{{- with $style }}
  {{- range $key, $value := . }}
    {{- $paramValueList := $value }}
    {{- if not (reflect.IsSlice $value) }}
      {{- $paramValueList = slice $value }}
    {{- end }}

    {{- range $paramValue := $paramValueList }}

      {{- with $validValuesForKey := index $validStyles $key }}

        {{- if reflect.IsMap $paramValue }}
          {{- $subParams := (dict
            "Template" $callingTemplate
            "Style" $paramValue
            "ValidStyles" $validValuesForKey
            "StyleClassPrefix" (printf "%s_%s" $styleClassPrefix $key)
          ) }}
          {{- if $debug }}
            {{- warnf "%vkey=%v: $styleClassList=%v: validStyles entry for this key is a map: recursive call with \nsubParams=%v"
                $debugPrefix $key $styleClassList
                (jsonify (dict "indent" "  ") ($subParams)) }}
          {{- end }}

          {{- with $mergedStyleSub := partial $template $subParams }}
            {{- $style = merge $style $mergedStyleSub.Style }}
            {{- $styleClassList = append $mergedStyleSub.StyleClass $styleClassList }}
            {{- if $debug }}
              {{- warnf "%vkey=%v: style=%v\nstyleClassList=%v[%T] resulting from recursive call with \nsubParams=%v"
                  $debugPrefix $key $style $styleClassList $styleClassList
                  (jsonify (dict "indent" "  ") ($subParams)) }}
            {{- end }}
          {{- end }}

        {{- else }}

          {{- $paramValueHandled := false }}

          {{/* To index the validation map $validValuesForKey, we need to use the string representation of candidate value $paramValue */}}
          {{- $paramValueStr := string $paramValue }}
          {{- with $resultingValue := index $validValuesForKey $paramValueStr }}

            {{- if $debug }}
              {{- warnf "%vkey=%v: paramValue=%v [type=%T] resultingValue=%v"
                  $debugPrefix $key $paramValue $paramValue
                  (jsonify (dict "indent" "  ") $resultingValue) }}
            {{- end }}

            {{- if reflect.IsMap $resultingValue }}
              {{/* This resultingValue being a map means that we treat it as if this map had been passed as $style */}}
              {{- $subParams := (dict
                "Template" $callingTemplate
                "Style" $resultingValue
                "ValidStyles" $validStyles
                "StyleClassPrefix" $styleClassPrefix
              ) }}
              {{- if $debug }}
                {{- warnf "%vkey=%v: $styleClassList=%v: resultingValue is map: induced call with \nsubParams=%v"
                    $debugPrefix $key $styleClassList
                    (jsonify (dict "indent" "  ") ($subParams)) }}
              {{- end }}
              {{- with $mergedStyleSub := partial $template $subParams }}
                {{- $style = merge $style $mergedStyleSub.Style }}
                {{- $styleClassList = append $mergedStyleSub.StyleClass $styleClassList }}
                {{- $paramValueHandled = true }}
                {{- if $debug }}
                  {{- warnf "%vkey=%v: style=%v\nstyleClassList=%v[%T] resulting from induced call with \nsubParams=%v"
                      $debugPrefix $key $style $styleClassList $styleClassList
                      (jsonify (dict "indent" "  ") ($subParams)) }}
                {{- end }}
              {{- end }}

            {{- end }}
          {{- end }}

          {{- if not $paramValueHandled }}

            {{- $parsePartialParams := (dict
              "Template" $callingTemplate
              "StyleClassPrefix" $styleClassPrefix
              "Key" $key
              "ParamValue" $paramValue
              "ValidValuesForKey" $validValuesForKey
              "Debug" $debug
            ) -}}
            {{- if $debug }}
              {{- warnf "%vkey=%v: Parsing paramValue=%v [type=%T] with parsePartialParams=%v"
                  $debugPrefix $key $paramValue $paramValue
                  (jsonify (dict "indent" "  ") $parsePartialParams) }}
            {{- end }}
            {{- with $styleClassSub := partial $parseValuePartial $parsePartialParams -}}
              {{- $styleClassList = append $styleClassSub $styleClassList }}
              {{- if $debug }}
                {{- warnf "%vkey=%v: Adding %v from paramValue=%v with parsePartialParams:\n%v"
                    $debugPrefix $key $styleClassSub $paramValue
                      (jsonify (dict "indent" "  ") $parsePartialParams) }}
              {{- end }}
            {{- end }}

          {{- end }}

        {{- end }}

      {{- else }}
        {{- warnf `%vInvalid style key='%v' with value='%v'` $warnPrefix $key $paramValue }}
      {{- end }}

    {{- end }}
  {{- end }}
  {{- if $debug }}
    {{- if ne (printf "%T" $styleClassList) "[]string" }}
      {{- warnf "%vReturning styleClassList=%v[%T] from\nstyle=%v\nvalidStyles=%v"
          $debugPrefix $styleClassList $styleClassList
          (jsonify (dict "indent" "  ") $style)
          (jsonify (dict "indent" "  ") $validStyles ) }}
    {{- end }}
  {{- end }}
{{- end }}
{{- $mergedStyle = merge $mergedStyle (dict
    "Style" $style
    "ValidStyles" $validStyles
    "StyleClass" $styleClassList)
-}}
{{- if $debug }}
  {{- warnf "%vReturning\nmergedStyle=%v" $debugPrefix
      (jsonify (dict "indent" "  ") $mergedStyle) }}
{{- end }}

{{- return $mergedStyle }}

{{- define "partials/parse_value.html" }}
  {{- $template := "vitae/_functions/style-class/parse_value" }}
  {{- $callingTemplate := .Template }}
  {{- $styleClassPrefix := default "style" .StyleClassPrefix }}
  {{- $key := .Key }}
  {{- $paramValue := .ParamValue }}
  {{- $validValuesForKey := .ValidValuesForKey }}

  {{- $debug := default false .Debug }}
  {{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?preview` page.RelPermalink) ) ) -}} */}}
  {{- $warnPrefix := printf "%s[%s->%s->parse_value]: " page $callingTemplate $template }}
  {{- $debugPrefix := $warnPrefix }}

  {{/* {{- $styleClassList := default slice .StyleClass }} */}}
  {{- $styleClassList := slice }}

  {{/* To index the validation map $validValuesForKey, we need to use the string representation of candidate value $paramValue */}}
  {{- $paramValueStr := string $paramValue }}

  {{- $validValueTypes := slice "string" "bool" "int" }}
  {{/* For params that may have arbitrary values such as strings or whose value is validated by the type, such as bool */}}
  {{- $nonValidatableParamValueTypes := (slice "ANY_STRING" "ANY_INT" "ANY_BOOL") }}

  {{/* Params of type string are not added to the style class list */}}
  {{- $excludeFromClassParamValueTypes := (slice "ANY_STRING") }}

  {{- $validParamValueList := slice }}
  {{- $resultingParamValueList := slice }}
  {{- range $validParamValue, $resultingValue := $validValuesForKey }}
    {{- $validParamValueList = append $validParamValue $validParamValueList }}
    {{- $resultingParamValueList = append $resultingValue $resultingParamValueList }}
  {{- end }}

  {{- $styleClassParamValueList := slice }}

  {{/* paramValueType indicates, how to deal with the value of the param */}}
  {{- $paramValueType := printf "%T" $paramValue }}

  {{- range $excludeParamValueType := $excludeFromClassParamValueTypes }}
    {{- with index $validValuesForKey $excludeParamValueType }}
      {{- $paramValueType = "IGNORE" }}
      {{- if $debug }}
        {{- warnf "%vkey=%v: paramValue=%v[%T]: set paramValueType=%v as excludeParamValueType=%v is in validValuesForKey=%v"
            $debugPrefix $key $paramValueStr $paramValue $paramValueType $excludeParamValueType
            (jsonify (dict "indent" "  ") $validValuesForKey ) }}
      {{- end }}
    {{/* {{- else }}
      {{- if $debug }}
        {{- warnf "%vkey=%v: paramValue=%v[%T]: excludeParamValueType=%v is not in validValuesForKey=%v"
            $debugPrefix $key $paramValueStr $paramValue $excludeParamValueType
            (jsonify (dict "indent" "  ") $validValuesForKey ) }}
      {{- end }} */}}
    {{- end }}
  {{- end }}

  {{- if ne $paramValueType "IGNORE" }}
    {{- $nonValidatableType := index (intersect $validParamValueList $nonValidatableParamValueTypes) 0 }}
    {{/* {{- if $debug }}
      {{- warnf "%vkey=%v: paramValue=%v[%T]: (intersect validParamValueList=%v with nonValidatableType=%v) = %v from\nvalidValuesForKey=%v"
          $debugPrefix $key $paramValueStr $paramValue $validParamValueList $nonValidatableParamValueTypes $nonValidatableType
          (jsonify (dict "indent" "  ") $validValuesForKey ) }}
    {{- end }} */}}
    {{- if $nonValidatableType }}
      {{- $paramValueTypeStr := printf "ANY_%s" (upper $paramValueType) }}
      {{- if eq $paramValueTypeStr $nonValidatableType }}
        {{- $styleClassParamValueList = slice $paramValueStr }}
        {{- if $debug }}
          {{- warnf "%vkey=%v: paramValue=%v[%T]: adding paramValueStr=%s as-is: nonValidatableType=%v from\nvalidValuesForKey=%v"
              $debugPrefix $key $paramValueStr $paramValue $paramValueStr $nonValidatableType
              (jsonify (dict "indent" "  ") $validValuesForKey ) }}
        {{- end }}
      {{- else }}
        {{- warnf "%vkey=%v: paramValue=%v[%T]: invalid type: %v != %v from\nvalidValuesForKey=%v"
            $warnPrefix $key $paramValueStr $paramValue
            $paramValueTypeStr $nonValidatableType
            (jsonify (dict "indent" "  ") $validValuesForKey ) }}
      {{- end }}
    {{- else }}
      {{- $candParamValue := index $validValuesForKey $paramValueStr }}
      {{- if eq (printf "%T" $candParamValue) "<nil>" }}
        {{- $paramValueType = "INVALID" }}
        {{- if $debug }}
          {{- warnf "%vkey=%v: paramValue=%v[%T] is invalid: no match in \nvalidValuesForKey=%v"
              $debugPrefix $key $paramValueStr $paramValue $candParamValue $candParamValue
              (jsonify (dict "indent" "  ") $validValuesForKey ) }}
        {{- end }}
      {{- else }}
        {{/* {{- if $debug }}
          {{- warnf "%vkey=%v: paramValue=%v[%T] vs. candParamValue=%v [type=%T] from\nvalidValuesForKey=%v"
              $debugPrefix $key $paramValueStr $paramValue $candParamValue $candParamValue
              (jsonify (dict "indent" "  ") $validValuesForKey ) }}
        {{- end }} */}}
        {{- if reflect.IsSlice $candParamValue }}
          {{- $styleClassParamValueList = $candParamValue }}
        {{- else }}
          {{- $styleClassParamValueList = slice $candParamValue }}
        {{- end }}
        {{- if $debug }}
          {{- warnf "%vkey=%v: paramValue=%v [type=%T] translated to styleClassParamValueList=%v"
              $debugPrefix $key $paramValueStr $paramValue $styleClassParamValueList }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- if ne $paramValueType "INVALID" }}
    {{- if $debug }}
      {{- warnf "%vValid style key='%v' has valid value=%v[%T] %v styleClassParamValueList=%v\nvalidValuesForKey=%v"
        $debugPrefix $key $paramValue $paramValue
        (cond (eq $paramValueType "IGNORE") "but was excluded from" "and was included in")
        $styleClassParamValueList
        (jsonify (dict "indent" "  ") $validValuesForKey) }}
    {{- end }}

    {{- range $styleClassParamValueList }}
      {{- if in $validValueTypes (printf "%T" .) }}
        {{- $styleClassList = append (printf "%s_%s_%v" $styleClassPrefix $key .) $styleClassList }}
        {{/* {{- warnf "%vValid style key='%v' has valid value=%v and valid type=%T in %v: styleClassList=%v"
          $debugPrefix $key $paramValue $paramValue $validValueTypes $styleClassList }} */}}
      {{- else }}
        {{- warnf "%vValid style key='%v' has valid value=%v but type=%T is not in %v"
          $warnPrefix $key $paramValue $paramValue $validValueTypes }}
        {{- $paramValueType = "INVALID" }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- if eq $paramValueType "INVALID" }}
    {{- $validParamValueList := slice }}
    {{- range $candParamValue, $resultingValue := $validValuesForKey }}
      {{- if not (in $validValuesForKey $candParamValue) }}
        {{- $validParamValueList = append $candParamValue $validParamValueList }}
      {{- end }}
    {{- end }}
    {{- warnf "%vValid style key='%v' has invalid value=%v[%T]. Valid values: '%v'"
        $warnPrefix $key $paramValue $paramValue
        (delimit (sort $validParamValueList) "', '") }}
  {{- end }}

  {{- if $debug }}
    {{- if not (in (slice (printf "%T" slice) (printf "%T" (slice "a") ) (printf "%T" (slice "a" "b") )) (printf "%T" $styleClassList)) }}
      {{- warnf "%vkey='%v': Returning unexpected type: styleClassList=%v[%T] from paramValue=%v[%T]\nvalidStyles=%v"
          $warnPrefix $key $styleClassList $styleClassList $paramValue $paramValue
          (jsonify (dict "indent" "  ") $validValuesForKey) }}
    {{- end }}
  {{- end }}
  {{- return $styleClassList }}
{{- end }}
