{{- $page := .Page -}}
{{- $template := "vitae/_components/awards" -}}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $componentClass := default "component_awards" .ComponentClass }}
{{- $childClass := default "" .ChildClass }}

{{- $component := .Component }}
{{- $collection := default .Component.component .Component.collection }}
{{- $layout := "screen" -}}
{{- with $page.Layout -}}
  {{- $layout = . -}}
{{- end }}

{{- $topLevelClass := delimit (slice $componentClass $childClass) " " }}

{{- $filterField := default "" $component.filter_by -}}
{{- $filterMatch := default "" $component.filter_value -}}

{{- $optInline := dict "display" "inline" }}

{{- $awardCollection := (index .Data $collection) }}
{{- with $awardCollection }}
  {{- $awardList := $awardCollection }}

  {{- if and $filterField $filterMatch }}
    {{- $awardList = where $awardCollection $filterField $filterMatch }}
  {{- end }}

  {{- $logoImageParams := (dict "Page" $page "width" 512 "figureclass" "award_logo") }}
  {{- $classPrefix := printf "%s award" $filterMatch }}
  <div class="{{ $classPrefix }}_container {{ $topLevelClass }}">
  {{- range $awardIdx, $award := $awardList }}
    <div class="{{- $classPrefix }}_item">
      {{- $logoImage := default false .logo }}
      <div class="{{- $classPrefix }}_header{{ with $logoImage }} logo{{ end }}">
        {{- with $logoImage }}
          {{- partial "responsive-image" (merge $logoImageParams (dict "resource" .resource)) }}
        {{- end }}
        <h3 class="{{- $classPrefix }}_title">{{- .title }}</h3>
      </div>
      {{- with .organization }}
      <div class="{{- $classPrefix }}_organization">
        <span class="{{- $classPrefix }}_organization_name">{{- .name }}</span>
        {{- with .description }}
        <span class="{{- $classPrefix }}_organization_description">({{- . }})</span>
        {{- end }}
      </div>
      {{- end }}
      {{- if $component.details }}
        {{- $detailFields := slice "colleagues" "details" }}
        <div class="{{- $classPrefix }}_details">
          {{- range $k := $detailFields }}
          <span class="{{ $classPrefix }}_{{ $k }}">
            {{- $v := (index $award $k) }}
            {{- if reflect.IsSlice $v }}
              {{- range $vv := $v }}
                {{- $page.RenderString $optInline $vv -}}
              {{- end }}
            {{- else }}
              {{- $page.RenderString $optInline $v -}}
            {{- end }}
          </span>
          {{- end }}
        </div>
      {{- end }}
    </div>
  {{- end }}
  </div>
{{- /* {{- else }}
  {{- warnf "%s[%s]: Failed to obtain awardCollection via (index .Data $component.collection) with $component.collection=%v"
      $page $template $component.collection }} */ -}}
{{- end }}
