{{- $page := .Page -}}
{{- $template := "vitae/_components/awards" -}}
{{- $component := .Component }}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $componentClass := default "component_awards" .ComponentClass }}
{{- $childClass := default "" .ChildClass }}

{{- $debug := false }}
{{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?devel` $page.RelPermalink) ) ) -}}

{{- $collection := default .Component.component .Component.collection }}

{{- $validStyles := (dict
  "layout" (dict
    "inline" "inline"
  )
  "ats" (dict
    "true" (dict
      "layout" "inline"
    )
  )
  "heading" (dict
    "normal" "normal"
    "larger-1" "larger-1"
    "smaller-1" "smaller-1"
  )
  "logo" (dict
    "false" false
    "true" "left"
    "left" "left"
  )
) -}}

{{- $mergedStyle := partial "vitae/_functions/style-class" (dict
  "Template" $template
  "MergedStyle" .MergedStyle
  "ValidStyles" $validStyles
  ) -}}
{{- if $debug }}
  {{- warnf "%s[%s]: After style-class:\nmergedStyle=%v" $page $template
      (jsonify (dict "indent" "  ") $mergedStyle) }}
{{- end }}

{{- $mergedStyleNew := false }}
{{- with .MergedStyleNew }}
  {{- $validStylesNew := (dict
    "layout" (slice
      "shallow"
      "narrow"
      "inline"
    )
    "ats" (dict
      "true" (dict
        "layout" (slice "inline")
      )
    )
    "heading" (dict
      "normal" "normal"
      "larger-1" "larger-1"
      "smaller-1" "smaller-1"
    )
    "logo" (dict
      "false" false
      "true" "left"
      "left" "left"
    )
    "details" "ANY_BOOL"
  ) -}}

  {{- $mergedStyleNew = partial "vitae/_functions/style-merged" (dict
    "Template" $template
    "MergedStyle" .
    "ValidStyles" $validStylesNew
  ) -}}
  {{- if $debug }}
    {{- warnf "%s[%s]: .MergedStyleNew=%v\n.ValidStylesNew=%v\n\nAfter style-merged:\nmergedStyle=%v\nmergedStyleNew=%v" $page $template
        (jsonify (dict "indent" "  ") . )
        (jsonify (dict "indent" "  ") $validStylesNew)
        (jsonify (dict "indent" "  ") $mergedStyle)
        (jsonify (dict "indent" "  ") $mergedStyleNew) -}}
  {{- end }}
  {{- $mergedStyle = $mergedStyleNew }}
{{- end }}

{{- $style := $mergedStyle.Style }}
{{- $styleClassList := $mergedStyle.StyleClass }}

{{- $topLevelClass := delimit (append $styleClassList (slice $componentClass $childClass) ) " " }}

{{- $filterField := default "" $component.filter_by -}}
{{- $filterMatch := default "" $component.filter_value -}}

{{- $optInline := dict "display" "inline" }}

{{- $separatorStr := default "•" (index $style "inline_separator") }}

{{- $awardCollection := (index .Data $collection) }}
{{- with $awardCollection }}
  {{- $awardList := $awardCollection }}

  {{- if and $filterField $filterMatch }}
    {{- $awardList = where $awardCollection $filterField $filterMatch }}
  {{- end }}

  {{- $logoImageParams := (dict "Page" $page "width" 512 "figureclass" "award_logo") }}
  {{- $classPrefix := printf "%s award" $filterMatch }}
  <div class="{{ $classPrefix }}_container {{ $topLevelClass }}">
  {{- range $awardIdx, $award := $awardList }}
    <div class="{{- $classPrefix }}_item">
      {{- $logoImage := and (default false $style.logo)  .logo }}
      <div class="{{- $classPrefix }}_header{{ with $logoImage }} logo{{ end }}">
        {{- with $logoImage }}
          {{- partial "responsive-image" (merge $logoImageParams (dict "resource" .resource)) }}
        {{- end }}
        <h3 class="{{- $classPrefix }}_title">{{- page.RenderString $optInline .title }}</h3>
      </div>
      {{- with .organization }}
      <div class="{{- $classPrefix }}_organization">
        <span class="{{- $classPrefix }}_organization_name">{{ page.RenderString $optInline .name }}</span>
        {{- with .description }}
        <span class="{{- $classPrefix }}_organization_description">({{ page.RenderString $optInline . }})</span>
        {{- end }}
      </div>
      {{- end }}
      {{- if $component.details }}
        {{- $detailFields := slice "subtitle" "colleagues" "details" }}
        <div class="{{- $classPrefix }}_details">
          {{- $i := 0 }}
          {{- range $k := $detailFields }}
            {{- with $v := (index $award $k) }}
              {{- with and (gt $i 0) $separatorStr }}
                {{ page.RenderString . | safeHTML }}
              {{- end }}
              <span class="{{ $classPrefix }}_{{ $k }}">
                {{- if reflect.IsSlice $v }}
                  {{- range $vv := $v }}
                    {{- $page.RenderString $optInline $vv -}}
                  {{- end }}
                {{- else }}
                  {{- $page.RenderString $optInline $v -}}
                {{- end }}
              </span>
              {{- $i = add $i 1 }}
            {{- end }}
          {{- end }}
        </div>
      {{- end }}
    </div>
  {{- end }}
  </div>
{{- /* {{- else }}
  {{- warnf "%s[%s]: Failed to obtain awardCollection via (index .Data $component.collection) with $component.collection=%v"
      $page $template $component.collection }} */ -}}
{{- end }}
