{{- $componentArgs := . }}
{{- $page := .Page -}}
{{- $template := "vitae/_components/footer" -}}
{{- $config := .Config }}
{{- $component := .Component }}
{{- $componentClass := default "component_footer" .ComponentClass }}
{{- $childClass := default "" .ChildClass }}

{{- $debug := false }}
{{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?devel` $page.RelPermalink) ) ) -}} */}}

{{- $validStyles := (dict
  "font-size" (dict
    "normal" "normal"
    "smaller-2" "smaller-2"
  )
) -}}

{{- $mergedStyle := partial "vitae/_functions/style-class" (dict
  "Template" $template
  "MergedStyle" .MergedStyle
  "ValidStyles" $validStyles
  ) -}}
{{- if $debug }}
  {{- warnf "%s[%s]: After style-class:\nmergedStyle=%v" $page $template
      (jsonify (dict "indent" "  ") $mergedStyle) }}
{{- end }}

{{- $mergedStyleNew := false }}
{{- with .MergedStyleNew }}
  {{- $validStylesNew := (dict
    "_template" $template
    "font-size" (dict
      "normal" "normal"
      "smaller-2" "smaller-2"
    )
  ) -}}

  {{- $mergedStyleNew = partial "vitae/_functions/style-merged" (dict
    "Template" $template
    "MergedStyle" .
    "ValidStyles" $validStylesNew
  ) -}}
  {{- if $debug }}
    {{- warnf "%s[%s]: .MergedStyleNew=%v\n.ValidStylesNew=%v\n\nAfter style-merged:\nmergedStyle=%v\nmergedStyleNew=%v" $page $template
        (jsonify (dict "indent" "  ") . )
        (jsonify (dict "indent" "  ") $validStylesNew)
        (jsonify (dict "indent" "  ") $mergedStyle)
        (jsonify (dict "indent" "  ") $mergedStyleNew) -}}
  {{- end }}
  {{- $mergedStyle = $mergedStyleNew }}
{{- end }}

{{- $style := $mergedStyle.Style }}
{{- $styleClassList := $mergedStyle.StyleClass }}

{{- $topLevelClass := delimit (append $styleClassList (slice $componentClass $childClass) ) " " }}

{{- $optInline := dict "display" "inline" }}

{{- with $component.fragments }}
  <div class="footer_container {{ $topLevelClass }}">
  {{- range $fragment := . }}
    {{- $fragmentName := .fragment }}
    {{- $fragmentConfig := merge (index $config $fragmentName) . }}
    {{- $partial := printf "vitae/fragments/%s" $fragmentName}}
    {{- /* {{- warnf "%s[%s]: component=%v: Calling fragment=%s with .Config=%v"
        $page $template $component $fragmentName $fragmentConfig -}} */ -}}
    <div class="fragment_{{ $fragmentName }} fragment">
    {{- partial $partial (merge $componentArgs (dict "Fragment" $fragmentName "Config" $fragmentConfig ))  }}
    </div>
  {{- end }}
  </div>
{{- end }}
