{{- $componentArgs := . }}
{{- $page := .Page -}}
{{- $template := "vitae/_components/footer" -}}
{{- $config := .Config }}
{{- $component := .Component }}
{{- $componentClass := default "component_footer" .ComponentClass }}
{{- $childClass := default "" .ChildClass }}

{{- $debug := false }}
{{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?preview` $page.RelPermalink) ) ) -}} */}}

{{- $validStyles := (dict
  "ats" (dict
    "false" false
    "true" true
  )
) -}}

{{- $mergedStyle := partial "vitae/_functions/style-class" (dict
  "Template" $template
  "MergedStyle" .MergedStyle
  "ValidStyles" $validStyles
  ) -}}
{{- if $debug }}
  {{- warnf "%s[%s]: After style-class:\nmergedStyle=%v" $page $template
      (jsonify (dict "indent" "  ") $mergedStyle) }}
{{- end }}
{{- $style := $mergedStyle.Style }}
{{- $styleClassList := $mergedStyle.StyleClass }}

{{- $topLevelClass := delimit (append $styleClassList (slice $componentClass $childClass) ) " " }}

{{- $optInline := dict "display" "inline" }}

{{- with $component.fragments }}
  <div class="footer_container {{ $topLevelClass }}">
  {{- range $fragment := . }}
    {{- $fragmentName := .fragment }}
    {{- $fragmentConfig := merge (index $config $fragmentName) . }}
    {{- $partial := printf "vitae/fragments/%s" $fragmentName}}
    {{- /* {{- warnf "%s[%s]: component=%v: Calling fragment=%s with .Config=%v"
        $page $template $component $fragmentName $fragmentConfig -}} */ -}}
    <div class="fragment_{{ $fragmentName }} fragment">
    {{- partial $partial (merge $componentArgs (dict "Fragment" $fragmentName "Config" $fragmentConfig ))  }}
    </div>
  {{- end }}
  </div>
{{- end }}
