{{- $componentArgs := . }}
{{- $page := .Page }}
{{- $template := "vitae/_components/header" }}
{{- $config := .Config }}
{{- $component := .Component }}
{{- $headingLevel := default 1 .HeadingLevel }}
{{- $componentClass := default "component_header" .ComponentClass }}
{{- $childClass := default "" .ChildClass }}

{{- $debug := false }}
{{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?devel` $page.RelPermalink) ) ) -}} */}}

{{- $validStyles := (dict
  "_template" $template
  "ats" (dict
    "true" (dict
      "layout" (slice "inline")
    )
  )
  "layout" (slice "inline" "shallow")
  "font-size" (dict
    "larger-1" "larger-1"
    "smaller-1" "smaller-1"
  )
  "headline" (dict
    "font-size" (dict
      "larger-5" "larger-5"
      "larger-4" "larger-4"
      "larger-3" "larger-3"
      "larger-2" "larger-2"
      "larger-1" "larger-1"
      "normal" "normal"
    )
  )
  "role" (dict
    "font-size" (dict
      "larger-3" "larger-3"
      "larger-2" "larger-2"
      "larger-1" "larger-1"
      "normal" "normal"
    )
  )
  "degree" (dict
    "font-size" (dict
      "larger-3" "larger-3"
      "larger-2" "larger-2"
      "larger-1" "larger-1"
      "normal" "normal"
    )
  )
  "align" (dict
    "center" "center"
    "right" "right"
  )
  "icon" "ANY_BOOL"
  "label" "ANY_BOOL"
) -}}

{{- $mergedStyle := partial "vitae/_functions/style-merged" (dict
  "Template" $template
  "MergedStyle" .MergedStyle
  "ValidStyles" $validStyles
) -}}

{{- $style := $mergedStyle.Style }}
{{- $styleClassList := $mergedStyle.StyleClass }}

{{- $topLevelClass := append $styleClassList (slice $componentClass $childClass) }}

{{- $portraitData := false }}
{{- with and (not (eq $component.portrait false) ) .Data.portrait }}
  {{- $portraitData = . }}
{{- end }}
{{- with $portraitData }}
  {{- $topLevelClass = $topLevelClass | append "portrait" }}
  {{- with .style }}
    {{- $topLevelClass = $topLevelClass | append (printf "portrait_style-%s" .) }}
  {{- end }}
  {{- range $key, $value := .overlay }}
    {{- $topLevelClass = $topLevelClass | append (printf "portrait_overlay_%s-%s" $key $value) }}
  {{- end }}
{{- end }}
<div class="{{ delimit $topLevelClass ` ` }}">
{{- with $portraitData }}
  {{- $classPrefix := "portrait" }}
  {{- $portraitImageArgs := (dict
    "resource" .resource
    "position" (default "50% 50%" .position)
    "fit" (default "cover" .fit)
    "style" .style
    "alt" .alt
    "title" .title
    "credit" .credit
    "figureclass" (printf "%s_figure" $classPrefix)
    "imgclass" (printf "%s_img" $classPrefix)
    "fetchpriority" "high"
  ) }}
  {{- if $debug }}
    {{- warnf "%s[%s]: Found portrait image resource .version.default.resource=%v in \nportraitImage=%v\nNow calling responsive-image with .resource=%v in portraitImageArgs=%v"
        $page $template .resource
        (jsonify (dict "indent" "  ") )
        $portraitImageArgs.resource
        (jsonify (dict "indent" "  ") $portraitImageArgs) -}}
  {{- end }}

  {{/* {{- partial "responsive-image" (merge $portraitImageArgs (dict "Page" $page)) $portraitImageArgs }} */}}
  {{- with $imgResource := partial "claris/_functions/resources/images/image-resource" (merge $portraitImageArgs (dict "Page" $page)) $portraitImageArgs }}
    <figure class="portrait_figure responsive-image_container">
      <img class="portrait_img" src="{{ .RelPermalink }}"
        width="{{ .Width }}" height="{{ .Height }}"
        fetchpriority="high"
        title="{{ $portraitImageArgs.title }}"
        alt="{{ $portraitImageArgs.alt }}"
        style="object-fit: {{ $portraitImageArgs.fit }}; object-position: {{ $portraitImageArgs.position }}">
    </figure>
  {{- else }}
    {{- warnf "%s[%s]: Image resource not found with\nportraitImageArgs=%v"
        $page $template (jsonify (dict "indent" "  ") $portraitImageArgs) }}
  {{- end }}
  {{- $page.Scratch.Add "claris.image.prioritized" 1 }}
  {{- if $debug }}
    {{- warnf "%s[%s]: claris.image.prioritized incremented to %d" $page $template ($page.Scratch.Get "claris.image.prioritized") }}
  {{- end }}
  <div class="overlay">
    <div class="overlay_content">
      {{- partial "headline" (dict
        "Page" $page
        "Config" $config
        "Component" $component
        "ComponentArgs" $componentArgs
        "HeadingLevel" $headingLevel
      ) -}}
    </div>
  </div>
{{- else }}
  {{- partial "headline" $componentArgs -}}
{{- end }}
</div>

{{- define "partials/headline" }}
  {{- $componentArgs := . }}
  {{- $page := .Page }}
  {{- $template := "vitae/_components/header" }}
  {{- $config := .Config }}
  {{- $component := .Component }}
  {{- $headingLevel := default 1 .HeadingLevel }}

  {{- with and (not (eq $component.headline false) ) .Data.headline }}
      <h{{ $headingLevel }} class="headline content-title">
      <span class="name">{{- .name | page.RenderString }}</span>
      {{- with and (not (eq $component.role false)) .role }}
        <span class="role">{{. | page.RenderString }}</span>
      {{- end -}}
      </h{{ $headingLevel }}>
    {{- with and (not (eq $component.degree false) ) .degree }}
      <p class="degree">{{. | page.RenderString }}</p>
    {{- end -}}
  {{- end -}}
  {{- with $component.fragments }}
    <div class="details">
      {{- range $fragment := . }}
        {{- $fragmentName := .fragment }}
        {{- $fragmentConfig := merge (index $config $fragmentName) . }}
        {{- $partial := printf "vitae/fragments/%s" $fragmentName}}
        {{/* {{- warnf "%s[%s]: component=%v: Calling fragment=%s with .Config=%v"
            $page $template $component $fragmentName $fragmentConfig -}} */}}
        {{- partial $partial (merge $componentArgs (dict "Fragment" $fragmentName "Config" $fragmentConfig ))  }}
      {{- end }}
    </div>
  {{- end }}
{{- end }}
