{{- $page := .Page -}}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $vitaeTemplate := .Config }}
{{- $vitaeData := .Data }}
{{- $sections := .Sections }}
{{- $childClass := default "" .ChildClass }}
{{- $media := .Media }}
{{- $componentClass := default "component_index" .ComponentClass }}
{{- $template := "vitae/_components/index" }}

{{- $debug := false }}
{{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?ats/preview` $page.RelPermalink) ) ) -}} */}}

{{- if $debug }}
  {{- warnf "%s[%s]: .MergedStyle=%v" $page $template
      (jsonify (dict "indent" "  ") .MergedStyle) }}
{{- end }}

{{- $validStyles := (dict
  "layout" (dict
    "inline" "inline"
    "shallow" "shallow"
  )
) -}}

{{- $mergedStyle := partial "vitae/_functions/style-class" (dict
  "Template" $template
  "MergedStyle" .MergedStyle
  "ValidStyles" $validStyles
  ) -}}
{{- if $debug }}
  {{- warnf "%s[%s]: After style-class:\nmergedStyle=%v" $page $template
      (jsonify (dict "indent" "  ") $mergedStyle) }}
{{- end }}

{{- $topLevelClass := delimit (append $mergedStyle.StyleClass (slice $componentClass $childClass) ) " " }}

{{- range $sectionIndex, $section := where $sections "enabled" "ne" false }}
  {{- $sectionName := $section.section }}
  {{- $sectionClass := printf "section_%s" $sectionName }}
  {{- $childClass := default "" .child_class }}
  {{- $sectionContainer := default "" .container }}
  {{- if $sectionContainer }}
    {{ printf `<%s class="%s section">` $sectionContainer $sectionClass | safeHTML }}
  {{- else }}
    {{- $childClass = trim (printf "%v %s" $childClass $sectionClass) " " }}
  {{- end }}
  {{- $headingLevel := default 2 $section.level }}
  {{- $sectionTitle := $section.title | default $sectionName -}}
  {{- with $section.title }}
    {{- $sectionTitle := (cond (gt (len (T $sectionTitle)) 0) (T $sectionTitle) $sectionTitle) | strings.FirstUpper }}
    <h{{ $headingLevel }} class="section-title_{{ $sectionName }} section-title {{ $childClass }}">{{ $sectionTitle }}</h{{ $headingLevel }}>
    {{- $headingLevel = (add $headingLevel 1) }}
  {{- end }}
  {{- range $componentIndex, $component := $section.components }}
    {{- $componentName := $component.component }}

    {{- $componentContainer := default "" .container }}
    {{- if $componentContainer }}
      {{- printf `<%s class="component-container_%s component-container{{ with $mergedStyle.StyleClass }} {{ . }}{{ end }}">` $componentContainer $componentName | safeHTML }}
    {{- end }}

    {{- $componentTitle := $component.title | default $componentName -}}
    {{- with $component.title }}
      {{- $componentTitle := (cond (gt (len (T $componentTitle)) 0) (T $componentTitle) $componentTitle) | strings.FirstUpper }}
      <h{{ $headingLevel }} class="component-title_{{ $componentName }} component-title {{ $childClass }}">{{ $componentTitle }}</h{{ $headingLevel }}>
      {{- $headingLevel = (add $headingLevel 1) }}
    {{- end }}

    {{- $mergedComponentStyle := $mergedStyle }}
    {{- with $component.style }}
      {{- $mergedComponentStyle = merge $mergedComponentStyle (dict "Style" (merge $mergedStyle.Style .)) }}
    {{- end }}

    {{- $componentPartial := printf "vitae/_components/%s" $componentName }}
    {{- partial $componentPartial (dict
      "Page" $page
      "Config" $vitaeTemplate
      "Media" $media
      "Component" $component
      "MergedStyle" $mergedComponentStyle
      "Index" $componentIndex
      "ChildClass" $childClass
      "Container" false
      "Data" $vitaeData
    ) -}}
    {{- with $componentContainer }}
      {{ printf "</%s>" . | safeHTML }}
    {{- end }}
  {{- end }}
  {{- with $section.sections }}
    {{- if and false $debug }}
      {{- warnf "%s[%s]: Calling %s with Sections:\n%v" $page $template $template
        (jsonify (dict "indent" "  ") .) -}}
      {{- end }}
    {{- $panelClass := append $topLevelClass (slice "section-panel" (printf "section-panel_%s" $sectionName) ) }}
    {{- with $section.panel_class }}
      {{- $panelClass = append . $panelClass }}
    {{- end }}
    <div class="{{ delimit $panelClass " " }}">
      {{- partial "vitae/_components/index" (dict
        "Page" $page
        "Config" $vitaeTemplate
        "Media" $media
        "MergedStyle" $mergedStyle
        "ChildClass" $childClass
        "Data" $vitaeData
        "Sections" .
      ) -}}
    </div>
  {{- end }}
  {{- with $sectionContainer }}
    {{ printf "</%s>" . | safeHTML }}
  {{- end }}
{{- end }}
