{{- $page := .Page -}}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $vitaeTemplate := .VitaeTemplate }}
{{- $vitaeData := .Data }}
{{- $vitaeParams := .VitaeParams }}
{{- $sections := .Sections }}
{{- $sectionSeparator := .SectionSeparator }}
{{- $childClass := default "" .ChildClass }}
{{- $media := .Media }}
{{- $componentClass := default "component_index" .ComponentClass }}
{{- $template := "vitae/_components/index" }}

{{- $debug := and false ($page.Param "clarisdebug") }}
{{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?$` $page.RelPermalink) ) ) -}} */}}
{{- $dbg := printf "%s[%s->%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .Template (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{- if and false $debug }}
  {{- warnf "%s .MergedStyle=%v" $dbg
      (jsonify (dict "indent" "  ") .MergedStyle) }}
{{- end }}

{{- $validStyles := (dict
  "ats" (dict
    "true" (dict
      "layout" (slice
        "shallow"
        "inline"
      )
    )
  )
  "layout" (slice "inline" "shallow")
  "inline_separator" "ANY_STRING"
  "role_header_separator" "ANY_STRING"
  "stage_meta_separator" "ANY_STRING"
  "organization_meta_separator" "ANY_STRING"
  "role_meta_separator" "ANY_STRING"
) -}}
{{- $mergedStyle := partial "vitae/_functions/style-merged" (dict
  "Template" $template
  "MergedStyle" .MergedStyle
  "ValidStyles" $validStyles
) -}}

{{- $testSet := slice }}
{{/* {{- $testSet = slice "all" }} */}}
{{/* {{- $testSet = slice 1 2 }} */}}
{{- if $testSet }}

  {{- $testCases := (slice
    (dict
      "Style" (dict "inline_separator" "A0Z")
      "ValidStyles" (dict "inline_separator" "ANY_STRING")
    )

    (dict
      "Style" (dict "layout" "narrow")
      "ValidStyles" (dict "layout" "narrow")
    )

    (dict
      "Style" (dict "inline" "content")
      "ValidStyles" (dict
        "inline" (slice
          "header"
          "content"
          "role"
        )
      )
    )

    (dict
      "Style" (dict "inline" (slice "content") )
      "ValidStyles" (dict
        "inline" (slice
          "header"
          "content"
          "role"
        )
      )
    )

    (dict
      "Style" (dict "inline" (slice "header" "role") )
      "ValidStyles" (dict
        "inline" (slice
          "header"
          "content"
          "role"
        )
      )
    )

    (dict
      "Style" (dict
        "ats" true
      )
      "ValidStyles" (dict
        "ats" (dict
          "true" (dict
            "layout" (slice
              "shallow"
              "inline"
            )
          )
        )
        "layout" (slice
          "inline"
          "shallow"
          "narrow"
        )
      )
    )

    (dict
      "MergedStyle" (dict
        "Style" (dict
          "ats" true
        )
        "ValidStyles" (dict
          "ats" "ANY_BOOL"
        )
      )
      "ValidStyles" (dict
        "ats" (dict
          "true" (dict
            "layout" (slice
              "shallow"
              "inline"
            )
          )
        )
        "layout" (slice
          (dict
            "inline" (dict
              "inline" (slice
                "content"
                "role"
              )
            )
          )
          "shallow"
          "narrow"
          )
          "inline" (slice
            "header"
            "content"
            "role"
        )
      )
    )

    (dict
      "MergedStyle" (dict
        "Style" (dict
          "layout" "compact"
        )
        "ValidStyles" (dict
          "layout" (slice "narrow" "shallow" "compact")
        )
      )
      "ValidStyles" (dict
        "layout" (slice
          (dict
            "inline" (dict
              "inline" (slice
                "content"
                "role"
              )
            )
          )
          "shallow"
          "narrow"
            (dict "compact" (dict
              "layout" (slice
                "shallow"
                "narrow"
              )
            )
          )
        )
        "inline" (slice
          "header"
          "content"
          "role"
        )
      )
    )

    (dict
      "MergedStyle" (dict
        "Style" (dict
          "layout" "squeezed"
        )
        "ValidStyles" (dict
          "layout" "squeezed"
        )
      )
      "ValidStyles" (dict
        "layout" (slice
          (dict
            "inline" (dict
              "inline" (slice
                "content"
                "role"
              )
            )
          )
          "shallow"
          "narrow"
            (dict "squeezed" (dict
              "layout" (slice
                "shallow"
                "narrow"
                "inline"
              )
            )
          )
        )
        "inline" (slice
          "header"
          "content"
          "role"
        )
      )
    )

    (dict
      "Style" (dict
        "layout" "inline"
      )
      "ValidStyles" (dict
        "layout" (slice
          "shallow"
          "narrow"
          (dict
            "inline" (dict
              "inline" (dict
                "header" true
              )
            )
          )
        )
        "inline" (dict
          "header" "ANY_BOOL"
        )
      )
    )

    (dict
      "Style" (dict
        "ats" true
        "inline_separator" "\nCUSTOM_SEP  "
      )
      "ValidStyles" (dict
        "ats" (dict
          "true" (dict
            "inline" (dict
              "header" true
              "content" true
              "role" true
            )
          )
        )
        "layout" (slice
          "shallow"
          "narrow"
          (dict
            "inline" (dict
              "inline" (dict
                "header" true
                "content" false
              )
            )
          )
        )
        "inline" (dict
          "header" "ANY_BOOL"
          "content" "ANY_BOOL"
          "role" "ANY_BOOL"
        )
        "inline_separator" "ANY_STRING"
      )
    )

    (dict
      "Style" (dict
        "ats" true
        "inline_separator" "•"
        "layout" (slice
          "shallow"
          "inline"
        )
        "logo" true
        "logo_bool" false
        "logo_string" "false"
      )
      "ValidStyles" (dict
        "ats" (dict
          "true" (dict
            "layout" (slice
              "shallow"
              "inline"
            )
          )
        )
        "layout" (slice
          (dict
            "inline" (dict
              "inline" (slice
                "content"
                "role"
              )
            )
          )
          "shallow"
          "narrow"
            (dict "compact" (dict
              "layout" (slice
                "shallow"
                "narrow"
              )
            )
          )
        )
        "inline" (slice
          "header"
          "content"
          "role"
        )
        "inline_separator" "ANY_STRING"
        "logo" (dict
          "false" false
          "true" "left"
          "left" "left"
        )
        "logo_bool" "ANY_BOOL"
        "logo_string" "ANY_STRING"
      )
    )

    (dict
      "Style" (dict
        "ats" true
        "inline_separator" "•"
        "heading" "larger-2"
        "layout" (slice
          "inline"
          "shallow"
        )
        "logo" false
      )
      "ValidStyles" (dict
        "ats" "ANY_BOOL"
        "display" (dict
          "grid" "grid"
        )
        "heading" (dict
          "larger-1" "larger-1"
          "larger-2" "larger-2"
          "normal" "normal"
        )
        "inline_separator" "ANY_STRING"
        "layout" (slice
          "inline"
          "shallow"
        )
        "logo" (dict
          "false" false
          "left" "left"
          "true" "left"
        )
      )
    )

    (dict
      "Style" (dict
        "heading" (dict
          "font-size" "larger-2"
        )
      )
      "ValidStyles" (dict
        "heading" (dict
          "font-size" (dict
            "normal" "normal"
            "larger-2" "larger-2"
            "smaller-1" "smaller-1"
          )
        )
      )
    )

    (dict
      "Style" (dict
        "heading" (dict
          "organization" (dict
            "font-size" "larger-2"
          )
        )
      )
      "ValidStyles" (dict
        "heading" (dict
          "organization" (dict
            "font-size" (dict
              "normal" "normal"
              "larger-2" "larger-2"
              "smaller-1" "smaller-1"
            )
          )
        )
      )
    )

    (dict
      "Style" (dict
        "heading" (dict
          "organization" (dict
            "font-size" "larger-2"
          )
          "role" (dict
            "font-size" "smaller-1"
          )
        )
      )
      "ValidStyles" (dict
        "heading" (dict
          "organization" (dict
            "font-size" (dict
              "normal" "normal"
              "larger-2" "larger-2"
              "smaller-1" "smaller-1"
            )
          )
          "role" (dict
            "font-size" (dict
              "normal" "normal"
              "larger-2" "larger-2"
              "smaller-1" "smaller-1"
            )
          )
        )
      )
    )

    (dict
      "MergedStyle" (dict
        "Style" (dict
          "heading" (dict
            "font-size" "normal"
          )
        )
        "ValidStyles" (dict
          "heading" (dict
            "font-size" (dict
              "normal" "normal"
              "larger-2" "larger-2"
              "smaller-1" "smaller-1"
            )
          )
        )
      )
      "ValidStyles" (dict
        "heading" (dict
          "font-size" (dict
            "normal" (dict
              "heading" (dict
                "organization" (dict
                  "font-size" "normal"
                )
                "role" (dict
                  "font-size" "normal"
                )
              )
            )
          )
          "organization" (dict
            "font-size" (dict
              "normal" "normal"
              "larger-2" "larger-2"
              "smaller-1" "smaller-1"
            )
          )
          "role" (dict
            "font-size" (dict
              "normal" "normal"
              "larger-2" "larger-2"
              "smaller-1" "smaller-1"
            )
          )
        )
      )
    )

    (dict
      "MergedStyle" (dict
        "Style" (dict
          "ats" true
          "inline" (dict
            "content" true
            "header" true
            "role" true
          )
          "layout" (slice
            "inline"
            "shallow"
          )
        )
        "ValidStyles" (dict
          "ats" (dict
            "true" (dict
              "layout" (slice
                "shallow"
                "inline"
              )
            )
          )
          "layout" (slice
            "inline"
            "shallow"
          )
        )
      )
      "ValidStyles" (dict
        "ats" (dict
          "true" (dict
            "inline" (dict
              "content" true
              "header" true
              "role" true
            )
          )
        )
        "inline" (dict
          "content" "ANY_BOOL"
          "header" "ANY_BOOL"
          "role" "ANY_BOOL"
        )
        "layout" (slice
          "shallow"
          "narrow"
          (dict
            "inline" (dict
              "inline" (dict
                "content" false
                "header" true
              )
            )
          )
        )
      )
    )

    (dict
      "MergedStyle" (dict
        "Style" (dict
          "ats" true
          "inline" (dict
            "content" true
            "header" true
            "role" true
          )
          "layout" (slice
            "inline"
            "shallow"
          )
          "logo" false
        )
        "ValidStyles" (dict
          "ats" (dict
            "true" (dict
              "layout" (slice
                "shallow"
                "inline"
              )
            )
          )
          "display" (dict
            "grid" "grid"
          )
          "heading" (dict
            "larger-1" "larger-1"
            "larger-2" "larger-2"
            "normal" "normal"
          )
          "layout" (slice
            "inline"
            "shallow"
          )
          "logo" (dict
            "false" false
            "left" "left"
            "true" "left"
          )
        )
      )
      "ValidStyles" (dict
        "ats" (dict
          "true" (dict
            "inline" (dict
              "content" true
              "header" true
              "role" true
            )
          )
        )
        "heading" (dict
          "larger-2" "larger-2"
          "normal" "normal"
          "smaller-1" "smaller-1"
        )
        "inline" (dict
          "content" "ANY_BOOL"
          "header" "ANY_BOOL"
          "role" "ANY_BOOL"
        )
        "layout" (slice
          "shallow"
          "narrow"
          (dict
            "inline" (dict
              "inline" (dict
                "content" false
                "header" true
              )
            )
          )
        )
        "logo" (dict
          "false" false
          "left" "left"
          "true" "left"
        )
      )
    )

  ) }}

  {{- $negativeTestCases := (slice
    (dict
      "Style" (dict "inline_separator" (slice " ||| ") )
      "ValidStyles" (dict "inline_separator" "ANY_STRING")
    )
  ) }}

  {{- $mergedStyleTestCase := dict }}

  {{- if $debug }}

    {{- if eq (index $testSet 0) "all" }}
      {{- $testSet = seq 0 (sub (len $testCases) 1) }}
    {{- end }}

    {{- warnf "//BEGIN\n{\n  \"test_cases\": [\n" }}
    {{- range $testIndex, $testID := $testSet }}

      {{- with $testCase := index $testCases . }}

        {{- $mergedStyleTestCase = partial "vitae/_functions/style-merged" (dict
          "Template" (printf "%v %d" "testcase" $testID)
          "MergedStyle" .MergedStyle
          "Style" .Style
          "ValidStyles" .ValidStyles
        ) -}}
        {{- $jsonOpts := (dict "indent" "  " "prefix" "      " "noHTMLEscape" true) }}
        {{- warnf "// TEST %d:\n    {\n      \"test_id\": %d,\n      \"input\": %v,\n      \"result\": %v\n    }%v"
             $testID $testID (jsonify $jsonOpts $testCase)
            (jsonify $jsonOpts $mergedStyleTestCase)
            (cond (lt $testIndex (sub (len $testSet) 1)) "," "") -}}

      {{- else }}
        {{- errorf "%s[%s]: TEST %d: invalid testID=%v" $page $template $testID $testID }}
      {{- end }}

    {{- end }}
    {{- warnf "// END\n  ]\n}\n" }}

  {{- end }}
{{- end }}

{{- $topLevelClass := (slice $componentClass) }}
{{- with $mergedStyle.StyleClass }}
  {{- $topLevelClass = append . $topLevelClass }}
{{- end }}
{{- with $childClass }}
  {{- $topLevelClass = append $childClass $topLevelClass }}
{{- end }}

{{- range $sectionIndex, $section := where $sections "enabled" "ne" false }}
  {{- $sectionName := $section.section }}
  {{- $sectionClassList := slice (printf "section_%s" $sectionName) }}
  {{- $sectionContainer := default "" .container }}
  {{- $sectionChildClass := slice (default "" .child_class) }}

  {{- with $sectionSeparator }}
    {{- if gt $sectionIndex 0 }}
      <div class="{{ . }}"></div>
    {{- end }}
  {{- end }}
  {{- if $sectionContainer }}
    {{- $validSectionStyles := (dict
      "title" (dict
        "left" "left"
        "inline" "left"
      )
    ) -}}

    {{- $mergedSectionStyle := partial "vitae/_functions/style-merged" (dict
      "Template" $template
      "Style" $section.style
      "ValidStyles" $validSectionStyles
      ) -}}
    {{- if $debug }}
      {{- warnf "%s section=%s: After style-merged: mergedSectionStyle=%v"
          $dbg $sectionName
          (jsonify (dict "indent" "  ") $mergedSectionStyle) }}
    {{- end }}
    {{- with $mergedSectionStyle.StyleClass }}
      {{- $sectionClassList = append . $sectionClassList }}
    {{- end }}

    {{ printf `<%s class="%s section">` $sectionContainer (delimit $sectionClassList ` `) | safeHTML }}
  {{- else }}
    {{- $childClass = print (delimit $sectionClassList ` `) }}
  {{- end }}
  {{- $headingLevel := default 2 $section.level }}

  {{- $sectionTitle := $section.title | default $sectionName -}}
  {{- with $section.title }}
    {{- $sectionTitle = (cond (gt (len (T $sectionTitle)) 0) (T $sectionTitle) $sectionTitle) | strings.FirstUpper }}
    <h{{ $headingLevel }} class="section-title_{{ $sectionName }} section-title {{ $childClass }}">{{ $sectionTitle }}</h{{ $headingLevel }}>
    {{- $headingLevel = (add $headingLevel 1) }}
  {{- end }}

  {{- range $componentIndex, $component := $section.components }}
    {{- $componentName := $component.component }}

    {{- $componentContainer := default false .container }}

    {{- $componentData := false }}
    {{- with $component.collection }}
      {{- if reflect.IsSlice . }}
        {{- range . }}
          {{- if not $componentData }}
            {{- with index $vitaeData . }}
              {{- $componentData = . }}
            {{- end }}
          {{- end }}
        {{- end }}
      {{- else }}
        {{- with index $vitaeData . }}
          {{- $componentData = . }}
        {{- end }}
      {{- end }}
    {{- else }}
      {{- $componentData = index $vitaeData $component.component }}
    {{- end }}

    {{- if $componentContainer }}
      {{- with $mergedStyle }}
        {{/* FIXME Should probably call style-merged to merge the styles */}}
        {{- $componentClassList := slice (printf "component-container_%s component-container" $componentName) }}
        {{ with $mergedStyle.StyleClass }}
          {{ $componentClassList = append . $componentClassList }}
        {{ end }}
        {{- printf `<%s class="%s">` $componentContainer (delimit $componentClassList ` `) | safeHTML }}
      {{- else }}
        {{- printf `<%s class="component-container_%s component-container{{ with $mergedStyle.StyleClass }} {{ . }}{{ end }}">` $componentContainer $componentName | safeHTML }}
      {{- end }}
    {{- end }}

    {{- $componentTitle := $component.title | default $componentName -}}
    {{- with $component.title }}
      {{- $componentTitle := (cond (gt (len (T $componentTitle)) 0) (T $componentTitle) $componentTitle) | strings.FirstUpper }}
      <h{{ $headingLevel }} class="component-title_{{ $componentName }} component-title {{ $childClass }}">{{ $componentTitle }}</h{{ $headingLevel }}>
      {{- $headingLevel = (add $headingLevel 1) }}
    {{- end }}

    {{- $mergedComponentStyle := $mergedStyle }}
    {{- with $component.style }}
      {{- $mergedComponentStyle = merge $mergedComponentStyle (dict "Style" (merge $mergedStyle.Style .)) }}
    {{- end }}

    {{- $componentPartial := printf "vitae/_components/%s" $componentName }}

    {{- $componentPartialParams := (dict
      "Page" $page
      "Template" $template
      "Params" $vitaeParams
      "VitaeTemplate" $vitaeTemplate
      "Media" $media
      "Component" $component
      "ComponentData" $componentData
      "MergedStyle" $mergedComponentStyle
      "Index" $componentIndex
      "ChildClass" $childClass
      "SingleContainer" $componentContainer
      "Data" $vitaeData
    ) -}}

    {{- partial $componentPartial $componentPartialParams -}}
    {{- with $componentContainer }}
      {{ printf "</%s>" . | safeHTML }}
    {{- end }}
  {{- end }}
  {{- with $section.sections }}
    {{- $panelClass := append $topLevelClass (slice "section-panel" (printf "section-panel_%s" $sectionName) "section" ) }}
    {{- $validSectionPanelStyles := (dict
      "column-width_main" "ANY_INT"
    ) -}}

    {{- $mergedSectionPanelStyle := partial "vitae/_functions/style-merged" (dict
      "Template" $template
      "Style" $section.style
      "ValidStyles" $validSectionPanelStyles
      ) -}}
    {{- if $debug }}
      {{- warnf "%s section=%s: After style-merged: mergedSectionPanelStyle=%v"
          $dbg $sectionName
          (jsonify (dict "indent" "  ") $mergedSectionPanelStyle) }}
    {{- end }}
    {{- with $mergedSectionPanelStyle.StyleClass }}
      {{- if $debug }}
        {{- warnf "%s section=%s: Append  [type=%T] mergedSectionPanelStyle.StyleClass=%v\nto [type=%T] panelClass=%v"
            $dbg $sectionName
            $mergedSectionPanelStyle.StyleClass (jsonify (dict "indent" "  ") $mergedSectionPanelStyle.StyleClass)
            $panelClass (jsonify (dict "indent" "  ") $panelClass) }}
      {{- end }}
      {{- $panelClass = append $mergedSectionPanelStyle.StyleClass $panelClass }}
    {{- end }}

    {{- if and true $debug }}
      {{- warnf "%s Calling %s with Sections:\n%v" $dbg $template
        (jsonify (dict "indent" "  ") .) -}}
      {{- end }}
    {{- with $section.panel_class }}
      {{- $panelClass = append . $panelClass }}
    {{- end }}
    <div class="{{ delimit $panelClass ` ` }}">
      {{- partial "vitae/_components/index" (dict
        "Page" $page
        "VitaeTemplate" $vitaeTemplate
        "Media" $media
        "MergedStyle" $mergedStyle
        "ChildClass" $childClass
        "Data" $vitaeData
        "Sections" .
      ) -}}
    </div>
  {{- end }}
  {{- with $sectionContainer }}
    {{ printf "</%s>" . | safeHTML }}
  {{- end }}
{{- end }}
