{{- $page := .Page -}}
{{- $template := "vitae/_components/panels" -}}
{{- $component := .Component }}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $componentClass := default "component_panels" .ComponentClass }}
{{- $childClass := default "" .ChildClass }}

{{- $style := default dict .Style }}
{{- $validStyles := merge (default dict .ValidStyles) (dict
  "layout" (dict
    "shallow" "shallow"
    "narrow" "narrow"
    "inline" "inline"
  )
  "heading" (dict
    "normal" "normal"
    "larger-1" "larger-1"
    "smaller-1" "smaller-1"
  )
  "dt_columns" (dict
    "ANY_INT" true
  )
) -}}

{{- $styleClassList := partial "vitae/_functions/style-class" (dict
  "Template" $template
  "Style" $style
  "ValidStyles" $validStyles
  ) -}}

{{- $topLevelClass := delimit (append $styleClassList (slice $componentClass $childClass) ) " " }}

{{- $filterField := default "type" $component.filter_by -}}
{{- $filterMatch := default false $component.filter_value -}}

{{- $optInline := dict "display" "inline" }}

{{- $styleLayoutInline := false }}
{{- with $style.layout }}
  {{- if reflect.IsSlice . }}
    {{- if in . "inline" }}
      {{ $styleLayoutInline = true }}
    {{- end }}
  {{- else }}
    {{- if eq . "inline" }}
      {{ $styleLayoutInline = true }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $panelData := (index .Data (default $component.component $component.collection) ) }}
{{- with $panelData }}
  {{- with .content }}
    <div class="panels_content {{ $topLevelClass }}">
      {{- page.RenderString . }}
    </div>
  {{- end }}
  {{- with $definitionsRaw := .definitions }}
    {{- $definitions := . }}
    {{- $classPrefix := "panel" }}
    {{- with $filterMatch }}
      {{- if reflect.IsSlice . }}
        {{- $definitions = where $definitionsRaw $filterField "in" . }}
        {{- $classPrefix = printf "%s %s" $filterMatch (delimit $classPrefix "_") }}
      {{- else }}
        {{- $definitions = where $definitionsRaw $filterField . }}
        {{- $classPrefix = printf "%s %s" $filterMatch $classPrefix }}
      {{- end }}
    {{- end }}
    {{- with $definitions }}
      <div class="panels_content {{ $topLevelClass }}">
        {{- if not $styleLayoutInline }}
          <dl>
        {{- end }}

        {{- range $definitionItem := . }}

          {{- with $definitionItem.title }}

            {{- if $styleLayoutInline }}
              <h{{ $headingLevel }}>
            {{- else }}
              <dt>
            {{- end -}}

            {{ page.RenderString $optInline . }}

            {{- if $styleLayoutInline }}
              </h{{ $headingLevel }}>
            {{- else }}
              </dt>
            {{- end }}
            {{- with $definitionItem.content }}
              {{- if $styleLayoutInline }}
                {{- if reflect.IsSlice . }}
                  <ul>
                  {{- range . }}
                    <li>
                      {{ page.RenderString $optInline . }}
                    </li>
                  {{- end }}
                  </ul>
                {{- else }}
                    {{ page.RenderString $optInline . }}
                {{- end }}
            {{- else }}
                {{- $ddList := . }}
                {{- if not (reflect.IsSlice $ddList) }}
                  {{- $ddList = slice $ddList }}
                {{- end }}
                {{- range $ddList }}
                  <dd>
                  {{ page.RenderString $optInline . }}
                  </dd>
                {{- end }}
              {{- end }}
            {{- end }}
          {{- end }}
        {{- end }}
        {{- if not $styleLayoutInline }}
          </dl>
        {{- end }}
      </div>
    {{- end }}
  {{- end }}
  {{- with $panelsRaw := .panels }}
    {{- $panels := . }}
    {{- $classPrefix := "panel" }}
    {{- with $filterMatch }}
      {{- if reflect.IsSlice . }}
        {{- $panels = where $panelsRaw $filterField "in" . }}
        {{- $classPrefix = printf "%s %s" $filterMatch (delimit $classPrefix "_") }}
      {{- else }}
        {{- $panels = where $panelsRaw $filterField . }}
        {{- $classPrefix = printf "%s %s" $filterMatch $classPrefix }}
      {{- end }}
    {{- end }}
    {{- with $panels }}
      {{- partial "claris/_components/panels" (dict
          "Page" $page
          "HeadingLevel" $headingLevel
          "ContainerClass" (delimit (slice "panels_cards" $topLevelClass) " ")
          "Nested" false
          "Panels" . )
        }}
    {{- end }}
  {{- end }}
  {{- else }}
    {{- warnf "%s[%s]: Failed to obtain collection $component.component=%v $component.collection=%v"
        $page $template $component.component $component.collection }}
{{- end }}
