{{- $page := .Page -}}
{{- $template := "vitae/_components/panels" -}}
{{- $component := .Component }}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $componentClass := default "component_panels" .ComponentClass }}
{{- $childClass := default "" .ChildClass }}

{{- $debug := false }}
{{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?preview` $page.RelPermalink) ) ) -}}

{{- $validStyles := (dict
  "_template" $template
  "ats" (dict
    "true" (dict
      "layout" (slice
        "shallow"
        "inline"
      )
    )
  )
  "layout" (slice
    "shallow"
    "narrow"
    "inline"
  )
  "font-size" (dict
    "larger-1" "larger-1"
  )
  "heading" (dict
    "normal" "normal"
  )
  "dt_columns" "ANY_INT"
) -}}

{{- $mergedStyle := partial "vitae/_functions/style-merged" (dict
  "Template" $template
  "MergedStyle" .MergedStyle
  "ValidStyles" $validStyles
) -}}

{{- $style := $mergedStyle.Style }}
{{- $styleClassList := $mergedStyle.StyleClass }}

{{- $topLevelClass := delimit (append $styleClassList (slice $componentClass $childClass) ) " " }}

{{- $filterField := default "type" $component.filter_by -}}
{{- $filterMatch := default false $component.filter_value -}}

{{- $optInline := dict "display" "inline" }}

{{- $styleLayoutInline := false }}
{{- with $style.layout }}
  {{- if reflect.IsSlice . }}
    {{- if in . "inline" }}
      {{ $styleLayoutInline = true }}
    {{- end }}
  {{- else }}
    {{- if eq . "inline" }}
      {{ $styleLayoutInline = true }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $panelData := (index .Data (default $component.component $component.collection) ) }}
{{- with $panelData }}
  {{- with .content }}
    <div class="panels_content {{ $topLevelClass }}">
      {{- page.RenderString . }}
    </div>
  {{- end }}
  {{- with $definitionsRaw := .definitions }}
    {{- $definitions := . }}
    {{- $classPrefix := "panel" }}
    {{- with $filterMatch }}
      {{- if reflect.IsSlice . }}
        {{- $definitions = where $definitionsRaw $filterField "in" . }}
        {{- $classPrefix = printf "%s %s" $filterMatch (delimit $classPrefix "_") }}
      {{- else }}
        {{- $definitions = where $definitionsRaw $filterField . }}
        {{- $classPrefix = printf "%s %s" $filterMatch $classPrefix }}
      {{- end }}
    {{- end }}
    {{- with $definitions }}
      <div class="panels_content {{ $topLevelClass }}">
        {{- if not $styleLayoutInline }}
          <dl>
        {{- end }}

        {{- range $definitionItem := . }}

          {{- with $title := $definitionItem.title }}

            {{- if $styleLayoutInline }}
              <h{{ $headingLevel }} class="panel_title">
            {{- else }}
              <dt>
            {{- end -}}
            {{- if $styleLayoutInline }}
              {{- $title = replaceRE `\s*<br>\s*` ` ` $title }}
            {{- end -}}

            {{ page.RenderString $optInline $title }}

            {{- if $styleLayoutInline }}
              </h{{ $headingLevel }}>
            {{- else }}
              </dt>
            {{- end }}
            {{- with $definitionItem.content }}
              {{- if not $styleLayoutInline }}
                <dd>
              {{- end }}
                {{- if reflect.IsSlice . }}
                  <ul>
                  {{- range . }}
                    <li>
                      {{ page.RenderString $optInline . }}
                    </li>
                  {{- end }}
                  </ul>
                {{- else }}
                    {{ page.RenderString $optInline . }}
                {{- end }}
              {{- if not $styleLayoutInline }}
                </dd>
              {{- end }}
            {{- end }}
          {{- end }}
        {{- end }}
        {{- if not $styleLayoutInline }}
          </dl>
        {{- end }}
      </div>
    {{- end }}
  {{- end }}
  {{- with $panelsRaw := .panels }}
    {{- $panels := . }}
    {{- $classPrefix := "panel" }}
    {{- with $filterMatch }}
      {{- if reflect.IsSlice . }}
        {{- $panels = where $panelsRaw $filterField "in" . }}
        {{- $classPrefix = printf "%s %s" $filterMatch (delimit $classPrefix "_") }}
      {{- else }}
        {{- $panels = where $panelsRaw $filterField . }}
        {{- $classPrefix = printf "%s %s" $filterMatch $classPrefix }}
      {{- end }}
    {{- end }}
    {{- with $panels }}
      {{- partial "claris/_components/panels" (dict
          "Page" $page
          "HeadingLevel" $headingLevel
          "ContainerClass" (delimit (slice "panels_cards" $topLevelClass) " ")
          "Nested" false
          "Panels" . )
        }}
    {{- end }}
  {{- end }}
  {{- else }}
    {{- warnf "%s[%s]: Failed to obtain collection $component.component=%v $component.collection=%v"
        $page $template $component.component $component.collection }}
{{- end }}
