{{- $page := .Page -}}
{{- $template := "vitae/_components/skills" }}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $componentClass := default "component_skills" .ComponentClass }}
{{- $childClass := default "" .ChildClass }}

{{- $component := .Component }}

{{- $debug := false }}
{{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?preview` $page.RelPermalink) ) ) -}} */}}

{{- $validStyles := (dict
  "_template" $template
  "ats" (dict
    "true" (dict
      "layout" (slice "inline")
    )
  )
  "layout" (slice
    "shallow"
    "narrow"
    (dict "inline"
      (dict
        "level_bar" false
      )
    )
  )
  "level_bar" "ANY_BOOL"
  "details" "ANY_BOOL"
) -}}

{{- $mergedStyle := partial "vitae/_functions/style-merged" (dict
  "Template" $template
  "MergedStyle" .MergedStyle
  "ValidStyles" $validStyles
) -}}

{{- $style := $mergedStyle.Style }}
{{- $styleClassList := $mergedStyle.StyleClass }}

{{- $topLevelClass := delimit (append $styleClassList (slice $componentClass $childClass) ) " " }}

{{- $styleLevelBar := default false $style.level_bar }}
{{- $styleDetails := default false $style.details }}
{{- $styleLayoutInline := (not (not ((intersect (slice "inline") $style.layout)))) }}

{{- $filterField := default "type" $component.filter_by -}}
{{- $filterMatch := default "language" $component.filter_value -}}

{{- $optInline := dict "display" "inline" }}

{{- $skillCollection := (index .Data $component.collection) }}
{{- with $skillCollection }}
  {{- $skillList := where $skillCollection $filterField $filterMatch }}

  {{- $classPrefix := printf "%s skill" $filterMatch }}
  <div class="{{ $classPrefix }}_container {{ $topLevelClass }}">
  {{- range $skillIdx, $skill := $skillList }}
    {{- if $styleLayoutInline }}
    <div class="{{- $classPrefix }}_item">
    {{- end }}
      <div class="{{- $classPrefix }}_name">
        {{- .title }}
      </div>
      {{- with .level }}
      <div class="{{- $classPrefix }}_level">
        <span class="{{- $classPrefix }}_level_description">{{- .description }}</span>
        {{- if $styleLevelBar }}
          <div class="{{- $classPrefix }}_level_bar">
            <span class="{{- $classPrefix }}_level_bar_tab" style="width: {{ .value }}%">&nbsp;</span>
          </div>
        {{- end }}
      </div>
      {{- end }}
      {{- if $styleDetails }}
        {{- $detailFields := slice "certificates" "details" }}
        <div class="{{- $classPrefix }}_details">
          {{- range $k := $detailFields }}
          <span class="{{ $classPrefix }}_{{ $k }}">
            {{- $v := (index $skill $k) }}
            {{- if reflect.IsSlice $v }}
              {{- range $vv := $v }}
                {{- $page.RenderString $optInline $vv -}}
              {{- end }}
            {{- else }}
              {{- $page.RenderString $optInline $v -}}
            {{- end }}
          </span>
          {{- end }}
        </div>
      {{- end }}
    {{- if $styleLayoutInline }}
    </div>
    {{- end }}
  {{- end }}
  </div>
{{- /* {{- else }}
  {{- warnf "%s[%s]: Failed to obtain skillCollection via (index .Data $component.collection) with $component.collection=%v"
      $page $template $component.collection }} */ -}}
{{- end }}
