{{- $page := .Page -}}
{{- $template := "vitae/_components/skills" }}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $sectionClass := default "section-skills" .SectionClass }}
{{- $childClass := default "" .ChildClass }}

{{- $component := .Component }}

{{- $layout := "screen" -}}
{{- with $page.Layout -}}
  {{- $layout = . -}}
{{- end }}

{{- $topLevelClass := delimit (slice $sectionClass $childClass) " " }}

{{- $filterField := default "type" $component.filter_by -}}
{{- $filterMatch := default "language" $component.filter_value -}}

{{- $optInline := dict "display" "inline" }}


{{- $skillCollection := (index .Data $component.collection) }}
{{- with $skillCollection }}
  {{- $skillList := where $skillCollection $filterField $filterMatch }}

  {{- $classPrefix := printf "%s skill" $filterMatch }}
  <div class="{{ $classPrefix }}_container {{ $topLevelClass }}">
  {{- range $skillIdx, $skill := $skillList }}
    <div class="{{- $classPrefix }}_name">
      {{- .name }}
    </div>
    {{- with .level }}
    <div class="{{- $classPrefix }}_level">
      <span class="{{- $classPrefix }}_level_description">{{- .description }}</span>
      {{- if default true $component.level_bar }}
        <div class="{{- $classPrefix }}_level_bar">
          <span class="{{- $classPrefix }}_level_bar_tab" style="width: {{ .value }}%">&nbsp;</span>
        </div>
      {{- end }}
    </div>
    {{- end }}
    {{- if default true $component.details }}
      {{- $detailFields := slice "certificates" "details" }}
      <div class="{{- $classPrefix }}_details">
        {{- range $k := $detailFields }}
        <span class="{{ $classPrefix }}_{{ $k }}">
          {{- $v := (index $skill $k) }}
          {{- if reflect.IsSlice $v }}
            {{- range $vv := $v }}
              {{- $page.RenderString $optInline $vv -}}
            {{- end }}
          {{- else }}
            {{- $page.RenderString $optInline $v -}}
          {{- end }}
        </span>
        {{- end }}
      </div>
    {{- end }}
  {{- end }}
  </div>
{{- /* {{- else }}
  {{- warnf "%s[%s]: Failed to obtain skillCollection via (index .Data $component.collection) with $component.collection=%v"
      $page $template $component.collection }} */ -}}
{{- end }}
