{{- $page := .Page -}}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $componentClass := default "component_stages" .ComponentClass }}
{{- $childClass := default "" .ChildClass }}
{{- $partialOutput := default true .PartialOutput }}
{{- $template := "vitae/_components/stages" }}

{{- $component := .Component }}

{{- $style := (dict "timeline" "dot-dash") }}
{{- $styleClass := "" }}
{{- with .Style }}
  {{- if reflect.IsMap . }}
    {{- $style = . }}
  {{- end }}
{{- end }}
{{- range $key, $value := $style }}
  {{- $styleClass = trim (printf "%s %s_%s" $styleClass $key $value) " " }}
{{- end }}

{{- $timelineBaseClass := "timeline" }}

{{- $timelineForSingleRole := false }}
{{- $durationFirst := false }}
{{- $periodDurationSeparator := "" }}
{{- $periodBeginEndSeparator := "-" }}
{{- with $style }}
  {{- with .timeline }}
    {{- if eq . "dot-dash" }}
      {{- $durationFirst = true }}
    {{- else if eq . "column" }}
      {{- $timelineForSingleRole = true }}
      {{- $periodBeginEndSeparator = "<br>-" }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $filterField := default "type" $component.filter_by -}}
{{- $filterMatch := default "professional" $component.filter_value -}}

{{- $logoImageWidthHeight := 96 }}
{{- $logoImageDisplayWidthHeight := 48 }}
{{- $sizeSpec := printf "%dx%d center png" (int $logoImageWidthHeight) (int $logoImageWidthHeight) }}
{{- $logoImageRoot := "images/organization-logos" }}
{{- $dateFormat := default "Jan 2006" (default site.Params.periodDateFormat .Params.periodDateFormat )}}

{{- $roleSectionSeparator := "role-section-separator"}}

{{- $homeCountry := "Switzerland" }}

{{- $orgList := (index .Data (default $component.component $component.collection) ) }}
{{- range $orgIdx, $org := $orgList }}

  {{- $roleList := where $org.roles $filterField $filterMatch }}
  {{- $numRoles := (len $roleList) }}

  {{- $timelineClass := "" }}
  {{- $timelineOrgClass := "" }}

  {{- if (gt $numRoles 0) }}
    {{- $firstRole := index $roleList 0 }}
    {{- $roleHasDetails := false }}
    {{ with $firstRole }}
      {{- $roleHasDetails = or .details .star .results .responsibilities .achievements }}
    {{- end }}
    {{- $singleRoleWithoutDetails := and (eq $numRoles 1) (not $roleHasDetails) }}
    {{- $showTimeline := or (and $timelineForSingleRole $roleHasDetails) (gt $numRoles 1) }}
    {{- if $showTimeline }}
      {{- $timelineClass = $timelineBaseClass }}
      {{- if (eq $orgIdx 0) }}
        {{- $timelineOrgClass = "timeline_org-first" }}
      {{- else if (eq $orgIdx (sub (len $orgList) 1 ) ) }}
        {{- $timelineOrgClass = "timeline_org-last" }}
      {{- else }}
        {{- $timelineOrgClass = "timeline_org-within" }}
      {{- end }}
    {{- end }}

    {{- $topLevelClass := strings.TrimLeft " " (delimit (slice $timelineClass $timelineOrgClass $styleClass $componentClass $childClass) " ") }}

    {{- $logoImageResource := false }}
    {{- if default true $component.logo }}
      <!-- Use urlize to sanitize organization name -->
      {{- $imgAssetID := printf "%s/%s*" $logoImageRoot (anchorize $org.organization) -}}
      {{- with partial "claris/_functions/resources/images/image-resource" (dict "Page" $page "resource" $imgAssetID) }}
        {{ $logoImageResource = . }}
      {{- else }}
        {{- warnf "%s[%s]: organization=%s: logo '%s' not found"
            $page $template $org.organization $imgAssetID }}
      {{- end }}
    {{- end }}

    {{- $oganizationHeaderClassList := slice "organization_header stage_header" }}
    {{ if $singleRoleWithoutDetails }}
      {{- $oganizationHeaderClassList = append "single-role" $oganizationHeaderClassList }}
    {{ else if $logoImageResource }}
      {{- $oganizationHeaderClassList = append "logo" $oganizationHeaderClassList }}
    {{ end }}

    {{- $stagePeriodInHeader := true }}

    {{- if $stagePeriodInHeader }}
    <div class="{{ delimit (append $topLevelClass $oganizationHeaderClassList) ` ` }}">
    {{- end }}
      {{- if or $component.organization_period $component.organization_duration }}
        {{- with $org.roles }}
          <div class="organization_period stage_period{{ if not $stagePeriodInHeader }} {{ $topLevelClass }}{{ end }}">{{- partial
            "vitae/_functions/date-period-duration" (dict
            "PeriodList" .
            "ShowPeriod" $component.organization_period
            "ShowDuration" $component.organization_duration
            "DurationFirst" $durationFirst
            "DateFormat" $dateFormat
            "Container" "span"
            "DateContainer" "span"
            "PeriodDurationSeparator" $periodDurationSeparator
            "PeriodBeginEndSeparator" $periodBeginEndSeparator
          ) -}}</div>
        {{- end }}
      {{- end }}
    {{- if not $stagePeriodInHeader }}
    <div class="{{ delimit (append $topLevelClass $oganizationHeaderClassList) ` ` }}">
    {{- end }}
      <div class="organization_header_main stage_main">
        <h{{ $headingLevel }} class="organization_title">
        {{- if $org.website }}
          <a class="organization_link" target="_self" href="{{ $org.website }}">
        {{- end }}
        {{ $org.organization }}
        {{- if $org.website }}
          </a>
        {{- end }}
        </h{{ $headingLevel }}>
        {{- if default true $component.organization_location }}
          {{- $location := "" }}
          {{- with $org.location }}
            {{- $location = printf "%s" . }}
            {{- with $org.country }}
              {{- if ne $org.country $homeCountry }}
                {{- $location = printf "%s, %s" $location . }}
              {{- end }}
            {{- end }}
          {{- end }}
          {{- with $location }}
          <p class="organization_location">{{ . }}</p>
          {{- end }}
        {{- end }}
        {{- if $singleRoleWithoutDetails }}
          {{- $titleLayout := and $firstRole.supertitle $firstRole.subtitle}}
        <h{{ add 1 $headingLevel }} class="role_title{{- if $titleLayout }} partition{{ end }}">
          {{- if $titleLayout }}
            <span class="role-supertitle">{{ $page.RenderString $firstRole.supertitle }}</span>
            <span class="role-subtitle">{{ $page.RenderString $firstRole.subtitle }}</span>
          {{- else }}
            {{- partial "vitae/render-markdown" (dict "Page" $page "Data" $firstRole.role) $page $firstRole.role }}
          {{- end }}
        </h{{ add 1 $headingLevel }}>
        {{- end }}
      </div>
      {{- if and $logoImageResource (not $singleRoleWithoutDetails) }}
      <div class="organization_logo stage_logo">
        {{- $logoImageResource = $logoImageResource.Fill $sizeSpec }}
        {{- if $org.website }}
        <a class="organization_logo_link organization_link" target="_self" href="{{ $org.website }}">
        {{- end }}
        <img class="organization_logo_image"
              src="{{ absURL $logoImageResource.Permalink }}"
              width="{{ $logoImageDisplayWidthHeight }}"
              height="{{ $logoImageDisplayWidthHeight }}"
              alt="{{ $org.organization }}">
        {{- if $org.website }}
        </a>
        {{- end }}
      </div>
      {{- end }}
    </div>

    {{- if not $singleRoleWithoutDetails }}
      {{- range $roleIdx, $role := $roleList }}

        {{- $timelineRoleClass := "" }}
        {{- if $showTimeline }}
          {{- $timelineRoleClass = "timeline_role-within" }}
          {{- if (eq $roleIdx 0) }}
            {{- $timelineRoleClass = "timeline_role-first" }}
          {{- else if (eq $roleIdx (sub (len $roleList) 1 ) ) }}
            {{- $timelineRoleClass = "timeline_role-last" }}
          {{- end }}
        {{- end }}
        {{- $topLevelClass = strings.TrimLeft " " (delimit (slice $timelineClass $timelineRoleClass $timelineOrgClass $styleClass $componentClass $childClass) " ") }}

        {{- if $stagePeriodInHeader }}
        <div class="role_header stage_header{{ with $topLevelClass }} {{ . }}{{ end }}">
          {{- if and $showTimeline (in (slice "dot-dash") $style.timeline) }}
            <span class="role-dot"></span>
          {{- end }}
        {{- end }}

          {{- if or $component.role_period $component.role_duration }}
            {{- with $role.period }}
              <div class="role_period num-roles-{{ $numRoles }} stage_period{{ if not $stagePeriodInHeader }} {{ $topLevelClass }}{{ end }}">
              {{- partial
                "vitae/_functions/date-period-duration" (dict
                "PeriodList" .
                "ShowPeriod" $component.role_period
                "ShowDuration" $component.role_duration
                "DurationFirst" $durationFirst
                "DateFormat" $dateFormat
                "Container" "span"
                "DateContainer" "span"
                "PeriodDurationSeparator" $periodDurationSeparator
                "PeriodBeginEndSeparator" $periodBeginEndSeparator
              ) -}}
              </div>
            {{- end }}
          {{- end }}

        {{- if not $stagePeriodInHeader }}
        <div class="role_header{{ with $topLevelClass }} {{ . }}{{ end }}">
        {{- end }}

          <div class="role_header_main stage_main">
            {{- $titleLayout := and $role.supertitle $role.subtitle}}
            <h{{ add 1 $headingLevel }} class="role_title{{- if $titleLayout }} partition{{ end }}">
              {{- if $titleLayout }}
                <span class="role-supertitle">{{ $page.RenderString $role.supertitle }}</span>
                <span class="role-subtitle">{{ $page.RenderString $role.subtitle }}</span>
              {{- else }}
                {{- partial "vitae/render-markdown" (dict "Page" $page "Data" $role.role) $page $role.role }}
              {{- end }}
            </h{{ add 1 $headingLevel }}>
          </div>
        </div>

        {{- if and (not $timelineForSingleRole) (ge $roleIdx (sub $numRoles 1) ) }}
          {{- $topLevelClass = strings.TrimLeft " " (delimit (slice $timelineClass $styleClass $componentClass $childClass) " ") }}
        {{- end }}
        {{- $roleSectionSeparatorParams := (dict "component" $component "headinglevel" $headingLevel "toplevelclass" $topLevelClass) }}

        {{- if default true $component.skills }}
          {{- with $role.skills }}
            <div class="role-skills{{ with $topLevelClass }} {{ . }}{{ end }}">
              {{- partial "vitae/section-experience-skills" (dict "Page" $page "Data" .) $page . }}
            </div>
          {{- end }}
        {{- end }}

        {{- if default true $component.details }}
          {{- with $role.details }}
            <div class="role-details{{ with $topLevelClass }} {{ . }}{{ end }}">
              {{- partial "vitae/render-markdown" (dict "Page" $page "Data" .) $page . }}
            </div>
          {{- end }}
        {{- end }}

        {{- if default true $component.results }}
          {{- with $role.results }}
            {{- $nestedBulletsClass := "role-results" }}
            {{- with $topLevelClass }}
              {{- $nestedBulletsClass = printf "%s %s" $nestedBulletsClass . }}
            {{- end }}
            {{- if $partialOutput }}
              {{- partial "vitae/nested-bullets" (dict "Page" $page "ChildClass" $nestedBulletsClass "PartialOutput" true "Data" .) $page . }}
            {{- else }}
              <div class="role-results{{ with $topLevelClass }} {{ . }}{{ end }}">
                {{- partial "vitae/nested-bullets" (dict "Page" $page "Data" .) $page . }}
              </div>
            {{- end }}
          {{- end }}
        {{- end }}

        {{- if default true $component.star }}
          {{- with $role.star }}
            {{- $starKeys := (slice "situation" "task" "action" "result") }}
            {{- range $starMap := . }}
              <div class="role_star_container{{ with $topLevelClass }} {{ . }}{{ end }}">
              <h{{ add $headingLevel 2 }} class="role_star_title">
                {{- default $starMap.title (T $starMap.title) -}}
              </h{{ add $headingLevel 2 }}>
              {{/* <pre>{{ jsonify (dict "indent" "  ") . }}</pre> */}}
              {{- range $key := $starKeys }}
                {{- $value := index $starMap $key }}
                {{- if reflect.IsSlice $value }}
                  {{- range $value }}
                    <div class="role_star_{{ $key }} role_star">
                      {{ page.RenderString . }}
                    </div>
                  {{- end }}
                {{- else }}
                  <div class="role_star_{{ $key }} role_star">
                    {{ page.RenderString $value }}
                  </div>
                {{- end }}
              {{- end }}
              </div>
            {{- end }}
          {{- end }}
        {{- end }}

        {{- if default true $component.responsibilities }}
          {{- with $role.responsibilities }}
            {{- partial $roleSectionSeparator (merge $roleSectionSeparatorParams (dict "section" "responsibilities") ) }}
            {{- if reflect.IsSlice . }}
              {{- range . }}
                {{- if reflect.IsMap . }}
                  {{- range $skill, $responsibility := . }}
                    <div class="role-responsibilities {{ with $topLevelClass }} {{ . }}{{ end }}">
                      <div class="skill">{{ page.RenderString $skill }}</div>
                      <div class="responsibility">{{ page.RenderString $responsibility }}</div>
                    </div>
                  {{- end }}
                {{- else }}
                  <div class="role-responsibilities{{ with $topLevelClass }} {{ . }}{{ end }}">
                    {{ page.RenderString . }}
                  </div>
                {{- end }}
              {{- end }}
            {{- else }}
              <div class="role-responsibilities{{ with $topLevelClass }} {{ . }}{{ end }}">
                {{ page.RenderString . }}
              </div>
            {{- end }}
          {{- end }}
        {{- end }}
        {{- with $role.achievements }}
          {{- if default true $component.achievements }}
            {{- partial $roleSectionSeparator (merge $roleSectionSeparatorParams (dict "section" "achievements") ) }}
            {{- $roleAchievementsClass := "role-achievements" }}
            {{- with $topLevelClass }} {{ $roleAchievementsClass = printf "%s %s" $roleAchievementsClass . }}{{ end }}
            {{- if $partialOutput }}
              {{- partial "vitae/role-achievements" (dict "Page" $page "ChildClass" $roleAchievementsClass "PartialOutput" true "Data" .) $page . }}
            {{- else }}
              <div class="role-achievements{{ with $topLevelClass }} {{ . }}{{ end }}">
                {{- partial "vitae/role-achievements" (dict "Page" $page "Data" .) $page . }}
              </div>
            {{- end }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- define "partials/role-section-separator.html" }}
          {{- if .component.headings }}

            <h{{- (add 2 .headinglevel) }} class="role-section-heading{{ with .toplevelclass }} {{ . }}{{ end }}">
              <span>{{ page.RenderString (T (printf "section_title_%s" .section ) ) }}</span><span class="separator-line"></span>
            </h{{- (add 2 .headinglevel) }}>
          {{- end }}
{{- end }}
