{{- $page := .Page -}}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $componentClass := default "component_stages" .ComponentClass }}
{{- $childClass := default "" .ChildClass }}
{{- $template := "vitae/_components/stages" }}

{{- $component := .Component }}

{{- $debug := false }}
{{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?devel/$` $page.RelPermalink) ) ) -}} */}}

{{- $style := default dict .Style }}
{{- $validStyles := (dict
  "layout" (dict
    "shallow" "shallow"
    "narrow" "narrow"
    "inline" (dict
      "inline" (dict
        "header" true
      )
    )
  )
  "ats" (dict
    "true" (dict
      "inline" (dict
        "header" true
        "content" true
        "role" true
      )
    )
  )
  "inline" (dict
    "header" (dict
      "ANY_BOOL" true
    )
    "content" (dict
      "ANY_BOOL" true
    )
    "role" (dict
      "ANY_BOOL" true
    )
  )
  "date" (dict
    "year" "year"
    "month" "month"
    "true" "default"
  )
  "timeline" (dict
    "false" false
    "true" "column"
    "column" "column"
    "dot-dash" "dot-dash"
  )
  "heading" (dict
    "normal" "normal"
    "larger-2" "larger-2"
    "smaller-1" "smaller-1"
  )
  "logo" (dict
    "false" false
    "true" "left"
    "left" "left"
  )
  "label" (dict
    "unit" (dict
      "ANY_BOOL" true
    )
    "function" (dict
      "ANY_BOOL" true
    )
  )
  "separate_roles" (dict
    "ANY_BOOL" true
  )
) -}}

{{- $mergedStyle := partial "vitae/_functions/style-class" (dict
  "Template" $template
  "MergedStyle" .MergedStyle
  "ValidStyles" $validStyles
  ) -}}
{{- if and false $debug }}
  {{- warnf "%s[%s]: After style-class:\nmergedStyle=%v" $page $template
      (jsonify (dict "indent" "  ") $mergedStyle) -}}
{{- end }}

{{- $mergedStyleNew := false }}
{{- with .MergedStyleNew }}
  {{- $validStylesNew := (dict
    "ats" (dict
      "true" (dict
        "inline" (dict
          "header" true
          "content" true
          "role" true
        )
      )
    )
    "layout" (slice
      "shallow"
      "narrow"
      (dict
        "inline" (dict
          "inline" (dict
            "header" true
          )
        )
      )
    )
    "inline" (dict
      "header" "ANY_BOOL"
      "content" "ANY_BOOL"
      "role" "ANY_BOOL"
    )
    "date" (dict
      "year" "year"
      "month" "month"
      "true" "default"
    )
    "timeline" (dict
      "false" false
      "true" "column"
      "column" "column"
      "dot-dash" "dot-dash"
    )
    "heading" (dict
      "normal" "normal"
      "larger-2" "larger-2"
      "smaller-1" "smaller-1"
    )
    "logo" (dict
      "false" false
      "true" "left"
      "left" "left"
    )
    "label" (dict
      "unit" "ANY_BOOL"
      "function" "ANY_BOOL"
    )
    "separate_roles" "ANY_BOOL"
  ) -}}

  {{- $mergedStyleNew = partial "vitae/_functions/style-merged" (dict
    "Template" $template
    "MergedStyle" .
    "ValidStyles" $validStylesNew
  ) -}}
  {{- if $debug }}
    {{- warnf "%s[%s]: .MergedStyleNew=%v\n.ValidStylesNew=%v\n\nAfter style-merged:\nmergedStyle=%v\nmergedStyleNew=%v" $page $template
        (jsonify (dict "indent" "  ") .MergedStyleNew)
        (jsonify (dict "indent" "  ") $validStylesNew)
        (jsonify (dict "indent" "  ") $mergedStyle)
        (jsonify (dict "indent" "  ") $mergedStyleNew) -}}
    {{/* {{- warnf "%s[%s]: After style-merged:\nmergedStyle=%v\nmergedStyleNew=%v" $page $template
        (jsonify (dict "indent" "  ") (merge $mergedStyle (dict "ValidStyles" nil)))
        (jsonify (dict "indent" "  ") (merge $mergedStyleNew (dict "ValidStyles" nil))) -}} */}}
  {{- end }}
  {{- $mergedStyle = $mergedStyleNew }}
{{- end }}

{{- $style := $mergedStyle.Style }}
{{- $styleClassList := $mergedStyle.StyleClass }}

{{- $renderOptInline := dict "display" "inline" }}
{{- $renderOptBlock := dict "display" "block" }}

{{- $inlineSeparatorStr := trim $style.inline_separator "  " | default "•" }}
{{- $roleHeaderSeparatorStr := trim $style.role_header_separator `  ` | default "|" }}
{{- $stageMetaSeparatorStr := trim $style.stage_meta_separator `  ` | default "•" }}

{{- if $debug }}
  {{- warnf "%s[%s]: inlineSeparatorStr=%v [type=%T] roleHeaderSeparatorStr=%v [type=%T] stageMetaSeparatorStr=%v [type=%T]"
      page $template $inlineSeparatorStr $inlineSeparatorStr
      $roleHeaderSeparatorStr $roleHeaderSeparatorStr $stageMetaSeparatorStr $stageMetaSeparatorStr
  -}}
{{- end }}

{{- $timelineBaseClass := "timeline" }}

{{- $timelineForSingleRole := false }}
{{- $durationFirst := false }}
{{- $periodDurationSeparator := "" }}
{{- $periodBeginEndSeparator := "–" }}
{{- with $style }}
  {{- with .timeline }}
    {{- if eq . "dot-dash" }}
      {{- $durationFirst = true }}
    {{- else if eq . "column" }}
      {{- $timelineForSingleRole = true }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $separateRoles := $style.separate_roles }}

{{- $defaultDateFormat := (dict
    "default" "Jan 2006"
    "year" "2006"
    "month" "Jan 2006"
) -}}

{{- $inlineHeader := false }}
{{- $inlineContent := false }}
{{- $inlineRoleHeader := false }}

{{- $dateFormat := $defaultDateFormat.default }}
{{- with $component.date_format }}
  {{- $dateFormat = string $component.date_format }}
{{- else }}
  {{- with $style.date }}
    {{- if eq . "year" }}
      {{- $dateFormat = $defaultDateFormat.year }}
    {{- else if eq . "month" }}
      {{- $dateFormat = $defaultDateFormat.month }}
    {{- else }}
      {{- $dateFormat = $defaultDateFormat.default }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $inlineHeader = $style.inline.header | default (eq $style.ats true) | default false }}
{{- $inlineContent = $style.inline.content | default (eq $style.ats true) | default false }}
{{- $inlineRoleHeader = $style.inline.role | default (eq $style.ats true) | default false }}
{{- $roleMetaInHeader := $inlineHeader }}
{{- $organizationMetaInHeader := $inlineHeader }}

{{- $homeCountry := default "USA" .Data.features.contact.print.address.country }}

{{- $periodDurationParams := (dict
  "DurationFirst" $durationFirst
  "DateFormat" $dateFormat
  "Container" "span"
  "DateContainer" "span"
  "PeriodDurationSeparator" $periodDurationSeparator
  "PeriodBeginEndSeparator" $periodBeginEndSeparator
) -}}

{{- $inlinePartialParams := (dict
  "Style" $style
  "Component" $component
  "HeadingLevel" $headingLevel
  "InlineHeader" $inlineHeader
  "HomeCountry" $homeCountry
  "InlineSeparatorStr" $inlineSeparatorStr
  "RoleHeaderSeparatorStr" $roleHeaderSeparatorStr
  "StageMetaSeparatorStr" $stageMetaSeparatorStr
"PeriodDurationParams" $periodDurationParams
) -}}

{{- $showOrganizationPeriod := default true $component.organization.period }}
{{- $showOrganizationDuration := default false $component.organization.duration }}
{{- if $separateRoles }}
  {{- $showOrganizationPeriod = false }}
  {{- $showOrganizationDuration = false }}
{{- end }}

{{- $showRolePeriod := default true $component.role.period }}
{{- $showRoleDuration := default false $component.role.duration }}

{{- $filterField := default "type" $component.filter_by -}}
{{- $filterMatch := default "professional" $component.filter_value -}}

{{- $orgListRaw := (index .Data (default $component.component $component.collection) ) }}
{{- $orgList := slice }}
{{- range $org := $orgListRaw }}
  {{- with .roles }}
    {{- $roleList := where . $filterField $filterMatch }}
    {{- if gt (len $roleList) 0 }}
      {{- $orgList = append (merge $org (dict "roles" $roleList)) $orgList }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $numOrgs := 0 }}
{{- $singleOrg := false }}
{{- with $orgList }}
  {{- $numOrgs = len $orgList }}
  {{- $singleOrg = eq $numOrgs 1 }}
{{- end }}

{{- range $orgIdx, $org := $orgList }}

  {{- $roleList := $org.roles }}
  {{- $numRoles := (len $roleList) }}

  {{- $orgClass := "" }}
  {{- $timelineOrgClass := "" }}

  {{- if (gt $numRoles 0) }}
    {{- $firstRole := index $roleList 0 }}
    {{- $roleHasDetails := false }}
    {{- with $firstRole }}
      {{- $roleHasDetails = or .details .summary .description .achievements .star .results .responsibilities_deprecated }}
    {{- end }}
    {{- if $singleOrg }}
      {{- $timelineOrgClass = "org_single" }}
    {{- else if (eq $orgIdx 0) }}
      {{- $timelineOrgClass = "org_first" }}
    {{- else if (eq $orgIdx (sub $numOrgs 1 ) ) }}
      {{- $timelineOrgClass = "org_last" }}
    {{- end }}

    {{- $singleRole := eq (len $roleList) 1}}
    {{- $roleHeaderInOrganizationHeader := and $singleRole $inlineRoleHeader }}

    {{- $logoImageRoot := "images/organization-logos" }}
    {{- $logoImageResource := false }}
    {{- if eq "left" $style.logo }}
      {{- /* Use urlize to sanitize organization name */ -}}
      {{- $imgAssetID := printf "%s/%s*" $logoImageRoot (anchorize $org.organization) -}}
      {{- with partial "claris/_functions/resources/images/image-resource" (dict "Page" $page "resource" $imgAssetID) }}
        {{- $logoImageResource = . }}
      {{- else }}
        {{- warnf "%s[%s]: organization=%s: logo '%s' not found"
            $page $template $org.organization $imgAssetID }}
      {{- end }}
    {{- end }}

    {{- $stageHeaderClassPrefix := "stage_header" }}
    {{- $organizationHeaderContainer := "div" }}
    {{- $organizationHeaderClassList := slice "organization_header" }}

    {{- $topLevelClass := strings.TrimLeft " " (delimit (append $styleClassList (slice $orgClass $timelineOrgClass $componentClass $childClass)) " ") }}

    {{- if not $separateRoles }}
      {{- $organizationHeaderClassList = append "stage_header" $organizationHeaderClassList }}
    {{- end }}

    {{- if $showOrganizationPeriod }}
      {{- $organizationHeaderClassList = append (printf "%s_period" $stageHeaderClassPrefix) $organizationHeaderClassList }}
    {{- end }}
    {{- if $showOrganizationDuration }}
      {{- $organizationHeaderClassList = append (printf "%s_duration" $stageHeaderClassPrefix) $organizationHeaderClassList }}
    {{- end }}
    {{- if $logoImageResource }}
      {{- $organizationHeaderClassList = append (printf "%s_logo" $stageHeaderClassPrefix) $organizationHeaderClassList }}
    {{- end }}

    {{- if not $separateRoles }}
      {{- $organizationHeaderClassList = append $topLevelClass $organizationHeaderClassList }}
    {{- end }}

    {{- $organizationHeaderParams := (merge $inlinePartialParams (dict
        "Page" $page
        "Style" $style
        "Container" $organizationHeaderContainer
        "TopLevelClass" $topLevelClass
        "PeriodDurationParams" (merge $periodDurationParams (dict
          "ShowPeriod" $showOrganizationPeriod
          "ShowDuration" $showOrganizationDuration
        ))
        "RoleHeaderInOrganizationHeader" $roleHeaderInOrganizationHeader
        "OrganizationMetaInHeader" $organizationMetaInHeader
        "RoleMetaInHeader" $roleMetaInHeader
        "Organization" $org
        "LogoImageResource" $logoImageResource
      )
    ) -}}

    {{- range $roleIdx, $role := $roleList }}

      {{- $roleClass := "role_single" }}
      {{- if gt $numRoles 1 }}
        {{- if (eq $roleIdx 0) }}
          {{- $roleClass = "role_first" }}
        {{- else if (eq $roleIdx (sub (len $roleList) 1 ) ) }}
          {{- $roleClass = "role_last" }}
        {{- else }}
          {{- $roleClass = "role_within" }}
        {{- end }}
      {{- end }}

      {{- if $separateRoles }}
        {{ partial "html-comment" (printf "%s: separateRoles=%v: OPEN stage_header and organization_header"
            $template $separateRoles ) }}
        <div class="stage_header {{ $topLevelClass }}">
          <div class="{{ delimit $organizationHeaderClassList ` ` }}">
            {{- partial "organization_header.html" $organizationHeaderParams }}
          </div>
      {{- else if (eq $roleIdx 0) }}
        {{ partial "html-comment" (printf "%s: roleIdx=%v: OPEN organization_header"
            $template $separateRoles ) }}
        {{- if $roleHeaderInOrganizationHeader }}
          {{- $topLevelClass = printf "%s %s" $topLevelClass $roleClass }}
          {{- $organizationHeaderParams = merge $organizationHeaderParams (dict "Role" $role "TopLevelClass" $topLevelClass) }}
        {{- end }}
        <div class="{{ delimit $organizationHeaderClassList ` ` }}">
          {{- partial "organization_header.html" $organizationHeaderParams }}
        {{- if not $roleHeaderInOrganizationHeader }}
        {{ partial "html-comment" (printf "%s: roleHeaderInOrganizationHeader=%v: CLOSE organization_header"
            $template $roleHeaderInOrganizationHeader ) }}
        </div>
        {{- if not $organizationMetaInHeader }}
          {{ partial "stage_meta" (merge $ (dict
            "Organization" $org
            "StageType" "organization"
            "TopLevelClass" $topLevelClass
            "Style" $style
            "Template" $template
          ) ) -}}
        {{- end }}

        {{- end }}

      {{- end }}

      {{- $roleHeaderContainer := "div" }}
      {{- $roleHeaderClassList := slice "role_header" }}

      {{- if $roleHeaderInOrganizationHeader }}
        {{- $roleHeaderContainer = false }}
      {{- else }}

        {{- $topLevelClass = strings.TrimLeft " " (delimit (append $styleClassList (slice $roleClass $timelineOrgClass $componentClass $childClass)) " ") }}

        {{- if and (not $timelineForSingleRole) (ge $roleIdx (sub $numRoles 1) ) }}
          {{- $topLevelClass = strings.TrimLeft " " (delimit (append $styleClassList (slice $roleClass $componentClass $childClass)) " ") }}
        {{- end }}

        {{- if not $separateRoles }}
          {{- $roleHeaderClassList = append (slice "stage_header" $topLevelClass) $roleHeaderClassList }}
        {{- end }}

        {{- if $showRolePeriod }}
          {{- $roleHeaderClassList = append (printf "%s_period" $stageHeaderClassPrefix) $roleHeaderClassList }}
        {{- end }}
        {{- if $showRoleDuration }}
          {{- $roleHeaderClassList = append (printf "%s_duration" $stageHeaderClassPrefix) $roleHeaderClassList }}
        {{- end }}
      {{- end }}

      {{- $roleHeaderParams := (merge $inlinePartialParams (dict
          "Page" $page
          "Style" $style
          "Container" $roleHeaderContainer
          "TopLevelClass" $topLevelClass
          "PeriodDurationParams" (merge $periodDurationParams (dict
            "ShowPeriod" (and $showRolePeriod (not $roleHeaderInOrganizationHeader))
            "ShowDuration" (and $showRoleDuration (not $roleHeaderInOrganizationHeader))
          ))
          "RoleMetaInHeader" $roleMetaInHeader
          "Organization" $org
          "Role" $role
        )
      ) -}}

      {{- if not $roleHeaderInOrganizationHeader }}
        {{ partial "html-comment" (printf "%s: roleHeaderInOrganizationHeader=%v: OPEN role_header"
            $template $roleHeaderInOrganizationHeader ) }}
        <div class="{{ delimit $roleHeaderClassList ` ` }}">
          {{- partial "role_header.html" $roleHeaderParams -}}
        {{ partial "html-comment" (printf "%s: roleHeaderInOrganizationHeader=%v: CLOSE role_header"
            $template $roleHeaderInOrganizationHeader ) }}
        </div>
        {{- if $separateRoles }}
        {{ partial "html-comment" (printf "%s: separateRoles=%v: CLOSE stage_header"
            $template $separateRoles ) }}
        </div>
        {{- end }}
      {{- end }}

      {{- if $roleHeaderInOrganizationHeader }}
      {{ partial "html-comment" (printf "%s: roleHeaderInOrganizationHeader=%v: CLOSE organization_header" $template $roleHeaderInOrganizationHeader ) }}
      </div>
      {{- else }}
        {{- if not $roleMetaInHeader }}
          {{- partial "stage_meta" (merge $inlinePartialParams (dict
            "Organization" $org
            "Role" $role
            "StageType" "role"
            "TopLevelClass" $topLevelClass
            "Style" $style
            "Template" $template
          ) ) -}}
        {{- end }}
      {{- end }}

      {{- $containerClass := "stage_content" }}
      {{- if in (slice "dot-dash") $style.timeline }}
        {{- $containerClass = "" }}
      {{- end }}

      {{- if default true $component.role.achievements }}
        {{- with $role.achievements }}
          {{- range $achievementIndex, $achievement := . }}
            {{- with $containerClass }}
              <div class="{{ $containerClass }} {{ $topLevelClass }}">
              {{- if $style.timeline }}
                <div class="stage_timeline"></div>
              {{- end }}
            {{- end }}
            {{- if $inlineContent }}
              <div class="role_achievement_main stage_main{{ with (and (not $containerClass) $topLevelClass) }} {{ . }}{{ end }}">
                {{- $bullets := false }}
                {{- with $achievement.lead }}
                  {{- $bullets = . }}
                {{- else }}
                  {{- with $achievement.title }}
                    {{- $bullets = . }}
                  {{- end }}
                {{- end }}
                {{- with $bullets }}
                  {{- if strings.Contains . `**` }}
                    {{- $bullets = . }}
                  {{- else }}
                    {{- $bullets = printf "**%s**" . -}}
                  {{- end }}
                {{- end }}
                {{- with $achievement.content }}
                  {{- if reflect.IsSlice . }}
                    {{- /* If .lead exists, it must express the same as the first item in .content */ -}}
                    {{- if $achievement.lead }}
                      {{- $bullets = append (last (sub (len .) 1) .) (slice $bullets) -}}
                    {{- else }}
                      {{- $bullets = append . (slice $bullets) -}}
                    {{- end }}
                  {{- else }}
                    {{- if $bullets }}
                      {{- $bullets = printf "* %s\n%s" $bullets . -}}
                    {{- else }}
                      {{- $bullets = . }}
                    {{- end }}
                  {{- end }}
                {{- end }}
                {{- with $bullets }}
                  {{- partial "render_string_slice" . }}
                {{- end }}
              </div>
            {{- else }}
              <div class="role_achievement_header stage_header{{ with (and (not $containerClass) $topLevelClass) }} {{ . }}{{ end }}">
                <h{{ add $headingLevel 2 }} class="role_achievement_title">
                  {{-  page.RenderString $achievement.title -}}
                </h{{ add $headingLevel 2 }}>
                {{- /* <pre>{{ jsonify (dict "indent" "  ") . }}</pre> */ -}}
              </div>
              <div class="role_achievement_main stage_main{{ with (and (not $containerClass) $topLevelClass) }} {{ . }}{{ end }}">
                {{- with $achievement.content }}
                  {{- partial "render_string_slice" . }}
                {{- end }}
              </div>
            {{- end }}
            {{- with $containerClass }}
              </div>
            {{- end }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- define "partials/organization_header.html" }}
  {{- $template := "vitae/_components/stages/organization_header" }}
  {{- $page := .Page -}}
  {{- $style := .Style }}
  {{- $headingLevel := .HeadingLevel }}
  {{- $component := .Component }}
  {{- $topLevelClass := .TopLevelClass }}

  {{- $container := .Container }}
  {{- $roleHeaderInOrganizationHeader := .RoleHeaderInOrganizationHeader }}
  {{- $organizationMetaInHeader := .OrganizationMetaInHeader }}
  {{- $roleHeaderSeparatorStr := .RoleHeaderSeparatorStr }}

  {{- $org := .Organization }}
  {{- $role := .Role }}

  {{- $debug := false }}
  {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?preview` $page.RelPermalink) ) ) -}}

  {{- $showOrganizationPeriod := .PeriodDurationParams.ShowPeriod }}
  {{- $showOrganizationDuration := .PeriodDurationParams.ShowDuration }}

  {{- $showOrganizationRemark := default false $component.organization.remark }}

  {{- $roleList := $org.roles }}
  {{- $numRoles := (len $roleList) }}

  {{- $logoImageResource := .LogoImageResource }}

  {{ partial "html-comment" (printf "%s: BEGIN organization_header" $template ) }}

  {{- if and (not (in (slice "left") $style.logo)) (in (slice "dot-dash" "column") $style.timeline) }}
      <div class="{{ printf `timeline_%s_marker stage_timeline` $style.timeline }}"></div>
  {{- end }}

  {{- if or $showOrganizationPeriod $showOrganizationDuration }}
    {{- with $org.roles }}
      <div class="organization_period stage_period">
          {{- partial
            "vitae/_functions/date-period-duration" (merge $.PeriodDurationParams (dict
            "PeriodList" .
          )
        ) -}}</div>
    {{- end }}
  {{- end }}
  {{- with $container }}
    {{ printf `<%s class="%s">` $container "organization_header_main stage_main" | safeHTML }}
  {{- end }}
  <h{{ $headingLevel }} class="organization_title">
  {{- if $org.website }}
    <a class="organization_link" target="_self" href="{{ $org.website }}">
  {{- end -}}
  {{ $org.organization }}
  {{- with and $showOrganizationRemark $org.remark }}
    {{/* include a newline */}}
    <span class="remark">({{ page.RenderString . }})</span>
  {{- end -}}
  {{- if $org.website -}}
    </a>
  {{- end }}
  </h{{ $headingLevel }}>

  {{- if $roleHeaderInOrganizationHeader }}
    {{ safeHTML $roleHeaderSeparatorStr }}
    {{- $roleHeaderParams := (merge $ (dict
        "Container" false
        "TopLevelClass" false
        "PeriodDurationParams" (merge $.PeriodDurationParams (dict
          "ShowPeriod" false
          "ShowDuration" false
        ))
        "RoleMetaInHeader" $.RoleMetaInHeader
        "Organization" $org
        "Role" $role
      )
    ) -}}

    {{- $roleHeaderClassList := slice "role_header role_header_in_organization_header" }}
    {{ partial "html-comment" (printf "%s: roleHeaderInOrganizationHeader=%v: OPEN role_header"
        $template $roleHeaderInOrganizationHeader ) }}
    <div class="{{ delimit $roleHeaderClassList ` ` }}">
      {{- partial "role_header.html" $roleHeaderParams -}}
    {{ partial "html-comment" (printf "%s: roleHeaderInOrganizationHeader=%v: CLOSE role_header"
        $template $roleHeaderInOrganizationHeader ) }}
    </div>
  {{- end }}

  {{- if $organizationMetaInHeader }}
    {{ partial "stage_meta" (merge $ (dict
      "Organization" $org
      "Role" nil
      "Style" $style
      "TopLevelClass" false
      "Template" $template
    ) ) -}}
  {{- end }}

  {{- with $container }}
    {{ printf `</%s>` . | safeHTML }}
  {{- end }}

  {{- if $logoImageResource }}
    {{- $logoImageWidthHeight := 96 }}
    {{- $logoImageDisplayWidthHeight := 48 }}
    {{- $sizeSpec := printf "%dx%d center png" (int $logoImageWidthHeight) (int $logoImageWidthHeight) }}
    <div class="stage_logo">
      {{- $logoImageResource = $logoImageResource.Fill $sizeSpec }}
      {{- if $org.website }}
      <a class="organization_logo_link organization_link" target="_self" href="{{ $org.website }}">
      {{- end }}
      <img class="stage_logo_img"
            src="{{ absURL $logoImageResource.Permalink }}"
            width="{{ $logoImageDisplayWidthHeight }}"
            height="{{ $logoImageDisplayWidthHeight }}"
            alt="{{ $org.organization }}">
      {{- if $org.website }}
      </a>
      {{- end }}
    </div>
  {{- end }}
  {{ partial "html-comment" (printf "%s: END organization_header" $template ) }}
{{- end }}

{{- define "partials/role_header.html" }}
  {{- $template := "vitae/_components/stages/role_header" }}
  {{- $page := .Page -}}
  {{- $style := .Style }}
  {{- $headingLevel := .HeadingLevel }}
  {{- $component := .Component }}
  {{- $container := .Container }}

  {{- $topLevelClass := .TopLevelClass }}
  {{- $org := .Organization }}
  {{- $role := .Role }}
  {{- $roleHeaderInOrganizationHeader := .RoleHeaderInOrganizationHeader }}
  {{- $roleMetaInHeader := .RoleMetaInHeader }}
  {{- $inlineSeparatorStr := .InlineSeparatorStr }}

  {{- $debug := false }}
  {{- /* $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?preview` $page.RelPermalink) ) ) */ -}}

  {{- $showRolePeriod := .PeriodDurationParams.ShowPeriod }}
  {{- $showRoleDuration := .PeriodDurationParams.ShowDuration }}

  {{- $roleList := $org.roles }}
  {{- $numRoles := (len $roleList) }}

  {{- $showRoleRemark := default false $component.role.remark }}
  {{- $showRoleAppendix := default false $component.role.appendix }}

  {{ partial "html-comment" (printf "%s: BEGIN role_header" $template ) }}
  {{- if and (not $roleHeaderInOrganizationHeader) (in (slice "dot-dash" "column") $style.timeline) (or $style.logo (not (eq $numRoles 1))) }}
    <div class="{{ printf `timeline_%s_marker stage_timeline` $style.timeline }}"></div>
  {{- end }}

  {{- if or $showRolePeriod $showRoleDuration }}
    {{- with $role.period }}
      <div class="role_period stage_period">
        {{- partial
          "vitae/_functions/date-period-duration" (merge $.PeriodDurationParams (dict
          "PeriodList" .
          "ShowPeriod" $showRolePeriod
          "ShowDuration" $showRoleDuration
          )
        ) -}}</div>
    {{- end }}
  {{- end }}

  {{- with $container }}
    {{ printf `<%s class="%s">` $container "role_header_main stage_main" | safeHTML }}
  {{- end }}
  <h{{ add 1 $headingLevel }} class="role_title{{ if $role.supertitle }} supertitle{{ end }}{{ if $role.subtitle }} subtitle{{ end }}">
    {{- with $role.supertitle }}
      <span class="role_supertitle">{{ $page.RenderString . }}</span>
    {{- end }}
    {{- $page.RenderString $role.role }}
    {{- with $role.subtitle }}
      <span class="role_subtitle">{{ $page.RenderString . }}</span>
    {{- end }}
    {{- with and $showRoleRemark $role.remark }}
      {{/* include a newline */}}
      <span class="remark">({{ page.RenderString . }})</span>
    {{- end -}}
  </h{{ add 1 $headingLevel }}>
  {{- with and $showRoleAppendix $role.appendix }}
    {{- /* <span class="appendix">{{- with $inlineSeparatorStr }} {{ . }} {{ end }}{{ page.RenderString . }}</span> */ -}}
    {{/* Include a newline */}}
    <span class="appendix">({{ page.RenderString . }})</span>
  {{- end -}}
  {{- if $roleMetaInHeader }}
    {{ partial "stage_meta" (merge $ (dict
      "Organization" $org
      "Role" $role
      "StageType" "role"
      "Style" $style
      "TopLevelClass" false
      "Template" $template
    ) ) -}}
  {{- end }}
  {{- with $container }}
    {{ printf `</%s>` . | safeHTML }}
  {{- end }}
  {{ partial "html-comment" (printf "%s: END   role_header" $template ) }}
{{- end }}

{{- define "partials/stage_meta.html" }}
  {{- $style := .Style }}
  {{- $component := .Component }}
  {{- $topLevelClass := .TopLevelClass }}
  {{- $template := .Template }}

  {{- $org := .Organization }}
  {{- $role := .Role }}
  {{- $stage := default $org $role }}
  {{- $stageType := cond (not (not .Role)) "role" "organization" }}
  {{- $componentStageType := index .Component $stageType }}

  {{- $inlineHeader := .InlineHeader }}
  {{- $homeCountry := .HomeCountry }}
  {{- $orgLocationStr := default "" .OrganizationLocationStr }}
  {{- $stageMetaSeparatorStr := .StageMetaSeparatorStr }}
  {{- $stageUnitSeparatorStr := default ", " .StageUnitSeparatorStr }}
  {{- $stageLocationSeparatorStr := default ", " .StageLocationSeparatorStr }}
  {{- $unitSeparatorStr := ", " }}

  {{- $debug := true }}

  {{- $metaConfig := (dict
    "function" (and $stage.function (default false (default $component.function $componentStageType.function)) )
    "unit" (and $stage.unit (default true (default $component.unit $componentStageType.unit)) )
    "location" (and $stage.location (default true (default $component.location $componentStageType.location)) )
    "details" (and $stage.details (default true (default $component.details $componentStageType.details)) )
  ) -}}

  {{- if and false $debug }}
    {{- warnf "%s[%s]: metaConfig.unit=%v[%T] component.unit=%v[%T] componentStageType=%v[%T]"
        page $template
        $metaConfig.unit $metaConfig.unit
        $component.unit $component.unit
        $componentStageType.unit $componentStageType.unit }}
  {{- end }}

  {{- $childContainer := "span" }}
  {{- if $topLevelClass }}
    {{- $childContainer = "p" }}
  {{- end }}
  {{- $markup := "" }}

  {{- if or $metaConfig.function
      $metaConfig.unit
      $metaConfig.location
      $metaConfig.details -}}

        {{- if or $metaConfig.function $metaConfig.unit $metaConfig.location }}
          {{- $functionUnitLocationMarkup := "" }}
          {{- $stageFunctionMarkup := "" }}
          {{- $stageUnitMarkup := "" }}
          {{- $stageLocationMarkup := "" }}

          {{- if $metaConfig.function }}
            {{- with $stageFunction := $stage.function }}
              {{- if or (eq $stage $org) (not (default true $org.function) ) (ne $stage.function $org.function) }}
                {{- with and $style.label.function (default "function" (T "stage_function_label") ) }}
                  {{- $stageFunctionMarkup = printf `<span class="stage_function_label">%s:</span> <span class="stage_function">%s</span>`
                      (strings.FirstUpper . ) $stageFunction }}
                {{- else }}
                  {{- $stageFunctionMarkup = printf `<span class="stage_function">%s</span>` (strings.FirstUpper . ) }}
                {{- end }}
              {{- end }}
            {{- end }}
            {{- with $stageFunctionMarkup }}
              {{- $functionUnitLocationMarkup = printf `%s<span class="stage_function">%s</span>` $functionUnitLocationMarkup . }}
            {{- end }}
          {{- end }}

          {{- if $metaConfig.unit }}
            {{- /* {{- warnf "%s[%s]: org.unit=%v division=%v %v org=%v department=%v %v org=%v"
                page $template (default true $org.unit)
                $stage.division (cond (eq $stage.division $org.division) "==" "!=") $org.division
                $stage.department (cond (eq $stage.department $org.department) "==" "!=") $org.department }} */ -}}
            {{- $configUnitLimit := 99 }}
            {{- $configUnitType:= false }}
            {{- if reflect.IsMap $metaConfig.unit }}
              {{- with $metaConfig.unit.limit }}
                {{- with cond (eq (printf "%T" .) "int") (int .) 99 }}
                  {{- $configUnitLimit = . }}
                {{- end }}
              {{- end }}
              {{- with $metaConfig.unit.type }}
                {{- $configUnitType = . }}
              {{- end }}
            {{- end }}
            {{- if or (eq $stage $org) (not (default true $org.unit) ) (ne $stage.unit $org.unit) }}
              {{- with $stage.unit }}
                {{- $stageUnitList := . }}
                {{- if reflect.IsMap . }}
                  {{- $stageUnitList = slice . }}
                {{- end }}
                {{- if reflect.IsSlice . }}
                  {{- if and false $debug }}
                    {{- if (gt (len .) $configUnitLimit) }}
                      {{- warnf "%s[%s]: metaConfig.unit=%v[%T]: only showing %d of %d organizational units"
                          page $template $metaConfig.unit $metaConfig.unit $configUnitLimit (len .) }}
                    {{- end }}
                  {{- end }}
                  {{- $orgUnit := false }}
                  {{- range $unitIndex, $stageUnit := first $configUnitLimit . }}
                    {{- if ne $stage $org }}
                      {{- with $orgUnit = index $org.unit $unitIndex }}
                      {{- else }}
                        {{- $orgUnit = false }}
                      {{- end }}
                    {{- end }}
                    {{- if reflect.IsMap $stageUnit }}
                      {{- range $unitType, $unitName := $stageUnit }}
                        {{- if eq $stageUnit $orgUnit }}
                        {{- else }}
                          {{- if and $unitSeparatorStr $stageUnitMarkup }}
                            {{- $stageUnitMarkup = printf `%s%s` $stageUnitMarkup $unitSeparatorStr }}
                          {{- end }}
                          {{- $stageUnitMarkup = printf `%s<span class="stage_unit">%s</span>` $stageUnitMarkup $unitName}}
                          {{- if $configUnitType }}
                            {{- with default $unitType (T (printf "stage_unit_type_%s" $unitType) ) }}
                              {{- $stageUnitMarkup = printf `%s <span class="stage_unit_label">%s</span>` $stageUnitMarkup . }}
                            {{- end }}
                          {{- end }}
                        {{- end }}
                      {{- end }}
                    {{- else }}
                      {{- if and $unitSeparatorStr $stageUnitMarkup }}
                        {{- $stageUnitMarkup = printf `%s%s` $stageUnitMarkup $unitSeparatorStr }}
                      {{- end }}
                      {{- $stageUnitMarkup = printf `%s<span class="stage_unit">%s</span>` $stageUnitMarkup $stageUnit }}
                    {{- end }}
                  {{- end }}
                {{- else }}
                  {{- if and $unitSeparatorStr $stageUnitMarkup }}
                    {{- $stageUnitMarkup = printf `%s%s` $stageUnitMarkup $unitSeparatorStr }}
                  {{- end }}
                  {{- $stageUnitMarkup = printf `%s<span class="stage_unit">%s</span>` $stageUnitMarkup . }}
                {{- end }}
              {{- end }}

              {{- with $stageUnitMarkup }}
                {{- if $stageFunctionMarkup }}
                  {{- $functionUnitLocationMarkup = printf `%s%v` $functionUnitLocationMarkup $stageUnitSeparatorStr }}
                {{- end }}
                {{- with and $style.label.unit (default "unit" (T "unit") ) }}
                  {{- $functionUnitLocationMarkup = printf `%s<span class="stage_unit_label">%s:</span> `
                      $functionUnitLocationMarkup (strings.FirstUpper . ) }}
                {{- end }}
                {{- $functionUnitLocationMarkup = printf `%s%s` $functionUnitLocationMarkup (strings.FirstUpper . ) }}
              {{- end }}
            {{- end }}
          {{- end }}

          {{- if $metaConfig.location }}
            {{- with $org.location }}
              {{- $orgLocationStr = printf "%s" . }}
              {{- with $org.country }}
                {{- if ne $org.country $homeCountry }}
                  {{- $orgLocationStr = printf "%s, %s" $orgLocationStr . }}
                {{- end }}
              {{- end }}
            {{- end }}
            {{- with $stage.location }}
              {{- $stageLocationMarkup = printf "%s" . }}
              {{- with $stage.country }}
                {{- if ne $stage.country $homeCountry }}
                  {{- $stageLocationMarkup = printf "%s, %s" $stageLocationMarkup . }}
                {{- end }}
              {{- end }}
            {{- end }}
            {{- if not (and $role (eq $stageLocationMarkup $orgLocationStr)) }}
              {{- with $stageLocationMarkup }}
                {{- $functionUnitLocationMarkup = printf `%s<span class="stage_location">%s%s</span>` $functionUnitLocationMarkup (cond (not (not $stageUnitMarkup)) $stageLocationSeparatorStr "") . }}
              {{- end }}
            {{- end }}
          {{- end }}
          {{- with $functionUnitLocationMarkup }}
            {{- $markup = printf `%s<%s class="stage_function_unit_location">%s</%s>` $markup $childContainer . $childContainer }}
          {{- end }}
        {{- end }}

        {{- if $metaConfig.details }}
          {{- with $stage.details }}
            {{- $markup = printf `%s<%s class="stage_details">%s</%s>` $markup $childContainer (partial "render_string_slice" .) $childContainer }}
          {{- end }}
        {{- end }}

    {{- with $markup }}
      {{- if $inlineHeader }}
      {{- safeHTML $stageMetaSeparatorStr -}}
      {{- end }}
      {{- with $topLevelClass }}
        <div class="{{ printf `%s_meta stage_meta` $stageType }} {{ . }}">
          <div class="stage_main">
      {{- else }}
        <span class="{{ printf `%s_meta stage_meta` $stageType }}">
      {{- end }}
      {{- safeHTML $markup }}
      {{- with $topLevelClass }}
          </div>
        </div>
      {{- else }}
        </span>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- define "partials/render_string_slice.html" }}
              {{- if reflect.IsSlice . }}
                <ul>
                {{- range . }}
                  <li>
                    {{ page.RenderString . }}
                  </li>
                {{- end }}
                </ul>
              {{- else }}
                  {{ page.RenderString . }}
              {{- end }}
{{- end }}

