{{- $page := .Page -}}
{{- $headingLevel := default 3 .HeadingLevel }}
{{- $componentClass := default "component_stages" .ComponentClass }}
{{- $childClass := default "" .ChildClass }}
{{- $partialOutput := default true .PartialOutput }}
{{- $template := "vitae/_components/stages" }}

{{- $component := .Component }}
{{- $config := .Config }}

{{- $debug := false }}
{{/* {{- $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?preview-ats` $page.RelPermalink) ) ) -}} */}}

{{- $style := default dict .Style }}
{{- $validStyles := merge (default dict .ValidStyles) (dict
  "layout" (dict
    "shallow" "shallow"
    "narrow" "narrow"
    "inline" "inline"
    "compact" (slice "shallow" "narrow" "inline")
  )
  "timeline" (dict
    "false" false
    "true" "column"
    "column" "column"
    "dot-dash" "dot-dash"
  )
  "heading" (dict
    "normal" "normal"
    "larger-1" "larger-1"
    "smaller-1" "smaller-1"
  )
  "logo" (dict
    "false" false
    "true" "left"
    "left" "left"
  )
  "label" (dict
    "unit" (dict
      "true" true
      "false" false
    )
    "function" (dict
      "true" true
      "false" false
    )
  )
) -}}

{{- $styleClassList := partial "vitae/_functions/style-class" (dict
  "Template" $template
  "Style" $style
  "ValidStyles" $validStyles
) -}}

{{- if $debug }}
  {{- warnf "%s[%s]: styleClassList=%v from\nstyle=%v\nvalidStyles=%v"
      $page $template $styleClassList
      (jsonify (dict "indent" "  ") $style)
      (jsonify (dict "indent" "  ") $validStyles ) }}
{{- end }}

{{- $renderOptInline := dict "display" "inline" }}
{{- $renderOptBlock := dict "display" "block" }}

{{- $dateFormat := default "Jan 2006" (string $component.date_format) }}

{{- $inlineSeparatorStr := default " · " $style.inline_separator }}

{{- $timelineBaseClass := "timeline" }}

{{- $timelineForSingleRole := false }}
{{- $durationFirst := false }}
{{- $periodDurationSeparator := "" }}
{{- $periodBeginEndSeparator := "–" }}
{{- with $style }}
  {{- with .timeline }}
    {{- if eq . "dot-dash" }}
      {{- $durationFirst = true }}
    {{- else if eq . "column" }}
      {{- $timelineForSingleRole = true }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $stagePeriodInHeader := true }}

{{- $inlineHeader := false }}
{{- with $style.layout }}
  {{- $inlineLayoutStyles := (slice "inline" "shallow" "compact") }}
  {{- if reflect.IsSlice . }}
    {{/* {{- warnf "%s[%s]: intersect style.layout=%v with inlineLayoutStyles=%v = %v"
        $page $template . $inlineLayoutStyles (intersect $inlineLayoutStyles .) }} */}}
    {{- $inlineHeader = gt (len (intersect $inlineLayoutStyles .) ) 0 }}
  {{- else }}
    {{- $inlineHeader = in $inlineLayoutStyles . }}
  {{- end }}
{{- end }}
{{- $organizationMetaInHeader := $inlineHeader }}
{{- $roleMetaInHeader := $inlineHeader }}


{{- $filterField := default "type" $component.filter_by -}}
{{- $filterMatch := default "professional" $component.filter_value -}}

{{- $logoImageWidthHeight := 96 }}
{{- $logoImageDisplayWidthHeight := 48 }}
{{- $sizeSpec := printf "%dx%d center png" (int $logoImageWidthHeight) (int $logoImageWidthHeight) }}
{{- $logoImageRoot := "images/organization-logos" }}

{{- $roleStarHeading := false }}
{{- $roleStarHeadingParams := (dict "HeadingLevel" $headingLevel) }}
{{- $roleSectionSeparator := false }}
{{- if .component.headings }}
  {{- $roleSectionSeparator = "role_section-separator" }}
  {{- $roleStarHeading = "role_star_column_heading" }}
{{- end }}

{{- $homeCountry := default "USA" .Data.features.contact.print.address.country }}

{{- $orgListRaw := (index .Data (default $component.component $component.collection) ) }}
{{- $orgList := slice }}
{{- range $org := $orgListRaw }}
  {{- with .roles }}
    {{- $roleList := where . $filterField $filterMatch }}
    {{- if gt (len $roleList) 0 }}
      {{- $orgList = append (merge $org (dict "roles" $roleList)) $orgList }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $numOrgs := 0 }}
{{- $singleOrg := false }}
{{- with $orgList }}
  {{- $numOrgs = len $orgList }}
  {{- $singleOrg = eq $numOrgs 1 }}
{{- end }}

{{- range $orgIdx, $org := $orgList }}

  {{- $roleList := $org.roles }}
  {{- $numRoles := (len $roleList) }}

  {{- $orgClass := "" }}
  {{- $timelineOrgClass := "" }}

  {{- if (gt $numRoles 0) }}
    {{- $firstRole := index $roleList 0 }}
    {{- $roleHasDetails := false }}
    {{ with $firstRole }}
      {{- $roleHasDetails = or .details .summary .description .achievements .star .results .responsibilities_deprecated }}
    {{- end }}
    {{- if $singleOrg }}
      {{- $timelineOrgClass = "org_single" }}
    {{- else if (eq $orgIdx 0) }}
      {{- $timelineOrgClass = "org_first" }}
    {{- else if (eq $orgIdx (sub $numOrgs 1 ) ) }}
      {{- $timelineOrgClass = "org_last" }}
    {{- end }}

    {{- $inlinePartialParams := (dict "Style" $style "Component" $component "HeadingLevel" $headingLevel) }}

    {{- $topLevelClass := strings.TrimLeft " " (delimit (append $styleClassList (slice $orgClass $timelineOrgClass $componentClass $childClass)) " ") }}

    {{- $logoImageResource := false }}
    {{- if eq "left" $style.logo }}
      <!-- Use urlize to sanitize organization name -->
      {{- $imgAssetID := printf "%s/%s*" $logoImageRoot (anchorize $org.organization) -}}
      {{- with partial "claris/_functions/resources/images/image-resource" (dict "Page" $page "resource" $imgAssetID) }}
        {{ $logoImageResource = . }}
      {{- else }}
        {{- warnf "%s[%s]: organization=%s: logo '%s' not found"
            $page $template $org.organization $imgAssetID }}
      {{- end }}
    {{/* {{- else }}
      {{- warnf "%s[%s]: style.logo=%v"
          $page $template $style.logo }} */}}
    {{- end }}

    {{- $stageHeaderClassPrefix := "stage_header" }}
    {{- $oganizationHeaderClassList := slice "organization_header stage_header" }}
    {{ if $component.organization.period }}
      {{- $oganizationHeaderClassList = append (printf "%s_period" $stageHeaderClassPrefix) $oganizationHeaderClassList }}
    {{ end }}
    {{ if $component.organization.duration }}
      {{- $oganizationHeaderClassList = append (printf "%s_duration" $stageHeaderClassPrefix) $oganizationHeaderClassList }}
    {{ end }}
    {{ if $logoImageResource }}
      {{- $oganizationHeaderClassList = append (printf "%s_logo" $stageHeaderClassPrefix) $oganizationHeaderClassList }}
    {{ end }}

    {{- if $stagePeriodInHeader }}
    <div class="{{ delimit (append $topLevelClass $oganizationHeaderClassList) ` ` }}">
    {{- end }}

    {{- if or $component.organization.period $component.organization.duration }}
      {{- with $org.roles }}
        <div class="organization_period stage_period{{ if not $stagePeriodInHeader }} {{ $topLevelClass }}{{ end }}">{{- partial
          "vitae/_functions/date-period-duration" (dict
          "PeriodList" .
          "ShowPeriod" $component.organization.period
          "ShowDuration" $component.organization.duration
          "DurationFirst" $durationFirst
          "DateFormat" $dateFormat
          "Container" "span"
          "DateContainer" "span"
          "PeriodDurationSeparator" $periodDurationSeparator
          "PeriodBeginEndSeparator" $periodBeginEndSeparator
        ) -}}</div>
      {{- end }}
    {{- end }}

    {{- if not $stagePeriodInHeader }}
    <div class="{{ delimit (append $topLevelClass $oganizationHeaderClassList) ` ` }}">
    {{- end }}

      <div class="organization_header_main stage_main">
        <h{{ $headingLevel }} class="organization_title">
        {{- if $org.website }}
          <a class="organization_link" target="_self" href="{{ $org.website }}">
        {{- end -}}
        {{ $org.organization }}
        {{- with $org.remark }}
          <span class="remark">({{ page.RenderString $renderOptInline . }})</span>
        {{- end -}}
        {{- if $org.website }}
          </a>
        {{- end }}
        </h{{ $headingLevel }}>

        {{- if $organizationMetaInHeader }}
          {{- partial "stage_meta" (merge $inlinePartialParams (dict
            "Organization" $org
            "HomeCountry" $homeCountry
            "Style" $style
            "Template" $template
          ) ) -}}
        {{- end }}
      </div>
      {{- if $logoImageResource }}
      <div class="stage_logo">
        {{- $logoImageResource = $logoImageResource.Fill $sizeSpec }}
        {{- if $org.website }}
        <a class="organization_logo_link organization_link" target="_self" href="{{ $org.website }}">
        {{- end }}
        <img class="stage_logo_img"
              src="{{ absURL $logoImageResource.Permalink }}"
              width="{{ $logoImageDisplayWidthHeight }}"
              height="{{ $logoImageDisplayWidthHeight }}"
              alt="{{ $org.organization }}">
        {{- if $org.website }}
        </a>
        {{- end }}
      </div>
      {{- end }}
    </div>

    {{- if not $organizationMetaInHeader }}
      {{- partial "stage_meta" (merge $inlinePartialParams (dict
        "Organization" $org
        "StageType" "organization"
        "HomeCountry" $homeCountry
        "TopLevelClass" $topLevelClass
        "Style" $style
        "Template" $template
      ) ) -}}
    {{- end }}

    {{- range $roleIdx, $role := $roleList }}

      {{- $stageHeaderClassPrefix := "stage_header" }}
      {{- $roleHeaderClassList := slice "role_header stage_header" }}
      {{ if $component.role.period }}
        {{- $roleHeaderClassList = append (printf "%s_period" $stageHeaderClassPrefix) $roleHeaderClassList }}
      {{ end }}
      {{ if $component.role.duration }}
        {{- $roleHeaderClassList = append (printf "%s_duration" $stageHeaderClassPrefix) $roleHeaderClassList }}
      {{ end }}

      {{- $singleRole := eq (len $roleList) 1}}

      {{- $roleClass := "" }}
      {{- if $singleRole }}
        {{- $roleClass = "role_single" }}
      {{- else if (eq $roleIdx 0) }}
        {{- $roleClass = "role_first" }}
      {{- else if (eq $roleIdx (sub (len $roleList) 1 ) ) }}
        {{- $roleClass = "role_last" }}
      {{- else }}
        {{- $roleClass = "role_within" }}
      {{- end }}

      {{- $topLevelClass = strings.TrimLeft " " (delimit (append $styleClassList (slice $roleClass $timelineOrgClass $componentClass $childClass)) " ") }}

      {{- if $stagePeriodInHeader }}
      <div class="{{ delimit (append $topLevelClass $roleHeaderClassList) ` ` }}">
        {{- if in (slice "dot-dash" "column") $style.timeline }}
          <div class="{{ printf `timeline_%s_marker stage_timeline` $style.timeline }}"></div>
        {{- end }}
      {{- end }}

        {{- if or $component.role.period $component.role.duration }}
          {{- with $role.period }}
            <div class="role_period num-roles-{{ $numRoles }} stage_period{{ if not $stagePeriodInHeader }} {{ $topLevelClass }}{{ end }}">
            {{- partial
              "vitae/_functions/date-period-duration" (dict
              "PeriodList" .
              "ShowPeriod" $component.role.period
              "ShowDuration" $component.role.duration
              "DurationFirst" $durationFirst
              "DateFormat" $dateFormat
              "Container" "span"
              "DateContainer" "span"
              "PeriodDurationSeparator" $periodDurationSeparator
              "PeriodBeginEndSeparator" $periodBeginEndSeparator
            ) -}}
            </div>
          {{- end }}
        {{- end }}

      {{- if not $stagePeriodInHeader }}
      <div class="{{ delimit (append $topLevelClass $roleHeaderClassList) ` ` }}">
      {{- end }}

        <div class="role_header_main stage_main">
          <h{{ add 1 $headingLevel }} class="role_title{{ if $role.supertitle }} supertitle{{ end }}{{ if $role.subtitle }} subtitle{{ end }}">
            {{- with $role.supertitle }}
              <span class="role_supertitle">{{ $page.RenderString . }}</span>
            {{- end }}
            {{- $page.RenderString $role.role }}
            {{- with $role.subtitle }}
              <span class="role_subtitle">{{ $page.RenderString . }}</span>
            {{- end }}
          </h{{ add 1 $headingLevel }}>
        {{- if $roleMetaInHeader }}
          {{- partial "stage_meta" (merge $inlinePartialParams (dict
            "Organization" $org
            "Role" $role
            "StageType" "role"
            "HomeCountry" $homeCountry
            "Style" $style
            "Template" $template
          ) ) -}}
        {{- end }}
        </div>
      </div>

      {{- if and (not $timelineForSingleRole) (ge $roleIdx (sub $numRoles 1) ) }}
        {{- $topLevelClass = strings.TrimLeft " " (delimit (append $styleClassList (slice $roleClass $componentClass $childClass)) " ") }}
      {{- end }}

      {{- if not $roleMetaInHeader }}
        {{- partial "stage_meta" (merge $inlinePartialParams (dict
          "Organization" $org
          "Role" $role
          "StageType" "role"
          "HomeCountry" $homeCountry
          "TopLevelClass" $topLevelClass
          "Style" $style
          "Template" $template
        ) ) -}}
      {{- end }}

      {{- $containerClass := "stage_content" }}
      {{- if in (slice "dot-dash") $style.timeline }}
        {{- $containerClass = "" }}
      {{- end }}

      {{- if default true $component.role.summary }}
        {{- with $value := $role.summary }}
          {{- with $containerClass }}
            <div class="{{ $containerClass }} {{ $topLevelClass }}">
              <div class="timeline_column_line stage_timeline">
              <div class="{{ printf `timeline_%smarker` $style.timeline }} stage_timeline"></div>
              </div>
          {{- end }}
          <div class="role_summary_container stage_main{{ with (and (not $containerClass) $topLevelClass) }} {{ . }}{{ end }}">
            {{- partial "render_string_slice" $value }}
          </div>
          {{- with $containerClass }}
            </div>
          {{- end }}
        {{- end }}
      {{- end }}

      {{- if default true $component.role.description }}
        {{- with $value := $role.description }}
          {{- with $containerClass }}
            <div class="{{ $containerClass }} {{ $topLevelClass }}">
              <div class="stage_timeline">
              </div>
          {{- end }}
          <div class="role_description_container stage_main{{ with (and (not $containerClass) $topLevelClass) }} {{ . }}{{ end }}">
            {{- partial "render_string_slice" $value }}
          </div>
          {{- with $containerClass }}
            </div>
          {{- end }}
        {{- end }}
      {{- end }}

      {{- if default true $component.role.achievements }}
        {{- with $role.achievements }}
          {{- $roleStarHeadingParams := (dict "HeadingLevel" $headingLevel) }}
          {{- range $starRecordIndex, $starRecord := . }}
            {{- with $containerClass }}
              <div class="{{ $containerClass }} {{ $topLevelClass }}">
                <div class="stage_timeline">
                </div>
            {{- end }}
            <div class="role_star_header stage_header{{ with (and (not $containerClass) $topLevelClass) }} {{ . }}{{ end }}">
              {{- if and $roleStarHeading (eq $starRecordIndex 0) }}
                {{ partial $roleStarHeading (merge $roleStarHeadingParams (dict "Section" "responsibilities_deprecated") ) }}
              {{- end }}
              <h{{ add $headingLevel 2 }} class="role_star_title">
                {{-  page.RenderString $starRecord.title -}}
              </h{{ add $headingLevel 2 }}>
              {{/* <pre>{{ jsonify (dict "indent" "  ") . }}</pre> */}}
              {{- with $starRecord.responsibilities_deprecated }}
                <div class="role_star_responsibilities role_star">
                  {{- partial "render_string_slice" . }}
                </div>
              {{- end }}
            </div>
            <div class="role_star_main stage_main{{ with (and (not $containerClass) $topLevelClass) }} {{ . }}{{ end }}">
              {{- if and $roleStarHeading (eq $starRecordIndex 0) }}
                {{ partial $roleStarHeading (merge $roleStarHeadingParams (dict "Section" "content") ) }}
              {{- end }}
              {{- with $starRecord.content }}
                <div class="role_star_achievements_deprecated role_star">
                  {{- partial "render_string_slice" . }}
                </div>
              {{- end }}
            </div>
            {{- with $containerClass }}
              </div>
            {{- end }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- define "partials/render_string_slice.html" }}
              {{- if reflect.IsSlice . }}
                <ul>
                {{- range . }}
                  <li>
                    {{ page.RenderString . }}
                  </li>
                {{- end }}
                </ul>
              {{- else }}
                  {{ page.RenderString . }}
              {{- end }}
{{- end }}

{{- define "partials/role_section-separator.html" }}
            <h{{- (add 2 .HeadingLevel) }} class="role_section-heading{{ with .TopLevelClass }} {{ . }}{{ end }}">
              <span>{{ page.RenderString (T (printf "section-title_%s" .section ) ) }}</span><span class="separator-line"></span>
            </h{{- (add 2 .HeadingLevel) }}>
{{- end }}

{{- define "partials/role_star_column_heading.html" }}
          {{- with .HeadingLevel }}
            <h{{- (add 2 .) }} class="role_star_column_heading">
          {{- end }}
          {{- with .Section }}
              {{ page.RenderString (default . (T (printf "section-title_%s" . ) ) ) }}
          {{- end }}
          {{- with .HeadingLevel }}
            </h{{- (add 2 .) }}>
          {{- end }}
{{- end }}

{{- define "partials/stage_meta.html" }}
  {{- $org := .Organization }}
  {{- $role := .Role }}
  {{- $stage := default $org $role }}
  {{- $stageType := cond (not (not .Role)) "role" "organization" }}
  {{- $homeCountry := .HomeCountry }}
  {{- $orgLocationStr := default "" .OrganizationLocationStr }}
  {{- $style := .Style }}
  {{- $component := .Component }}
  {{- $componentStageType := index .Component $stageType }}
  {{- $topLevelClass := .TopLevelClass }}
  {{- $template := .Template }}
  {{- $debug := false }}

  {{- $inlineSeparatorStr := default " · " $style.inline_separator }}

  {{- $metaConfig := (dict
    "function" (and $stage.function (default true (default $component.function $componentStageType.function)) )
    "unit" (and $stage.unit (default true (default $component.unit $componentStageType.unit)) )
    "location" (and $stage.location (default true (default $component.location $componentStageType.location)) )
    "details" (and $stage.details (default true (default $component.details $componentStageType.details)) )
  ) -}}

  {{- if $debug }}
    {{- warnf "%s[%s]: metaConfig.unit=%v[%T] component.unit=%v[%T] componentStageType=%v[%T]"
        page $template
        $metaConfig.unit $metaConfig.unit
        $component.unit $component.unit
        $componentStageType.unit $componentStageType.unit }}
  {{- end }}

  {{- $childContainer := "span" }}
  {{- if $topLevelClass }}
    {{- $childContainer = "p" }}
  {{- end }}
  {{- $markup := "" }}

  {{- if or $metaConfig.function
      $metaConfig.unit
      $metaConfig.location
      $metaConfig.details -}}

        {{- if or $metaConfig.function $metaConfig.unit $metaConfig.location }}
          {{- $functionUnitLocationMarkup := "" }}
          {{- $stageMetaSeparatorStr := $inlineSeparatorStr }}
          {{- $unitSeparatorStr := ", " }}
          {{- $stageFunctionMarkup := "" }}
          {{- $stageUnitMarkup := "" }}
          {{- $stageLocationMarkup := "" }}

          {{- if $metaConfig.function }}
            {{- with $stageFunction := $stage.function }}
              {{ with and $style.label.function (default "function" (T "stage_function_label") ) }}
                {{- $stageFunctionMarkup = printf `<span class="stage_function_label">%s:</span> <span class="stage_function">%s</span>`
                    (strings.FirstUpper . ) $stageFunction }}
              {{- else }}
                {{- $stageFunctionMarkup = printf `<span class="stage_function">%s</span>` (strings.FirstUpper . ) }}
              {{- end }}
            {{- end }}
            {{- with $stageFunctionMarkup }}
              {{- $functionUnitLocationMarkup = printf `%s<span class="stage_function">%s</span>` $functionUnitLocationMarkup . }}
            {{- end }}
          {{- end }}

          {{- if $metaConfig.unit }}
            {{- /* {{- warnf "%s[%s]: org.unit=%v division=%v %v org=%v department=%v %v org=%v"
                page $template (default true $org.unit)
                $stage.division (cond (eq $stage.division $org.division) "==" "!=") $org.division
                $stage.department (cond (eq $stage.department $org.department) "==" "!=") $org.department }} */ -}}
            {{- if or (eq $stage $org) (not (default true $org.unit) ) (ne $stage.unit $org.unit) }}
              {{- with $stage.unit }}
                {{- if reflect.IsSlice . }}
                  {{- $unitLimit := cond (eq (printf "%T" $metaConfig.unit.limit) "int") (int $metaConfig.unit.limit) 99 }}
                  {{- if $debug }}
                    {{- if (gt $unitLimit (len .)) }}
                      {{- warnf "%s[%s]: metaConfig.unit=%v[%T]: only showing %d of %d organizational units"
                          page $template $metaConfig.unit $metaConfig.unit $unitLimit (len .) }}
                    {{- end }}
                  {{- end }}
                  {{- range $unit := first $unitLimit . }}
                    {{- if reflect.IsMap . }}
                      {{- range $unitType, $unitName := . }}
                        {{- if and $unitSeparatorStr $stageUnitMarkup }}
                          {{- $stageUnitMarkup = printf `%s%s` $stageUnitMarkup $unitSeparatorStr }}
                        {{- end }}
                        {{- $stageUnitMarkup = printf `%s<span class="stage_unit">%s</span>` $stageUnitMarkup . }}
                        {{- if $metaConfig.unit.type }}
                          {{ with default $unitType (T (printf "stage_unit_type_%s" $unitType) ) }}
                            {{- $stageUnitMarkup = printf `%s <span class="stage_unit_label">%s</span>` $stageUnitMarkup . }}
                          {{- end }}
                        {{- end }}
                      {{- end }}
                    {{- else }}
                      {{- if and $unitSeparatorStr $stageUnitMarkup }}
                        {{- $stageUnitMarkup = printf `%s%s` $stageUnitMarkup $unitSeparatorStr }}
                      {{- end }}
                      {{- $stageUnitMarkup = printf `%s<span class="stage_unit">%s</span>` $stageUnitMarkup . }}
                    {{- end }}
                  {{- end }}
                {{- else }}
                  {{- if reflect.IsMap . }}
                    {{- range $unitType, $unitName := . }}
                      {{- if and $unitSeparatorStr $stageUnitMarkup }}
                        {{- $stageUnitMarkup = printf `%s%s` $stageUnitMarkup $unitSeparatorStr }}
                      {{- end }}
                      {{- $stageUnitMarkup = printf `%s<span class="stage_unit">%s</span>` $stageUnitMarkup . }}
                      {{- if $metaConfig.unit.type }}
                        {{ with default $unitType (T (printf "stage_unit_type_%s" $unitType) ) }}
                          {{- $stageUnitMarkup = printf `%s <span class="stage_unit_label">%s</span>` $stageUnitMarkup . }}
                        {{- end }}
                      {{- end }}
                    {{- end }}
                  {{- else }}
                    {{- if and $unitSeparatorStr $stageUnitMarkup }}
                      {{- $stageUnitMarkup = printf `%s%s` $stageUnitMarkup $unitSeparatorStr }}
                    {{- end }}
                    {{- $stageUnitMarkup = printf `%s<span class="stage_unit">%s</span>` $stageUnitMarkup . }}
                  {{- end }}
                {{- end }}
              {{- end }}

              {{- with $stageUnitMarkup }}
                {{- if $stageFunctionMarkup }}
                  {{- $functionUnitLocationMarkup = printf `%s%s` $functionUnitLocationMarkup $stageMetaSeparatorStr }}
                {{- end }}
                {{- with and $style.label.unit (default "unit" (T "unit") ) }}
                  {{- $functionUnitLocationMarkup = printf `%s<span class="stage_unit_label">%s:</span> `
                      $functionUnitLocationMarkup (strings.FirstUpper . ) }}
                {{- end }}
                {{- $functionUnitLocationMarkup = printf `%s%s` $functionUnitLocationMarkup (strings.FirstUpper . ) }}
              {{- end }}
            {{- end }}
          {{- end }}

          {{- if $metaConfig.location }}
            {{- with $org.location }}
              {{- $orgLocationStr = printf "%s" . }}
              {{- with $org.country }}
                {{- if ne $org.country $homeCountry }}
                  {{- $orgLocationStr = printf "%s, %s" $orgLocationStr . }}
                {{- end }}
              {{- end }}
            {{- end }}
            {{- with $stage.location }}
              {{- $stageLocationMarkup = printf "%s" . }}
              {{- with $stage.country }}
                {{- if ne $stage.country $homeCountry }}
                  {{- $stageLocationMarkup = printf "%s, %s" $stageLocationMarkup . }}
                {{- end }}
              {{- end }}
            {{- end }}
            {{- if not (and $role (eq $stageLocationMarkup $orgLocationStr)) }}
              {{- with $stageLocationMarkup }}
                {{- $functionUnitLocationMarkup = printf `%s<span class="stage_location">%s%s</span>` $functionUnitLocationMarkup (cond (not (not $stageUnitMarkup)) $stageMetaSeparatorStr "") . }}
              {{- end }}
            {{- end }}
          {{- end }}
          {{- with $functionUnitLocationMarkup }}
            {{ $markup = printf `%s<%s class="stage_function_unit_location function=%v unit=%v location=%v">%s</%s>` $markup $childContainer $metaConfig.function $metaConfig.unit $metaConfig.location . $childContainer }}
          {{- end }}
        {{- end }}

        {{- if $metaConfig.details }}
          {{- with $stage.details }}
            {{ $markup = printf `%s<%s class="stage_details">%s</%s>` $markup $childContainer (partial "render_string_slice" .) $childContainer }}
          {{- end }}
        {{- end }}

    {{- with $markup }}
      {{- with $topLevelClass }}
        <div class="{{ printf `%s_meta stage_meta` $stageType }} {{ . }}">
          <div class="stage_main">
      {{- else }}
        <span class="{{ printf `%s_meta stage_meta` $stageType }}">
      {{- end }}
      {{- if in (slice "inline") $style.layout }}
        {{- safeHTML $inlineSeparatorStr }}
      {{- end }}
      {{- safeHTML $markup }}
      {{- with $topLevelClass }}
          </div>
        </div>
      {{- else }}
        </span>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
