{{- $contentTypeMetaVariant := dict }}
{{- $page := page }}
{{- $template := "vitae/head/title" }}
{{- $debug := false }}
{{- /* {{- $debug = page.Scratch.Get "clarisdebug" }} */ -}}
{{- /* $debug = or $debug (not (not (findRE `^/([^/]+-demo/)?` $page.RelPermalink) ) ) */ -}}

{{- $metaVariant := dict }}
{{- if reflect.IsMap . }}
  {{- with .Page }}
    {{- $page = . }}
  {{- end }}
  {{- with .meta }}
    {{- $metaVariant = .}}
  {{- end }}
{{- end }}

{{- with $page }}
  {{- $title := $metaVariant.Formatted.Title }}
  {{- $headline := $metaVariant.Formatted.Headline }}
  {{- $role := (.Page.Param "role") | $page.RenderString | partial "claris/_functions/sanitize" }}
  {{- $titleDateFormat := "2006-01-02"}}

  {{- if $title }}
    {{- with (findRE `\{[^\}" ]+\}` $title) }}
      {{- range . }}
        {{- $datePlaceholder := lower (trim . "{}") }}
        {{/* {{- warnf "%s[%s]: $datePlaceholder=%v"
            $page $template $datePlaceholder }} */}}
        {{- $date := $page.Date }}
        {{- if (eq $datePlaceholder "publishdate" ) }}
          {{- $date = $page.PublishDate }}
        {{- else if (eq $datePlaceholder "expirydate" ) }}
          {{- $date = $page.ExpiryDate }}
        {{- else if (eq $datePlaceholder "lastmod" ) }}
          {{- $date = $page.Lastmod }}
        {{- else if (eq $datePlaceholder "now" ) }}
          {{- $date = now }}
          {{- $titleDateFormat = "2006-01-02T15-04-05"}}
        {{- end }}
        {{- $title = replaceRE . ($date | time.Format $titleDateFormat) $title }}
        {{- if $debug }}
          {{- warnf "%s[%s]: \ntitle=%v\n$date=%v from\n.Title=%v\n.Date=%v\n.PublishDate=%v\n.ExpiryDate=%v\n.Lastmod=%v"
              $page $template $title $date $page.Title
              $page.Date $page.PublishDate $page.ExpiryDate $page.Lastmod }}
        {{- end }}
      {{- end }}
    {{- end }}
    {{- $headline := $title }}
    {{- if and $title (ne (trim (lower site.Title) "") (trim (lower $title) "")) }}
      {{- if $role }}
        {{- if eq .Layout "letter" }}
          {{- $headline = printf "%s %s" (T "application-for-position") $role }}
        {{- else if eq .Layout "resume" }}
          {{- $title = printf "%s %s" (T "resume-for-position") $role }}
        {{- end }}
      {{- end }}
    {{- end }}
    {{- with $page.Param "titleSeparator" }}
      {{ $headline = printf "%s %s %s" $headline (safeHTML .) site.Title }}
    {{- end }}
  {{- else }}
    {{- $title = site.Title }}
    {{- $headline = $title }}
  {{- end }}

  {{- $contentTypeMetaVariant = (dict
    "Formatted" (dict
      "title" $title
      "headline" $headline
    )
  ) }}
  {{- if $debug }}
    {{- warnf "%s[%s]: .Kind=%s title=%s supertitle=%v headline=%s from .Singular=%v .Plural=%v .Section=%v .Title=%v"
        $page $template .Kind $contentTypeMetaVariant.title $contentTypeMetaVariant.supertitle $contentTypeMetaVariant.headline
        .Data.Singular .Data.Plural .Section .Title }}
  {{- end }}
{{- else }}
  {{- errorf "%s[%s]: Missing argument .Page=%v" $page $template $page }}
{{- end }}
{{- return $contentTypeMetaVariant }}
