{{- $titleVariant := dict }}
{{- $page := page }}
{{- $template := "vitae/head/title" }}
{{- $debug := false }}
{{- /* {{- $debug = page.Scratch.Get "clarisdebug" }} */ -}}
{{- /* {{- $debug = or $debug (not (not (findRE `profile` $page.RelPermalink) ) ) }} */ -}}

{{- with $page }}
  {{- $title := .Title | .RenderString | plainify }}
  {{- $subtitle := "" }}
  {{- $supertitle := "" }}
  {{- $fulltitle := "" }}
  {{- $role := (.Page.Param "role") | markdownify | plainify }}
  {{- $titleDateFormat := "2006-01-02"}}

  {{- if $title }}
    {{- with (findRE `\{[^\}" ]+\}` $title) }}
      {{- range . }}
        {{- $datePlaceholder := lower (trim . "{}") }}
        {{/* {{- warnf "%s[%s]: $datePlaceholder=%v"
            $page $template $datePlaceholder }} */}}
        {{- $date := $page.Date }}
        {{- if (eq $datePlaceholder "publishdate" ) }}
          {{- $date = $page.PublishDate }}
        {{- else if (eq $datePlaceholder "expirydate" ) }}
          {{- $date = $page.ExpiryDate }}
        {{- else if (eq $datePlaceholder "lastmod" ) }}
          {{- $date = $page.Lastmod }}
        {{- else if (eq $datePlaceholder "now" ) }}
          {{- $date = now }}
          {{- $titleDateFormat = "2006-01-02T15-04-05"}}
        {{- end }}
        {{- $title = replaceRE . ($date | time.Format $titleDateFormat) $title }}
        {{- if $debug }}
          {{- warnf "%s[%s]: \ntitle=%v\n$date=%v from\n.Title=%v\n.Date=%v\n.PublishDate=%v\n.ExpiryDate=%v\n.Lastmod=%v"
              $page $template $title $date $page.Title
              $page.Date $page.PublishDate $page.ExpiryDate $page.Lastmod }}
        {{- end }}
      {{- end }}
    {{- end }}
    {{- $fulltitle = $title }}
    {{- if and $title (ne (trim (lower site.Title) "") (trim (lower $title) "")) }}
      {{- if $role }}
        {{- if eq .Layout "letter" }}
          {{- $fulltitle = printf "%s %s" (T "application-for-position") $role }}
        {{- else if eq .Layout "resume" }}
          {{- $title = printf "%s %s" (T "resume-for-position") $role }}
        {{- end }}
      {{- end }}
    {{- end }}
    {{- with .Page.Param "titleSeparator" }}
      {{ $fulltitle = printf "%s %s %s" $fulltitle (safeHTML .) site.Title }}
    {{- end }}
  {{- else }}
    {{- $title = site.Title }}
    {{- $fulltitle = $title }}
  {{- end }}

  {{- $titleVariant = (dict
    "title" $title
    "subtitle" $subtitle
    "supertitle" $supertitle
    "fulltitle" $fulltitle
    ) }}
  {{- if $debug }}
    {{- warnf "%s[%s]: .Kind=%s title=%s supertitle=%v fulltitle=%s from .Singular=%v .Plural=%v .Section=%v .Title=%v"
        $page $template .Kind $titleVariant.title $titleVariant.supertitle $titleVariant.fulltitle
        .Data.Singular .Data.Plural .Section .Title }}
  {{- end }}
{{- end }}
{{- return $titleVariant }}
