{{- $page := .Page }}
{{- $template := "vitae/head/title" }}
{{- $title := .Title | markdownify | plainify }}
{{- $role := (.Page.Param "role") | markdownify | plainify }}

{{- if and $title (ne (trim (lower .Site.Title) "") (trim (lower $title) "")) }}
  {{- if eq .Kind "taxonomy" }}
    {{- $title = default $title ( T (lower $title) ) }}
  {{- else if $role }}
    {{- if eq .Layout "letter" }}
      {{- $title = printf "%s %s" (T "application-for-position") $role }}
    {{- else if eq .Layout "resume" }}
      {{- $title = printf "%s %s" (T "resume-for-position") $role }}
    {{ end }}
  {{ end }}
{{ end }}
{{- if $title }}
  {{- with (findRE `\{[^\}" ]+\}` $title) }}
    {{- range . }}
      {{- $datePlaceholder := lower (trim . "{}") }}
      {{/* {{- warnf "%s[%s]: $datePlaceholder=%v"
          $page $template $datePlaceholder }} */}}
      {{- $date := $page.Date }}
      {{- if (eq $datePlaceholder "publishdate" ) }}
        {{- $date = $page.PublishDate }}
      {{- else if (eq $datePlaceholder "expirydate" ) }}
        {{- $date = $page.ExpiryDate }}
      {{- else if (eq $datePlaceholder "lastmod" ) }}
        {{- $date = $page.Lastmod }}
      {{- end }}
      {{- $title = replaceRE . ($date | time.Format "2006-01-02") $title }}
      {{/* {{- warnf "%s[%s]: .Date=%v .PublishDate=%v .ExpiryDate .Lastmod=%v $date=%v title=%v"
          $page $template $page.Date $page.PublishDate $page.ExpiryDate $page.Lastmod $date $title }} */}}
    {{- end }}
  {{- end }}
  {{- with .Page.Param "titleSeparator" }}
    {{ $title = printf "%s %s %s" $title (safeHTML .) .Site.Title }}
  {{- end }}
{{- else }}
  {{- $title = .Site.Title }}
{{- end }}
{{- return $title }}
